/*Вот что нужно:
2) второе что главное это меню (списки) - <ul><li></li></ul> - классы использовать только для ul это я про меню разные
- "не меню" - списки и классы неважно
у всех страниц должна быть одинаковая главная структура - типа хедер, контент, футер
чтобы не было такого что контейнер контента у разных страниц разный*/
/* Custom CSS overrides */
body{
	margin:0 0;
	font: normal 16px/1.2 Arial, Helvetica, sans-serif;
	width: 100%; /*142%;*/ /*1920px;*/
}
ul {
	padding-left: 0;
	margin-bottom: 0;
}
a, a:hover {
	text-decoration: none;
}

								/*INDEX PAGE*/
/*BEGIN OF TOP-BLOCK */
.top-block {
/*
	max-height: 903px;	
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% 100%;	
*/
	position: relative;
	max-height: 903px;
	background: #a8dbd2;
}

/*NAVIGATION MENU*/
.main-nav1 {
/*	position: relative;*/
	top: 50px;
	background-color: #a8dbd2;
	opacity: 0.82;
	height: 96px;
/*	margin-bottom: 76px;*/
	
	position: absolute;
	width: 100%;
	z-index: 999;
}

.main-nav1 nav ul li{
	display: inline-block;
	list-style-type: none;
	margin-right: 0;
}

.main-nav1 nav ul li a{
	font-size: 125%;/*20px;*/
	line-height: 1.2;
	color: #434343;
	margin-right: 16px;
	margin-left: 11px;
}

.nav-group1 {
	margin-top:0;
	padding: 34px 100px 44px 0px;
}

img#eco-sol-logo {
	max-width: 207px;
	position: relative;
	left: -109px;
	top: -38px;
}

.nav-group2 {
	margin-top:0;
	padding: 34px 0 37px 0;
}

.nav-group2 img, .nav-group2 span {
	display: inline-block;
}

.nav-group2 img {
	vertical-align: baseline;
	margin-right: 6px;
}

span.phonm {
	font-size: 150%; /*24px;*/
	line-height: 1.625;/*39px;*/
	color: #5a4739;
	margin-right: 9px;
}

/*text of bottom part of header*/
.header-row {
/*	margin-top: 92px;*/
	display: flex;
	height: 903px;
}
div.header-text{
/*
	margin-top: 76px;
	padding-bottom: 148px;
*/
	padding-top: 265px;
}
div.header-text h1 {
	font: normal 225%/1.2 Arial, Helvetica, sans-serif;
	color: #5b463a;
	margin-top: 27px;
	margin-bottom: 0;
}
div.header-text h2{
	margin-top: 5px;
}
span#eco-sol {
	font: normal 200%/1.2 Arial, Helvetica, sans-serif;
	color: #5b463a;
}

p#header-par {
	font: normal 562.5%/1.2 "Impact", sans-serif;
	margin-top: -5px;
	margin-left: -6px;
	color: #3fa190;
	text-transform: uppercase;
}

div.main-nav1 nav ul li a:hover{
	text-decoration: none;
	color: #fff;
}
.xs-menu {
	display: none;
}

							/*BEGIN CHOOSE BLOCK*/
.choose-block, .quest-block {
	background: url(../img/bg-brown.png) repeat 0 0;
}

h2.block-header1, h2.block-header2 {
	font: 400 344%/0.875 "Century Gothic", sans-serif;
	color: #53c5b1;
	text-transform: uppercase;
	margin-top: 85px;
	margin-bottom: 82px;
}

.dropdowns{
	padding-bottom: 110px;
}

.box-dropdws {
	padding-left: 12px;
	padding-right: 12px;
}

.dropdown {
	padding-left: 6px;
}

button.drop1, input.drop1 {
	background-color: #ececec;
	width: 271px;
	height: 78px;
	color: #5b463a;
	padding-left: 10px;
	font-size: 155.5%;/*24.88px;*/	
	line-height: 2.333;/*58.05px;*/
	text-align: left;
	margin-bottom: 0;
	border: none;
}

button.drop1 {
	border-radius: 0;
}

button.drop1:hover {
	color: #5b463a;
}
button.drop1 span {
	display: inline-block;
	float: left;
}

.caret-img {
	display: inline-block;
	float: right;
	position: relative;
	top: 20px;

}

div.dropdown ul li a{
	background-color: #ececec;
	color: #a8dbd2;
	font-size: 155.5%; /*24.88px;*/
	line-height: 2.333; /*58.05px;*/
	width: 271px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: #5b463a;
}

div.dropdown ul li {
	list-style:none; 
}

.box-range {
	padding-left: 30px;
	padding-top: 30px;
}

.drop2{
	width: 274px;
}

.box-find{
	padding-left: 40px;
}

button#find-btn {
	background-color: #53c5b1;
	width: 269px;
	color: #ffffff;
	border: 0.5px solid #53c5b1;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 199.4%; /*31.91px;*/
	line-height: 1.802; /*57.5px;*/
	padding: 8px 77px;
}

button#find-btn:hover, button#contact-us:hover, input#send-msg:hover, button#contact-us2:hover {
	color: #5a4739;
}

/*override*/
.dropdown-menu {
	background-color: #ececec;
	border:none;
	margin-left: 5px;
}
									/*BEGIN CHOOSE BLOCK*/


									/*BEGIN SLIDE-BLOCK*/
.slider-sm{
		display: none;
	}
.slide-block {
	height: 900px; /*910px;*/
}

div#item-slide1, div#item-slide2 {
	max-height: 950px;
}

div#item-slide1 .flat-slide, div#item-slide2 .flat-slide{
	height: 912px;
}
.no-padding {
	padding: 0;
}
.thumb-slide1 {
	background-color: #c6f1e9;
	padding: 65px 0 39px 0;
	border: none;
	border-radius: 0;

}
.thumb-slide2 {
	background-color: #a8dbd2;
	padding: 65px 0 39px 0;
	border: none;
	border-radius: 0;
}
.thumbnail img.flat-left, .thumbnail  img.flat-right {
	margin-left: 20px;
	height: 398px;
}

/*LEFT SLIDE*/
.flat-info1 h3 {
	font: normal 187.5%/3 "Century Gothic", Arial, sans-serif;
	color: #5d4539;
	padding: 0 0 0 45px;
	margin-top: 0;
}

.flat-info2 h3 {
	font: normal 187.5%/3 "Century Gothic", Arial, sans-serif;
	color: #5d4539;
	padding: 0 0 0 20px;
	margin-top: 0px;
}

dl dt, dl dd, .flat-info1 h6, .flat-info2 h6   {
	font: normal 87.5%/1.7 Arial, Helvetica, sans-serif;
	color: #262626;
}

dl.dl-col1 dt, dl.dl-col2 dt, dl.dl-col3 dt {
	text-align: left;
}

dl.dl-col1, .flat-info1 h6, dl.dl-col2  {
	padding-left: 0px;
}
dl.dl-col1, dl.dl-col3 {
	margin-top: 8px;
	margin-bottom: 25px;
}

.flat-info1 h6, .flat-info2 h6 {
	margin-bottom: 0;
}


dl.dl-col3 {
	padding-left: 9px;
}

dl.dl-col3 dt {
	width: 140px;
}
dl.dl-col3 dd {
	margin-left: 145px;
}

/*RIGHT SLIDE*/

.flat-info2 dl.dl-col1, .flat-info2 h6, .flat-info2 dl.dl-col2 {
	padding-left: 40px;
}
.flat-info2 dl.dl-col3 {
	padding-left: 40px;
}

.carousel-inner {
	max-height: 910px;
}

/*overrides of carusel style from boostrap business theme*/
*.carousel .carousel-control {
	background-color: rgba(0,0,0,0);
	overflow: visible;
	border-radius: 0;
}

.carousel a.carousel-control:active, .carousel a.carousel-control:hover {
	background-color: rgba(0,0,0,0);
}
.carousel .carousel-control.right {
    right: 135px;
}

.carousel .carousel-control.left {
    left: 139px;
}

									/*END SLIDE-BLOCK*/


									/*BEGIN QUEST BLOCK*/

h2.block-header2 {
	margin-top: 61px;
	margin-bottom: 43px;
}

button#contact-us {
	background-color: #53c5b1;
	max-width: 643px;
	color: #ffffff;
	border: 0.5px solid #53c5b1;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 187.5%;
	line-height: 1.8;
	padding: 17px 89px;
}

.quest-row {
	padding-left:0;
	padding-right: 0;
}

.form-group {
	margin-bottom: 25px;
}

.form-group label {
	font: normal 150%/1.25 Arial, Helvetica, sans-serif;
	color: #fff;
	padding-top: 10px;
}

.form-group input.form-control, .form-group textarea.form-control {
	display: block;
	font-size: 100%;
	line-height: 1.2;
	color: #5a4739;
}

.form-group textarea.form-control {
	padding-bottom: 15px;
}

input#send-msg {
	font: normal 150%/1.25 Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: #53c5b1;
	color: #ffffff;
	border: 0.5px solid #53c5b1;
	border-radius: 0;	
	padding: 10px 16px;
}

div#btn-collapse {
	margin-bottom: 69px;
}
								/*END QUEST BLOCK*/


								/*BEGIN CONTACT BLOCK*/

div#green-box {
	background-color: #a8dbd2;
}

div.address {
	padding-top: 157px;
	padding-left: 11px;
}

div.address h3, div.address p {
	font: normal 150%/1.35 Arial, Helvetica, sans-serif;
	color: #5a4739;
	margin-top: 0;
}

p#numbers-ph {
	font-size: 187.5%;
	line-height: 1.5;
	font-weight: normal;
}

h3#addr-name {
	margin-bottom: 50px;
}

p#addr-street {
	margin-bottom: 88px;
}

p#addr-mail {
	margin-top: 105px;
}

div.btn-container {
	padding-top: 82px;
	padding-bottom: 178px;
	padding-left: 10px; 
}

div.soc-btns1 {
	padding-left: 11px;
}

div.soc-btns1 .soc-btn {
	padding: 4px 4px 5px 7px;
}

a.soc-btn:hover, .soc-btn2 a:hover {
	-webkit-filter: brightness(50%);
}

div.map{
	padding: 0 0 0 10px;
}

div.map img{
	height: 910px;
}

								/*BEGIN FOOTER BLOCK*/
.footer-block {
	background-color: #3FA190;
	color: #fefefe;
	font-size: 87.5%;
	line-height: 2.143;
	font-weight: normal;
}
	
div.bott-margin {
	padding: 59px 0 67px 53px;
}

div.bott-margin1 {
	padding: 59px 0 67px 53px;
}

div.bott-margin2 {
	padding: 59px 58px 67px 0px;
}

div.footer-block nav ul li {
	list-style-type: none;
	text-transform: uppercase;
}

div.footer-block ul li {
	list-style-type: none;
}

.nav-bottom1 {
	padding-left: 30px;
	margin-right: 38px;
	border-right: 1px solid #fff;
	min-height: 164px;
}

.nav-bottom1 a, .nav-bottom2 a {
	color: #fff;
}

.nav-bottom1 a:hover, .nav-bottom2 a:hover {
	color: #434343;
}

img#eco-sol-logo-white {
	max-width: 207px;
	position: relative;
	left: -155px;
	top: -21px;
}

ul#footer-address {
	padding-left: 0;
	padding-right: 45px;
	border-right: 1px solid #fff;
	min-height: 164px;
}

div.soc-btn2 {
	padding-left:0;
}

div.soc-btns2 {
	padding: 69px 0px 67px 0px;
	margin-bottom: 2em;
}

div.soc-btns2 a.btn {
	padding-left: 0;
	padding-right: 15px;
}
								/*END FOOTER BLOCK*/


								/*MEDIA QUERIES*/

								/*SCREEN MD*/

@media screen and (min-width: 992px) and (max-width: 1499px) {
	body {
		width: 100%;
		font-size: 14px;
	}
	
	/*TOP BLOCK*/
	.top-block {
		max-height: 100%;
	}

	.main-nav1 nav ul li a{
		font-size: 1em;
		line-height: 1.6;
		margin-right: 5px;
    	margin-left: 5px;
	}
	   
	.nav-group1 {
 	    padding: 24px 100px 24px 0px;
 	    z-index: 10;
	}

	.nav-group2 {
        padding: 34px 0 37px 0px;
	}

	span.phonm {
    	font-size: 120%;
    	line-height: 1.625;
	}

	div.header-text {
    	margin-top: 26px;
	}
	
	/*CHOOSE BLOCK*/
	button.drop1, input.drop1 {
        width: 100%;
	}

	div.dropdown ul li a {
        width: 100%;
	}
	button#find-btn {
        width: 165px;
        padding: 8px 36px;
    }

    /*SLIDE BLOCK*/
    .slide-block {
    	height: 800px;
	}
    .thumbnail img.flat-right, .thumbnail img.flat-left {
    	margin-left: 0;
    	height: 215px;
	}

	.flat-info1 h3, .flat-info2 h3 {
		line-height: 2;
		padding: 0;
	}

	dl.dl-col3 {
   		padding-left: 15px;
	}
	
	.flat-info2 dl.dl-col3 {
	    padding-left: 54px;
	}

	.thumb-slide1, .thumb-slide2 {
        padding: 65px 0 0 0;
        margin-bottom: 0;
        height: 800px;
	}
	
	.carousel .carousel-control.left {
    	left: 40px;
	}
	.carousel .carousel-control.right {
    	right: 40px;
	}

	/*QUESTION BLOCK */
	button#contact-us {
        font-size: 1.5em;
    	padding: 17px 15px;
	}

	/*FOOTER BLOCK*/
	div.bott-margin {
 	   padding: 59px 0 0 0;
	}

	div.bott-margin2 {
	    padding: 59px 0px 67px 0px;
	}

	ul#footer-address {
        padding-right: 20px;
	}

	div.soc-btns2 {
    	padding: 69px 0px 67px 35px;
	}
} /* end of MD SCREEN*/

								/* SCREEN SM*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	body {
		width: 100%;
		font-size: 12px;
	}

	/*navigator menu*/
	.top-block {
		height: 100%;
/*
		background: url("../img/header.jpg") no-repeat center top;
		background-size: 100%;
*/
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.main-nav1 {
		display: block;
/*		position: relative;*/
		top: 30px;
		background-color: #a8dbd2;
		opacity: 0.82;
		margin-bottom: 20px;
		max-height: 58px;
	}
	
	.main-nav1 nav ul li a{
		font-size: 1em;
		line-height: 2;
		color: #434343;
		margin-right: 5px;
		margin-left: 6px;
	}

	.nav-group1 {
		margin-top:0;
		padding: 10px 0 14px 0px;
	}
	
	img#eco-sol-logo {
		max-width: 125px;
		position: relative;
		left: -74px;
		top: -15px;
	}

	.nav-group2 {
		margin-top:0;
		padding: 15px 0 0 0px;
	}

	.nav-group2 img, .nav-group2 span {
		display: inline-block;
	}

	.nav-group2 img {
		vertical-align: middle;
		margin-right: 6px;
	}

	span.phonm {
		font-size: 1.167em;
		line-height: 1.2;
		color: #5a4739;
		margin-right: 0;
	}
	
	/*text of bottom part of header*/
	.header-row {
/*		margin-top: 25px;*/
	}

	div.header-text{
		margin-top: 20px;
		padding-bottom: 0;
		padding-left: 7px;
	}

	div.header-text h1 {
		font: normal 1.4em/1.2 Arial, Helvetica, sans-serif;
		color: #5b463a;
		margin-top: 7px;
		margin-bottom: 0;
	}

	div.header-text h2{
		margin-top: 5px;
	}

	span#eco-sol {
		font: normal 1em/1.2 Arial, Helvetica, sans-serif;
		color: #5b463a;
	}

	p#header-par {
		font: normal 3.2em/1.2 "Impact", sans-serif;
		color: #3fa190;
		text-transform: uppercase;
		margin-top: -5px;
		margin-left: 0;
		margin-bottom: 20px;
	}
				/*END OF TOP BLOCK*/

				/*BEGIN CHOOSE BLOCK*/
	h2.block-header1{
	   margin-top: 61px;
	   margin-bottom: 61px;
	}

	button.drop1, input.drop1 {
		margin-bottom: 30px;
		width: 100%;
    	height: 100%;
	}

	button#drop-section .caret-img {
		margin-left: 117px;
	}

	.box-range {
		padding-left: 17px;
		padding-top: 30px;
		margin-bottom: 40px;
	}

	input.drop2{
		width: 100%;
	}

	.box-find{
		padding-left: 18px;
	}

	button#find-btn {
		text-align: center;
		width: 100%;
	}

	.dropdowns {
    	padding-bottom: 61px;
	}

				/*END CHOOSE BLOCK*/

				/*BEGIN SLIDE BLOCK*/
	.slider-md{
		display: none;
	}
	.slider-sm {
		display: block;
	}
	.carousel-inner, .slide-block {
     	max-height: 785px;
	}
	.thumb-slide1, .thumb-slide2  {
    	padding: 65px 0 15px 0;
    }	
	.thumbnail img.flat-left, .thumbnail img.flat-right {
    	margin-left: 0;
	}
	.thumbnail {
        margin-bottom: 0px;
	}
	.thumb-slide2 {
   		padding: 65px 0 15px 0;
   	}
   	.flat-info2 dl.dl-col1, .flat-info2 h6, .flat-info2 dl.dl-col2, .flat-info2 dl.dl-col3 {
    	padding-left: 0;
    }

	.carousel .carousel-control.left {
    	left: 50px;
	}
	.carousel .carousel-control.right {
    	right: 50px;
    }	
				/*END SLIDE BLOCK*/



				/*BEGIN QUESTION*/
	button#contact-us {
        width: 100%;
	}
				/*END QUESTION*/

				/*BEGIN CONTACTS*/
	div.address {
		padding-top: 70px;
		padding-left: 11px;
	}

	h3#addr-name {
		margin-bottom: 44px;
	}

	p#addr-street {
		margin-bottom: 60px;
	}

	p#addr-mail {
		margin-top: 50px;
	}

	div.btn-container {
	    padding-top: 60px;
	    padding-bottom: 90px;
	    padding-left: 10px;
	}

	div.map {
		padding: 0;
	}

	div.map img {
		width: 100%;
		height: auto;
	}
				/*END CONTACTS*/
	
				/*BEGIN FOOTER*/
	.nav-bottom1 {
		margin-right: 0;
		min-height: auto;
	}

	div.bott-margin {
		padding: 25px 0 10px 53px;
	}

	div.bott-margin1 {
		padding: 15px 0 0 53px;
	}

	div.bott-margin2 {
		padding: 25px 0 35px 0px;
	}

	img#eco-sol-logo-white {
	    max-width: 155px;
	    position: relative;
	    left: 0;
	    top: 0;
	}

	ul#footer-address {
	    padding-left: 0;
	    padding-right: 50px;
	    border-right: 1px solid #fff;
	    min-height: auto;
	}	

	div.soc-btns2 {
		padding: 50px 0px 10px 35px;
		margin-bottom: 0;
	}
					/*END FOOTER*/
} /*END of SCREEN SM*/

								/* SCREEN XS*/
@media screen and (max-width: 767px) {

	body {
		width: 100%;
		font-size: 10px;
	}

	.xs-menu {
	display: block;
	}

		/*navigator menu*/
	.top-block {
		height: 100%;
		max-height: 1000px;
/*
		background: url("../img/header.jpg") no-repeat center top;
		background-size: 100%;
*/
		font-family: Arial, Helvetica, sans-serif;
	}

		/*fonts and margins of header menu*/
	.main-nav1 {
		display: none;
	}

	.main-nav2 {
		background-color: #a8dbd2;
		opacity: 0.82;
	}
	
	.main-nav2 nav ul li{
		display: block;
		list-style-type: none;
		margin-right: 0;
	}

	.main-nav2 nav ul li a{
		font-size: 1.5em;
		line-height: 1.2;
		color: #434343;
		margin-right: 0;
		margin-left: 0;
	}

	.nav-group1 {
		margin-top:0;
		padding: 10px 0 14px 12px;
	}
	
	div.main-nav2 nav ul li a:hover{
		text-decoration: none;
		color: #fff;
	}

	img#eco-sol-logo1 {
		max-width: 115px;
		position: relative;
		left: -20px;
		top: 10px;
	}

	.nav-group2 {
		margin-top:0;
		padding: 0 0 10px 12px;
	}

	.nav-group2 img, .nav-group2 span {
		display: inline-block;
	}

	.nav-group2 img {
		vertical-align: middle;
		margin-right: 6px;
	}

	span.phonm {
		font-size: 1.167em;
		line-height: 1.2;
		color: #5a4739;
		margin-right: 0;
	}

	/*text of bottom part of header*/
	.header-row {
		margin-top: 0px;
	}

	div.header-text{
		margin-top: 5px;
		padding-bottom: 0;
		padding-left: 10px;
	}

	div.header-text h1 {
		font: normal 1em/1.2 Arial, Helvetica, sans-serif;
		color: #5b463a;
		margin-top: 7px;
		margin-bottom: 0;
	}

	div.header-text h2{
		margin-top: 0;
	}

	span#eco-sol {
		font: normal 0.6em/1.2 Arial, Helvetica, sans-serif;
		color: #5b463a;
	}

	p#header-par {
		font: normal 2em/1.2 "Impact", sans-serif;
		margin-top: -5px;
		margin-left: 0;
		margin-bottom: 10px;
		color: #3fa190;
		text-transform: uppercase;
	}
			/*END TOP BLOCK*/

			/*BEGIN CHOOSE BLOCK*/
	h2.block-header1{
	   margin-top: 61px;
	   margin-bottom: 61px;
	}

	button.drop1, input.drop1 {
		margin-bottom: 30px;
		width: 100%;
    	height: 100%;
	}

	button#drop-section .caret-img {
		margin-left: 40px;
	}

	.caret-img {
	    top: 12px;
	}

	div.dropdown ul li a {
   		width: auto;
   		font-size: 125%;
		line-height: 2.333;
	}

	.box-range {
		padding-left: 17px;
		padding-top: 30px;
		margin-bottom: 40px;
	}

	input.drop2{
		width: 100%;
	}

	.box-find{
		padding-left: 18px;
	}

	button#find-btn {
		text-align: center;
		width: 100%;
	    padding: 8px 20px;
	}

	
	.dropdowns {
    	padding-bottom: 31px;
	}

			/*END CHOOSE BLOCK*/
	
			
			/*BEGIN SLIDE BLOCK*/
	.slider-md{
		display: none;
	}
	.slider-sm {
		display: block;
	}
	.carousel-inner, .slide-block {
    	height: 720px;
	}
	.thumbnail img.flat-left, .thumbnail img.flat-right {
    	margin-left: 0;
    	height: 250px;
	}
	.thumbnail {
        margin-bottom: 0px;
    }

    .thumb-slide1, .thumb-slide2  {
    	padding: 25px 0 20px 0;
    }

    .flat-info1 h3, .flat-info2 h3{
    	padding: 0;
    	line-height: 2;
    }
    dl dt, dl dd, .flat-info1 h6, .flat-info2 h6 {
    	font-size: 1.1em;
    }
    dl.dl-col1, dl.dl-col2, dl.dl-col3 {
    	min-height: 90px;
    	margin-bottom: 0;
    }

    .flat-info1 h6, .flat-info2 h6{
    	margin-top: 10px;
    	margin-bottom: 5px;
    }
    .carousel .carousel-control.left {
    	left: 40px;
   	}
	.carousel .carousel-control.right {
    	right: 50px;
    }
    dl.dl-col1 dt, dl.dl-col2 dt, dl.dl-col3 dt {
    	width: 100px;
    	display: inline-block;
    	float: left;
    	clear: left;
    }

    dl.dl-col1 dd, dl.dl-col2 dd, dl.dl-col3 dd{
    	display: inline-block;
    	float: left;
    	clear: right;
    	margin-left: 5px;
    }

    dl.dl-col3, .flat-info2 dl.dl-col3 {
    	padding-left: 15px;
	}

	.flat-info2 dl.dl-col1, .flat-info2 h6, .flat-info2 dl.dl-col2 {
		padding-left: 0;
	}
		
			/*END SLIDE BLOCK*/

			/*BEGIN QUESTION*/
	button#contact-us {
        width: 100%;
        font-size: 1.7em;
    	line-height: 1.8;
    	padding: 17px 5px;
	}
	div#btn-collapse {
    	margin-bottom: 59px;
	}
			/*END QUESTION*/

			/*BEGIN CONTACTS*/
	div.address {
		padding-top: 70px;
		padding-left: 11px;
	}

	h3#addr-name {
		margin-bottom: 44px;
	}

	p#addr-street {
		margin-bottom: 60px;
	}

	p#addr-mail {
		margin-top: 50px;
	}

	div.btn-container {
	    padding-top: 30px;
	    padding-bottom: 60px;
	    padding-left: 10px;
	}

	div.map {
		padding: 0;
	}

	div.map img {
		width: 100%;
		height: auto;
	}
			/*END CONTACTS*/
	
			/*BEGIN FOOTER*/
	.nav-bottom1 {
		margin-right: 0;
		min-height: auto;
	}

	div.bott-margin {
		padding: 25px 0 10px 15px;
	}

	div.bott-margin1 {
		padding: 15px 0 0 53px;
	}

	div.bott-margin2 {
		padding: 25px 0 35px 0px;
	}

	img#eco-sol-logo-white {
	    max-width: 155px;
	    position: relative;
	    left: 0;
	    top: 0;
	}

	ul#footer-address {
	    padding-left: 0;
	    padding-right: 15px;
	    border-right: 1px solid #fff;
	    min-height: auto;
	}	

	div.soc-btns2 {
		padding: 30px 0px 15px 0px;
		margin-bottom: 0;
	}

	div.soc-btn2 {
    	padding-left: 15px;
	}

	div.soc-btns2 a.btn {
	    padding-left: 0;
	    padding-right: 10px;
	}
		/*END FOOTER*/
} /*END SCREEN XS*/



                                        /*COMPANY PAGE */
.top-company {
	background-image: none;
	background: linear-gradient(90deg, #a8dbd2 50%, #c6f1ed 50%);
}

.comp-header {
	margin-top: -10px;
}

		/*BEGIN BREADCRUMBS*/
ol.breadcrumb {
	padding:0;
	background: none;
	border:none;
	font-size: 0.875em;
	line-height: 1.2;
	color: #919191;
	margin-bottom: 80px;
}

ol.breadcrumb li+li:before {
    padding-left: 3px;
    color: #919191;
    content: "-";
}

ol.breadcrumb li a {
    color: #919191;
    text-decoration: none;
}

ol.breadcrumb li a:hover {
    color: #919191;
    text-decoration: underline;
}
		/*END BREADCRUMBS*/

.comp-par {
	font-size:1.125em;
	line-height: 1.667;
	color: #5b463a;
	padding-right: 90px;
	margin-bottom: 27px
}

.comp-main-logo {
	max-height: 725px;
}

img#comp-logo {
	position: relative;
	top: -58px;
	left: 100px;
}


/*BEGIN MAIN-BLOCK*/
.buiding-bg {
	background: url(../img/comp-building.jpg) no-repeat 50% 50%;
	height: 907px;
}

.comp-projects, .buiding-bg, .comp-prj-title  {
	margin-top: 0px;
}

.comp-prj-title {
	height: 178px;
	background-color: #a8dbd2;
}

.comp-prj-title h2 {
	font: normal 1.875em/1.2 "Century Gothic", sans-serif;
	color: #5d4539;
	text-transform: uppercase;
	padding: 35px 0 0 50px;
}

.comp-prj-link {
	height: 243px;
	background-color: #a8dbd2;
}

.comp-prj-link:hover {
	background-color: #c6f1ed;
}


.comp-prj-link img {
	display: block;
	margin: 0 auto;
	clear: both;
}

#img-comp-solaris {
	position: relative;
	top: 20px;
	left: -20px;
}

#img-comp-materik {
	position: relative;
	top: 60px;
	left: -22px;
}

#img-comp-ecosol {
	position: relative;
	top: 30px;
	left: -22px;
}
/*END MAIN BLOCK*/

		/*MEDIA QUERIES COMPANY PAGE*/
@media screen and (min-width: 992px) and (max-width: 1440px) {
	ol.breadcrumb {
        margin-bottom: 40px;
	}

	img#comp-logo {
    	top: -40px;
    	left: 40px;
	}

	.comp-par {
    	padding-right: 30px;	
	}
	
	.buiding-bg {
        height: 750px;
	}

	.comp-prj-title {
    	height: 138px;
	}

	.comp-prj-title h2 {
       padding: 35px 0 0 0px;
       text-align: center;
	}

	.comp-prj-link {
    	height: 204px;
	}

	#img-comp-solaris {
    	top: 10px;
    	left: 0px;
    }

    #img-comp-materik {
	    left: 0px;                    
	}

	#img-comp-ecosol {
    	top: 10px;
    	left: 0px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.top-company {
		background: none;
        background-color: #a8dbd2;
        background: linear-gradient(to bottom, #c6f1ed, #c6f1ed 45%, #a8dbd2 30%);
    }

	ol.breadcrumb {
		margin-top: 50px;
        margin-bottom: 40px;
	}

	img#comp-logo {
    	top: 10px;
    	left:0;
    	width: 250px;
	}

	.comp-par {
    	padding-right: 30px;
    	margin-bottom: 30px;	
	}
	
	.buiding-bg {
        height: 750px;
	}

	.comp-prj-title {
    	height: 138px;
	}

	.comp-prj-title h2 {
       padding: 35px 0 0 0px;
       text-align: center;
	}

	.comp-prj-link {
    	height: 204px;
	}

	#img-comp-solaris {
    	top: 10px;
    	left: 0px;
    }

    #img-comp-materik {
	    left: 0px;                    
	}

	#img-comp-ecosol {
    	top: 10px;
    	left: 0px;
	}
}

@media screen and (max-width: 767px) {
	.top-company {
		background: none;
        background-color: #a8dbd2;
        background: linear-gradient(to bottom, #c6f1ed, #c6f1ed 32%, #a8dbd2 30%);
    }
    .comp-main-logo {
    	height: 300px;
	}

	ol.breadcrumb {
		margin-top: 50px;
        margin-bottom: 40px;
	}

	img#comp-logo {
    	top: 0;
    	left:0;
    	width: 250px;
    	margin: 0 auto;
	}

	.comp-par {
    	padding-right: 20px;
    	margin-bottom: 26px;
    	font-size: 1.2em;
	}
	
	.buiding-bg {
        height: 300px;
        background-size: 100%;
	}

	.comp-prj-title {
    	height: 138px;
	}

	.comp-prj-title h2 {
       padding: 35px 0 0 0px;
       text-align: center;
	}

	.comp-prj-link {
    	height: 204px;
	}

	#img-comp-solaris {
    	top: 10px;
    	left: 0px;
    }

    #img-comp-materik {
	    left: 0px;                    
	}

	#img-comp-ecosol {
    	top: 10px;
    	left: 0px;
	}
}
    /*END OF COMPANY PAGE*/



	/*ECO-COMPLEX PAGE*/
.top-eco {
	background: #a8dbd2;
/*
	background-image: url(../img/eco-building1.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 50%;
*/
	min-height:890px;
}

.top-eco h2 {
	font: normal 225%/1.2 "Century Gothic", sans-serif;
	color: #5a4739;
	text-transform: uppercase;
	margin: -50px 0px 40px -5px;
}
.eco-objects {
/*
	overflow-y: scroll;
	height: 600px;
*/
}

h4.eco-acc-title {
	margin: 30px 0 0 0;
}

h4.eco-acc-title a {
	font: normal 150%/1.2 "Impact", sans-serif;
	color: #3fa190;
	text-transform: uppercase;
}
h4.eco-acc-title img {
	display: block;
	float: right;
	position: relative;
	top: 15px;
	right: 31px;
}
dl.eco-dl1 {
	padding-right: 25px;
}
dl.eco-dl1 dt, dl.eco-dl1 dd  {
	font: normal 112.5%/2.222 Arial, Helvetica, sans-serif;
	color: #484848;
}
dl.eco-dl1 dt, dl.eco-dl2 dt, dl.eco-dl3 dt, dl.eco-dl4 dt {
	float: left;
	width: auto;
	clear: both;
	text-align: left;
}
dl.eco-dl1 dd, dl.eco-dl2 dd, dl.eco-dl3 dd {
	width: auto;
	text-align: right;
}
dl.eco-dl2 dt, dl.eco-dl2 dd, dl.eco-dl3 dd, dl.eco-dl3 dt, .eco-flats h5 {
	font: normal 150%/1.5 Arial, Helvetica, sans-serif;
	color: #fff;
}
.eco-flats {
	padding: 133px 0px 0 70px;
}
.eco-flats h5 {
	text-transform: uppercase;
	padding-left: 186px; 
} 
.eco-flats h3 {
	font: normal 300%/0.75 Arial, Helvetica, sans-serif;
	color: #fff;
	padding-left: 221px; 
}
dl.eco-dl3, dl.eco-dl2 {
	width: 386px;
}  

dl.eco-dl3 {
	margin: 37px 0 52px 0;
}
.progress {
	margin-left: 35px;
	width: 473px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fefcfc;
    border-radius: 0;
}
.progress-bar {
    background-color: #fefcfc;
}

/*MIDDLE BLOCK*/
.eco-middle-block {
	background-color: #a8dbd2;
	background-image: url(../img/eco-building2.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 50%;
	min-height:890px;
}
.eco-middle-block h2 {
	font: normal 187.5%/4 "Century Gothic", sans-serif;
	color: #5d4539;
	text-transform: uppercase;
	margin: 0 0 0 5px;
}
dl.eco-dl4 dt, dl.eco-dl4 dd {
	color: #262626;
	font: normal 100%/1.749 Arial, Helvetica, sans-serif;
}

dl.eco-dl4 {
	margin-top: -17px;
	padding-left: 5px;
	overflow-y: auto;
}

dl.eco-dl4 dt {
	width: 254px;
}

dl.eco-dl4 dd {
	padding-left: 18px;
	margin-left: 234px;
}

/*MEDIA QUERIES COMPANY PAGE*/
@media screen and (min-width: 992px) and (max-width: 1440px) {
	.top-eco {
		min-height: 540px;
		background-size: 50% 100%;
	}
	.eco-objects {
		height: 400px;
	}
	.top-eco h2 {
		margin: -20px 0px 20px -5px;
	}
	.eco-flats {
		padding: 50px 0 0 0;
	}
	dl.eco-dl3 {
		margin: 25px 0 10px 0;
	}
	.progress {
		margin-left: 0px;
		width: 100%;
	}
	.eco-flats h5, .eco-flats h3  {
		padding-left: 0;
		text-align: center;
	}
	.eco-middle-block {
		min-height:400px;
		padding-right: 40px;
		background-size: 50% 100%;
	}
	dl.eco-dl4 {
		height: 550px;
	}
	.eco-middle-block h2 {
    	line-height: 1.5;
    	margin: 25px 0 30px 5px;
    }
    dl.eco-dl4 dt {
		width: 200px;
		white-space: pre-wrap;
	}
	dl.eco-dl4 dd {
	    padding-left: 0px;
	    margin-left: 200px;
	}
	#accordion {
		padding-bottom: 25px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.top-eco {
		min-height: 1200px;
/*
		background: url(../img/eco-building1.jpg) no-repeat top center;
		background-size: 100% 50%;
*/
		background-color: #a8dbd2;
	}
	.eco-objects {
		height: 550px;
	}
	.top-eco h2 {
		margin: -20px 0px 20px -5px;
	}
	.eco-flats {
		padding: 150px 0 0 50px !important;
		height: 550px;
	}
	
	dl.eco-dl3 {
		margin: 25px 0 10px 0;
	}
	.progress {
		margin-left: 0px;
		width: 100%;
	}
	.eco-flats h5, .eco-flats h3  {
		padding-left: 0;
		text-align: center;
	}
	.eco-middle-block {
		min-height:800px;
		background: none;
	}
	.eco-middle-img {
		background-image: url(../img/eco-building2.jpg);
		background-size: 100%;
		height: 700px;
	}
	.eco-middle-text {
		background-color: #a8dbd2; 
	}
	dl.eco-dl4 {
		height: 550px;
		margin-bottom: 0;
	}
	.eco-middle-block h2 {
    	line-height: 1.5;
    	margin: 25px 0 30px 5px;
    }
    dl.eco-dl4 dt {
		width: 200px;
		white-space: pre-wrap;
	}
	dl.eco-dl4 dd {
	    padding-left: 0px;
	    margin-left: 200px;
	}
}

@media screen and (max-width: 767px) {
	.top-eco {
		min-height: 700px;
/*		background: none;*/
	}
	.eco-objects {
		height: 400px;
		background-color: #a8dbd2;
	}
	.top-eco h2 {
		margin: -20px 0px 20px -5px;
	}
	.eco-flats {
		padding: 20px 0 0 35px !important;
		height: 300px;
		background: url(../img/eco-building1.jpg) no-repeat top center;
		background-size: 100%;
	}
	
	dl.eco-dl3 {
		margin: 25px 0 10px 0;
	}
	dl.eco-dl3, dl.eco-dl2 {
    	width: 250px;
	}
	.progress {
		margin-left: 0px;
		width: 100%;
	}
	.eco-flats h5, .eco-flats h3  {
		padding-left: 0;
		text-align: center;
	}
	#accordion {
		padding-bottom: 25px;
	}
	.eco-middle-block {
		min-height:800px;
		background: none;
	}
	.eco-middle-img {
		background-image: url(../img/eco-building2.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 300px;
	}
	.eco-middle-text {
		background-color: #a8dbd2; 
	}
	dl.eco-dl4 {
		height: 550px;
		margin-bottom: 25px;
	}
	.eco-middle-block h2 {
    	line-height: 1.5;
    	margin: 25px 0 30px 5px;
    }
    dl.eco-dl4 dt {
		width: 150px;
		white-space: pre-wrap;
	}
	dl.eco-dl4 dd {
	    padding-left: 0px;
	    margin-left: 150px;
	}
}

   /*END OF ECO-COMPLEX PAGE*/

  

   		/*NEWS PAGE*/
.top-news {
	background-color: #a8dbd2;
	background-image: url(../img/news-building.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 49.79% 100%;
	height: 899px;
}

.top-news h1 {
	font: normal 562.5%/1.2 "Impact", sans-serif;
	color: #3fa190;
	margin-bottom: 50px;
	text-transform: uppercase;
}
a.news, a.all-news {
	display: block;
	font: normal 112.5%/2.667 Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #5b463a;
}

a.all-news {
	text-transform: uppercase;
	margin: 48px 0 135px 0;
}

a.news:hover, a.all-news:hover, .news1-left p a:hover {
	color: #fff;
} 

		/*NEWS-1 BLOCK*/
.news1-block, .news3-block {
	padding-top: 20px;
	background: linear-gradient(to right, #c6f1ed, #c6f1ed 50.3%, #a8dbd2 49.7%);
}

.news1-left {
	height: 885px;
	padding-top: 55px;
	padding-bottom: 202px;
	overflow-y: auto;
}

.news1-left p, .news2-right p, .news3-left p, .news4-right p, .news4-right ol {
	font: normal 112.5%/1.667 Arial, Helvetica, sans-serif;
	color: #484848;
	padding: 0 60px 0 0;
	margin-bottom: 30px;
}
.news1-left p a {
	font: normal 112.5%/1.667 Arial, Helvetica, sans-serif;
	color: #484848;
	text-decoration: underline;
}

p.news-extend-margin {
	margin-top: 90px;
	padding: 0 80px 0 0;
}

.news1-right {
	height: 885px;
	background: url(../img/news1-flowers.jpg) no-repeat;
	background-position: bottom right;
	background-size: 99.5%;
}

h2.news-heading {
	font: normal 375%/2 "Century Gothic", sans-serif;
	color: #5d4539;
	text-transform: uppercase;
	margin: 24px -5px 0 0;
}

		/*NEWS-2 BLOCK*/
.news2-block, .news4-block {
	padding-top: 20px;
	background: linear-gradient(to right, #a8dbd2, #a8dbd2 50.3%, #c6f1ed 49.7%);
}

.news2-left {
	height: 889px;
	padding-top: 8px;
	margin-left: 0px;
}
.news2-left h2 {
	margin-bottom: 73px;
}
#news2-slide1 img {
	width: 98.8%;
}

.news2-right {
	height: 889px;
	padding: 73px 0 0 30px;
	overflow-y: auto;
	overflow-x: hidden;
}

.news2-right p {
	padding: 0 8px 0 0;
}

		/*NEWS-3 BLOCK*/
.news3-left {
	padding-top: 58px;
	height: 888px;
	overflow-y: auto;
	overflow-x: hidden;
}
.news3-left p {
	margin-left: -5px;
	padding: 0 90px 0 0;
}
.news-3-right {
	height: 888px;
}

.news3-right h2 {
	margin: 29px 0 205px 0;
}

#news3-slide1 {
	padding-left: 5px;
}

		/*NEWS-4 BLOCK*/
.news4-img {
	padding: 155px 0 0 25px; 
}
.news4-img img {
	width: 331px;
}

.news4-right {
	height: 883px;
	padding: 68px 0 0 28px;
}
.news-scroll {
	height: 700px;
	overflow-y: scroll;
}

.news4-right p {
	padding: 0 30px 0 0;
}
p.news-list-par {
	margin: 58px 0 0 0;
}

.news4-right ol {
	padding: 0 0 0 20px;
}
.news4-right ol li{
	padding: 0 20px 0 12px;
}

		/*MEDIA QUERIES OF NEWS PAGE*/
@media screen and (min-width: 992px) and (max-width: 1440px) {
	.top-news {
		background-size: 50% 100%;
	}
	.news1-right {
        background-size: 99.8%;
    }
	.news2-left h2, .news4-left h2 {
		padding-right: 30px;
	}
	.news1-right h2, .news3-right h2 {
		padding-left: 30px;
	}

	.news1-block, .news3-block {
        background: linear-gradient(to right, #c6f1ed, #c6f1ed 50%, #a8dbd2 50%);
    }
	.news1-left p, .news2-right p, .news3-left p, .news4-right p, .news4-right ol {
       padding: 0 30px 0 0;
	}
	p.news-extend-margin {
	    margin-top: 50px;
	    padding: 0 30px 0 0;
	}
	.news1-left {
        padding-bottom: 50px;
	}

	#news2-slide1 {
		padding-right: 7px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.top-news {
		background-image: url(../img/news-building.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 100%;
		min-height: 1300px;
	}
	.news-header-img {
		height: 625px;
	}
	.news1-block, .news3-block, .news2-block, .news4-block {
		background: linear-gradient(to bottom, #c6f1ed, #c6f1ed 50%, #a8dbd2 50%);
	}
	.news1-right, .news1-left {
		height: 800px;
	}
	.news2-left h2, .news4-left h2 {
		text-align: left;
		margin: 25px 0 65px 0;
	}
	.news1-right h2, .news3-right h2 {
		text-align: right;
		margin: 25px 0 65px 0;
	}
	.news2-right, .news2-left {
		height: 730px;
	}
	.news3-right, .news3-left, .news4-right, .news4-left {
		height: 630px;
	}
	#news3-slide1 {
    	padding-left: 0px;
	}
	.news1-left p, .news2-right p, .news3-left p, .news4-right p, .news4-right ol, .news3-left p {
       	padding: 0;
    }
	.news4-img {
    	padding: 50px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
	.top-news {
		background: none;
		background-color: #a8dbd2;
	}
	.news-header-img {
		background-image: url(../img/news-building.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 100%;
		height: 300px;
	}	
	.news1-block {
		background: linear-gradient(to bottom, #c6f1ed, #c6f1ed 40%, #a8dbd2 30%);
	}
	.news3-block, .news2-block {
		background: linear-gradient(to bottom, #c6f1ed, #c6f1ed 50%, #a8dbd2 50%);
	}
	.news4-block {
		background: none;
		padding: 0;
	}	
	.news1-right {
		height: 500px;
	}
	.news1-left {
		height: 800px;
	}
	.news1-left p, .news2-right p, .news3-left p, .news4-right p, .news4-right ol, .news3-left p {
       	padding: 0;
    }
	.news2-left h2, .news4-left h2 {
		text-align: left;
		margin: 25px 0 65px 0;
	}
	.news1-right h2, .news3-right h2 {
		text-align: right;
		margin: 25px 0 65px 0;
	}
	.news2-right, .news2-left {
		height: 640px;
	}
	.news2-right {
        padding: 55px 0 0 0;
	}
	.news3-right, .news3-left, .news4-left  {
		height: 480px;
	}
	#news3-slide1 {
    	padding-left: 0px;
	}
	.news3-left {
        padding: 55px 0 0 5px;
	}
	.news4-left {
		background-color: #c6f1ed;
	}
	.news4-right {
		height: 800px;
		background-color: #a8dbd2;
	}
	.news4-img {
    	padding: 0;
	}
	.news4-img img {
    	width: 250px;
	}
}

     /*END OF NEWS PAGE*/



    /*CONTACTS PAGE*/
.top-contacts {
	background-color: #c6f1e9;
	background-image: url(../img/map-example2.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: auto;
}

div.contacts-address {
	padding-top: 33px;
	padding-left: 48px;
}

.contacts-address h3#addr-name {
	margin-top: -40px;
}

button#contact-us2 {
	background-color: #53c5b1;
	width: 467px;
	color: #c6f1e9;
	border: 0.5px solid #53c5b1;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 150%;
	line-height: 1.2;
	padding: 36px 50px;
	margin-bottom: 45px;
}

p#contacts-addr-street {
    margin-bottom: 75px;
}

p#contacts-addr-mail {
    margin:70px 0 70px 0;
}

/*MEDIA QUERIES OF CONTACT PAGE*/

@media screen and (min-width: 992px) and (max-width: 1440px) {
	.top-contacts {
		background-size: 50% 100%;
	}
	
	button#contact-us2 {
		width: auto;
		padding: 36px 30px;
	}
	.contacts-address h3#addr-name {
    	margin-top: -10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.top-contacts {
		background-image: none;
		background-color: #c6f1e9;
	}

	div.contacts-address {
        padding-left: 5px;
    }
	.contacts-address h3#addr-name {
    	margin-top: -10px;
    }

	button#contact-us2 {
		width: auto;
		padding: 36px 30px;
	}
	.contacts-map {
		background: url(../img/map-example2.jpg) no-repeat top center;
		background-size: auto;
		height: 800px;
	}
}
@media screen and (max-width: 767px) {
	.top-contacts {
		background-image: none;
	}

	div.contacts-address {
        padding-left: 5px;
        padding-top: 0;
	}
	.contacts-address h3#addr-name {
    	margin-top: -10px;
    }

	button#contact-us2 {
		width: auto;
		padding: 36px 30px;
	}

	.contacts-map {
		background: url(../img/map-example2.jpg) no-repeat;
		background-size: 100%;
		min-height: 300px;
	}
}

    /*END OF CONTACT PAGE*/

/*12.06*/
.bg-effect {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}
.bg-effect-img {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1);
	transition: transform 10s;	
}
.bg-effect-img.effected {
	transform: scale(1.12);
}


@media (max-width: 1499px) {
	.header-row {
		height: auto;
	}
	.header-text {
		padding: 180px 0 182px !important;
	}
}
@media (max-width: 991px) {
	.header-text {
		padding: 100px 0 65px !important;
	}
	.top-eco .header-row {
		display: block;
	}
	.top-eco .header-row .eco-objects {
		 padding-top: 0 !important; 
	}
}
@media screen and (max-width: 767px){
	.header-text {
		padding: 30px 0 30px 10px !important;
	}
}
	
.top-eco .header-row {
	height: 890px;
}
.top-eco .header-row .eco-objects {
	padding-top: 177px;
}
.top-eco .header-row .eco-flats {
	padding-top: 310px;
}