@import url("fonts.css");

body {
	min-width: 320px;
	color: #000;
	background: #fff;
}
/*		HEADER 		*/
header {
	position: relative;
	height: 61px;
	color: #fff;	
	background: rgba(53,75,99,0.49);
}
.header-phone {
	float: left;
	margin: 15px 0 0 91px;
	font: 20px "proxima-bold";
	text-decoration: none !important;
	color: #fff !important;
}
.header-phone > i {
	position: relative;
	top: 2px;
	margin: 0 0 0 20px;
	font-size: 26px;
}
.header-right > * {
	float: right;
}
.header-menu-btn {
	display: inline-block;
	margin: 4px 8px 0 0;
	width: 64px;
	font: 20px "proxima-bold";
	text-align: center;
	text-decoration: none !important;
	color: #fff !important;
}
.header-menu-btn span {
	display: block;
	height: 5px;
	border-radius: 3px;
	background: #fff;
}
.header-menu-btn span:not(:last-child) {
	margin-bottom: 5px;
}
.header-lang-switch {
	margin: 13px 40px 0 0;
	font: 16px "proxima-bold";
	color: #fff !important;
	text-decoration: none !important;
}
.header-lang-switch > i {
	position: relative;
	top: 4px;
	margin: 0 0 0 8px;
	font-size: 26px;
}
.header-search-form {
	position: relative;
	margin: 15px 44px 0 0;
	width: 275px;
	height: 29px;
	background: rgba(255,255,255,0.62);
}
.header-search-form > input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	padding: 0;
	border: 0;
	background: transparent;
	outline: 0;
}
.header-search-form > input[type="text"] {
	padding: 0 10px 0 45px;
	width: 100%;
	font: 16px "proxima-reg";
}
.header-search-form > input[type="submit"] {
	width: 45px;
}
.header-search-form > i {	
	position: absolute;
	left: 15px;
	top: 6px;
	font-size: 16px;
}
/*		S-1 		*/
.s1 {
	margin-top: -61px;
	height: 999px;
	background: url("../img/s1/s1-bg.jpg") no-repeat center top;
	background-size: cover;
}
.s1-main {
	margin: 311px 0 0 7.9%;
}
.s1-logo {
	display: inline-block;
	margin: 0 0 0 3px;
}
.s1-block {
	margin: 65px 7px 0 0;
	height: 177px;
	border-right: 12px solid #c22821;
	background: rgba(53,75,99,0.49);
}
.s1-title {
	position: relative;
	margin: 0;
	padding: 37px 0 0 29px;
	font: 43px "proxima-ex-bold";
	letter-spacing: 6.34px;
	text-transform: uppercase;
	color: #fff;
}
.s1-title:after {
	content: "";
	position: absolute;
	left: 32px;
	bottom: -10px;
	width: 105px;
	height: 2px;
	background: #fff;
}
/*		HEADER-FIX 		*/
.header-fix {
	height: 69px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.header-fix-logo {
	float: left;
	margin: 16px 0 0 92px;
}
.footer-menu, 
.header-fix-menu {
	float: right;
	margin: 21px 186px 0 0;
	padding: 0;
	list-style: none;
}
.footer-menu > li, 
.header-fix-menu > li {
	float: left;
}
.footer-menu > li > a,
.header-fix-menu > li > a {
	position: relative;
	display: block;
	padding: 0 17.5px;
	font: 18px "proxima-light";
	text-decoration: none !important;
	color: #000;
	transition: all 0.1s ease-in-out;
}
.footer-menu > li:not(:last-child) > a:after,
.header-fix-menu > li:not(:last-child) > a:after {
	content: "";
	position: absolute;
	right: -1px;
	top: 4px;
	width: 2px;
	height: 13px;
	background: #000;
}
.footer-menu > li > a:hover, .footer-menu > li.active > a,
.header-fix-menu > li > a:hover, .header-fix-menu > li.active > a {
	color: #657c8c;
}
/*		S-2 		*/
.sec-top {
	text-align: center;
}
.sec-top > i {
	display: inline-block;
	font-size: 30px;
	text-indent: 20px;
	color: #768db4;
}
.s2 .sec-top {
	height: 207px;
}
.s2 .sec-top > i {
	margin-top: 78px;
}
.s2-main {
	background: url("../img/s2/s2-bg.jpg") no-repeat center top;
	background-size: cover;
}
.s2-content {
	margin-left: 7.9%;
	position: relative;
	height: 845px;
}
.s2-content:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 324px;
	height: 29px;
	background: #fff;
}
.sec-title {
	position: relative;
	margin: 0 0 0 34px;
	font: 43px "proxima-ex-bold";
	letter-spacing: 6.3px;
	color: #fff;
}
.sec-title:after {
	content: "";
	position: absolute;
	left: 2px;
	bottom: -7px;
	width: 81px;
	height: 1px;
	background: #fff;
}
.sec-title > span {
	color: #778eb5;
}
.s2 .sec-title {
	margin: -40px 0 0 29px;
}
.s2-stat {
	position: relative;
	margin: 52px 0 0 0;
}
.s2-stat-texts {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.s2-stat-texts > span {
	position: absolute;
	font: 19px "proxima-ex-reg";
	text-transform: uppercase;
	color: #000;
}
.s2-stat-texts > span:nth-child(1) {
	left: 10.6%;
	top: 5.6%;
}
.s2-stat-texts > span:nth-child(2) {
	left: 35.3%;
	top: 80.6%;
}
.s2-stat-texts > span:nth-child(3) {
	left: 47.5%;
	top: 5.6%;
}
.s2-stat-texts > span:nth-child(4) {
	left: 60.6%;
	top: 80.2%;
}
.s2-stat-texts > span:nth-child(5) {
	left: 82.3%;
	top: 47.8%;
}
.sec-link {
	float: right;
}
.sec-link > span {
	float: left;
	width: 358px;
	height: 32px;
	border-right: 0 !important;
	font: 16px/30px "proxima-light";
}
.sec-link > i {
	float: left;
	padding: 0 0 0 14px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 29px;
	color: #fff;
	background: #249446;
}
.s2-link {
	margin: 40px 6px 0 0;
}
.s2-link > span {
	border: 1.5px solid #768db4;
	text-indent: 11px;
	text-align: center;
	color: #768db4;
	background: #fff;
}
.s2-link > i {}
/*		S-3 		*/
.s3 {
	padding-bottom: 100px;
}
.s3 .sec-top {
	height: 186px;
}
.s3 .sec-top > i {
	margin-top: 101px;
}
.sec-title-box {
	margin: 0 8px 0 90px;
}
.sec-title-bg {
	margin-top: -68px;
	height: 102px;
	background: #768db4;
	border-right: 12px solid #c22821;
}
.s3-brands {
	margin: 72px -13px 0 9px;
	text-align: center;
}
.s3-brand {
	display: inline-block;
	height: 74px;
	line-height: 74px;
}
/*		S-4 		*/
.s4 {
	position: relative;
	height: 421px;
	background: #dee1e7;
}
.s4 > .container, .s4 > .container > div {
	height: 100%;
}
.triangle {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}
.triangle > svg {	
	display: inline-block;
	margin-left: 18px;
	width: 34px;
	height: 15px;
}	
.triangle > svg > polygon {
	fill: #fff;
	stroke-width: 0;
}
.s4-left {
	position: relative;
	overflow-y: hidden;
}
.s4-left-img {
	position: absolute;
	left: 62px;
	bottom: -67px;
	display: inline-block;
}
.s4-right {}
.s4-brand-tag {
	display: inline-block;
	margin: 0 0 0 91px;
	width: 325px;
	height: 89px;
	line-height: 89px;
	text-align: center;	
	background: #fff;
}
.s4-brand-tag > img {
	margin: -16px 0 0 -15px;
}
.s4-menu {
	float: right;
	display: inline-block;
	margin: 30px 7px 0 0;
	padding: 0;
	list-style: none;
}
.s4-menu > li {
	margin-bottom: 1px;
}
.s4-menu > li > a {
	position: relative;
	display: block;
	padding-left: 15px;
	width: 390px;
	height: 32px;
	line-height: 32px;
	font: 16px/32px "proxima-reg";
	text-decoration: none !important;
	color: #000;
}
.s4-menu > li > a:hover,
.s4-menu > li.active > a {
	color: #fff;
	background: #768db4;
}
.s4-menu > li > a:hover:after,
.s4-menu > li.active > a:after {
	content: "\f105";
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	font-family: FontAwesome;
	font-size: 29px;
	text-indent: 13px;
	color: #fff;
	background: #249446;
}
.s4-link {
	margin: 33px 7px 0 0;
}
.s4-link > span {
	padding: 0 0 0 13px;
	border: 2px solid #768db4;
	line-height: 28px;
	letter-spacing: 0.4px;
	color: #000;
}	
/*		S-5 		*/
.s5-top {
	padding-bottom: 72px;
}
.s5 .sec-top {
	height: 203px;
}
.s5 .sec-top > i {
	margin-top: 115px;
}
.s5-main {
	background: url("../img/s5/s5-bg.jpg") no-repeat center top;
	background-size: cover;
}
.s5-blocks {
	position: relative;
	margin: 0 7px 0 23px;
}
.s5-block {
	height: 271px;
}
.s5-block > img {
	width: 100%;
	height: 100%;
}
.s5-blocks-text {
	position: absolute;
	right: 0;
	top: 157px;
	width: 94.1%;
	height: 217px;
	font: 16px/1.57 "proxima-light";
	color: #000;
	background: #fff;
}
.s5-blocks-text > p {
	margin: 0 0 3px 0;
	padding: 29px 13.6% 0 2.9%;
}
.sec-link-blue {
	position: relative;
}
.sec-link-blue > span {
	width: 390px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	background: #768db4;	
}
.sec-link-blue > i {
	position: absolute;
	right: 0;
	top: 0;
}
/*		S-6 		*/
.s6 .sec-top {
	height: 206px;
}
.s6 .sec-top > i {
	margin-top: 113px;
}
.s6 .sec-link {
	margin: 48px 7px 0 0;
}
.s6-blocks {
	margin: 73px 8px 0 22px;
}
.s6-block {
	position: relative;
	display: block;
	width: 100%;
	height: 704px;
	overflow-y: hidden;
}
div:nth-child(2n) .s6-block {
	margin-top: 87px;
}
.s6-block > img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-bottom: 7px solid #c22821;
}
.s6-block-info {
	position: absolute;
	bottom: 0;
	padding: 0 18px 0 34px;
	color: #fff;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.s6-block:hover .s6-block-info,
.s6-block.active .s6-block-info {
	bottom: 154px;
	opacity: 1;
}
.s6-block-title {
	margin: 0;
	font: 25px "proxima-ex-bold";
	letter-spacing: 3.8px;
	text-transform: uppercase;
}
.s6-block-descr {
	margin: 1px 0 0 0;
	font: 16px/1.6 "proxima-light";
}
.s6-block-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 7px;
	line-height: 125px;
	text-align: center;
	background: #c22821;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.s6-block:hover .s6-block-bottom,
.s6-block.active .s6-block-bottom {
	height: 125px;
	opacity: 1;
}
/*		S-7 		*/
.s7-top {
	padding-bottom: 80px;
}
.s7 .sec-top {
	height: 217px;
}
.s7 .sec-top > i {
	margin-top: 131px;
}
.s7 .sec-link {
	margin: 48px 7px 0 0;
}
.s7-main {
	height: 897px;
	background: #dee1e7;
}
.s7-main > .container {
	position: relative;
	height: 100%;
}
.s7-main > .container:after {
	content: "";
	position: absolute;
	left: 94px;
	bottom: 0;
	width: 319px;
	height: 31px;
	background: #fff;
}
.s7-blocks {
	margin: 0 -9px 0 9px;
}
.s7-block {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 22px 13px 24px 26px;
	width: 263px;
	text-decoration: none !important;
	background: #fff;
}
.s7-block-title {
	margin: 0 0 3px 0;
	font: 25px "proxima-ex-reg";
	letter-spacing: 3.75px;
	text-transform: uppercase;
	color: #000;
}
.s7-block-date {
	font: 16px "proxima-light";
	color: #768db4;
}
.s7-block > img {
	margin: 15px -13px 0 -26px;
}
.s7-block-info {
	margin: 20px 0 0 0;
	height: 225px;
	font: 16px/1.6 "proxima-light";
	color: #a2a2a2;
	overflow: hidden;
}
.s7-block-bg {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	display: table;
	width: 100%;
	height: 100%;
	font: 25px "proxima-ex-reg";
	text-align: center;
	color: transparent;
	background: rgba(118,141,180,0);
	transition: all 0.3s ease-in-out;
}
.s7-block-bg > span {
	display: table-cell;
	vertical-align: middle;
}
.s7-block:hover .s7-block-bg {
	color: #fff;
	background: rgba(118,141,180,0.87);
}
/*		S-8 		*/
.s8 {
	padding-bottom: 72px;
}
.s8 .sec-top {
	height: 215px;
}
.s8 .sec-top > i {
	margin-top: 82px;
}
.s8-main {
	position: relative;
	padding: 0 0 0 18px;
	height: 607px;
	overflow-y: hidden;
	color: #000;
	box-shadow: inset 0 -190px 190px -50px rgba(255,255,255,1);
}
.s8-main * {
	position: relative;
	z-index: -1;
}
.s8-top-text {
	margin: 0 0 30px 0;
	padding-right: 4.2%;
	font: 22px/1.2 "proxima-light";
}
.s8-main-title {
	margin: 29px 0 0 0;
	font: 14px "proxima-light";
	color: #768db4;
}
.s8-text {
	margin: 29px 0 0 0;
	font: 14px/1.8 "proxima-light";
}
.s8 .sec-link {
	margin: -30px 7px 0 0;
}
/*		FOOTER		*/
footer {
	height: 696px;
	border-bottom: 18px solid #c22821;
	background: url("../img/footer/footer-bg.jpg") no-repeat center top;
	background-size: cover;
	overflow: hidden;
}
.footer-top > .container {
	position: relative;
}
.footer-top > .container:before {
	content: "";
	position: absolute;
	left: 93px;
	top: 0;
	width: 320px;
	height: 22px;
	background: #fff;
}
.footer-logo {
	display: inline-block;
	margin: 59px 0 53px 94px;
}
.footer-white {
	min-height: 49px;
	text-align: center;
	background: #fff;
}
.footer-menu {
	float: none;
	display: inline-block;
	margin: 14px 0 0 0;
}
.footer-menu > li > a {
	font: 18px "proxima-reg";
	color: #000;
}
.footer-contacts {
	margin: 80px 0 0 93px;
	padding: 37px 10px 0 23px;
	width: 320px;
	height: 356px;
	font: 18px/1.7 "proxima-reg";
	color: #000;
	background: #fff;
	overflow: hidden;
}
.footer-contacts > div:nth-child(1) > span {
	font: 26px "proxima-reg";
}
.footer-contacts > div:nth-child(2) {
	margin-top: 30px;
}
.footer-social {
	float: right;
	margin: 71px 5px 0 0;
	padding: 0;
	list-style: none;
}
.footer-social > li {
	float: left;
}
.footer-social > li:not(:last-child) {
	margin-right: 7px;
}
.footer-social > li > a {
	display: block;
	width: 77px;
	height: 77px;
	line-height: 71px;
	border: 3px solid #fff;
	border-radius: 50%;
	font-size: 42px;
	text-align: center;
	color: #fff;
	background: #3fa1da;
	transition: all 0.3s ease-in-out;
}
.footer-social > li > a:hover {
	border-color: #3fa1da;
	color: #3fa1da;
	background: #fff;
}
.footer-copy {
	float: right;
	clear: right;
	margin: 167px 7px 0 0;
	font: 15px "proxima-reg";
	color: #000;
}


