@import url("fonts.css");

body {
	min-width: 320px;
	color: #000;
	background: #fff;
	counter-reset: item;
}
/*		TEST 		*/
.test-menu {
	margin: 25px 0 0 20px;
	list-style: decimal;
}
.test-menu a {
	font: 20px "proxima-reg";
}
/*		HEADER 		*/
header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 51px;
	color: #fff;	
	background: rgba(53,75,99,0.49);
	z-index: 1;
}
header > .container {
	height: 100%;
}
.header-phones {
	position: relative;
	display: inline-block;
	margin: 0 0 0 69px;
	padding: 11px 0 0 0;
	height: 51px;
}
.header-phone {
	display: inline-block;
	font: 20px "proxima-reg";
	text-decoration: none !important;
	color: #fff !important;
}
.header-phone > span {
	display: inline-block;
	width: 163.5px;
}
.header-phone > i {
	position: relative;
	top: 2px;
	margin: 0 0 0 3px;
	font-size: 26px;
}
.header-lang-list,
.header-phones-list {
	display: none;
	position: absolute;
	left: -14px;
	top: 51px;
	margin: 0;
	padding: 0;
	width: 180px;
	list-style: none;
	background: rgba(53,75,99,0.49);
}
.header-lang-list > li,
.header-phones-list > li {
	margin-bottom: 5px;
	text-align: center;
}
.header-lang-list > li > a, 
.header-phones-list > li > a {
	font: 20px "proxima-reg";
	text-decoration: none!important;	
	color: #fff !important;	
}
.header-right > * {
	float: right;
}
.header-menu-btn {
	display: inline-block;
	margin: 1px 41px 0 0;
	width: 44px;
	font: 19px "proxima-bold";
	text-align: center;
	text-decoration: none !important;
	color: #fff !important;
}
.header-menu-btn > div {
	margin-top: 1px;
}
.header-menu-btn span {
	display: block;
	height: 4px;
	border-radius: 3px;
	background: #fff;
}
.header-menu-btn span:not(:last-child) {
	margin-bottom: 3px;
}
.header-lang {
	position: relative;
	margin: 0 44px 0 0;
	padding: 16px 0 0 0;
	width: 52px;
	height: 51px;
}
.header-lang a {
	display: block;
	font: 16px "proxima-bold" !important;
}
.header-lang-list {
	display: none;
	left: -17px;
	width: 52px;
}
.header-lang-switch {	
	position: relative;
	color: #fff !important;
	text-decoration: none !important;
}
.header-lang-switch > i {
	position: relative;
	top: 4px;
	margin: 0 0 0 8px;
	font-size: 26px;
}
.header-lang-switch:after {
	content: "\f107";
	font-family: FontAwesome;
	position: absolute;
	right: 6px;
	top: -4px;
	font-size: 27px;
	color: #fff;
}
.header-search-form {
	position: relative;
	margin: 10px 44px 0 0;
	width: 275px;
	height: 29px;
	background: rgba(255,255,255,0.62);
}
.header-search-form > input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	padding: 0;
	border: 0;
	background: transparent;
	outline: 0;
}
.header-search-form > input[type="text"] {
	padding: 0 10px 0 45px;
	width: 100%;
	font: 16px "proxima-reg";
}
.header-search-form > input[type="submit"] {
	width: 45px;
}
.header-search-form > i {	
	position: absolute;
	left: 15px;
	top: 6px;
	font-size: 16px;
}
/*		S-1 		*/
.s1 {
	position: relative;
	display: table;
	width: 100%;
	height: calc(100vh - 57px);
	background: url("../img/s1/s1-bg.jpg") no-repeat center top;
	background-size: cover !important;
}
.s1-main {
/*
	display: table-cell;
	vertical-align: middle;
*/
}
.s1-main-box {
	padding: 0 0 0 6%;
}
.s1-logo {
	display: inline-block;
	margin: 0 0 0 3px;
}
.s1-block {
	margin: 65px 29px 0 0;
	height: 177px;
	border-right: 12px solid #c22821;
	background: rgba(53,75,99,0.49);
}
.s1-title {
	position: relative;
	margin: 0;
	padding: 37px 0 0 29px;
	font: 43px "proxima-ex-bold";
	letter-spacing: 6.34px;
	text-transform: uppercase;
	color: #fff;
}
.s1-title:after {
	content: "";
	position: absolute;
	left: 32px;
	bottom: -10px;
	width: 105px;
	height: 2px;
	background: #fff;
}
.s1 .sec-top {
	position: absolute;
	left: 0;
	bottom: 13%;
	width: 100%;
}
.s1 .sec-top > i {
	color: #fff;
}

.s1-marks {
	position: absolute;
	left: 0;
	top: 51px;
}
.s1-mark {
	float: left;
	clear: left;
	position: relative;
	right: 42px;
	width: 91px;
	height: 202px;
	font: 18px/49px "proxima-reg";
	letter-spacing: 0.3px;
	white-space: nowrap;
	text-align: center;
	text-decoration: none !important;
	color: #fff !important;
	background-size: cover !important;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	transition: all 0.3s ease-in-out;
}
.s1-mark:hover {
	right: 0;
}
.s1-mark:nth-child(1) {
	background: url("../img/s1/s1mark-red.jpg") no-repeat center;
}
.s1-mark:nth-child(2) {
	background: url("../img/s1/s1mark-blue.jpg") no-repeat 0 0;
}
.s1-mark:nth-child(3) {
	background: url("../img/s1/s1mark-brown.jpg") no-repeat 0 0;
}
.s1-mark:nth-child(4) {
	background: url("../img/s1/s1mark-green.jpg") no-repeat 0 0;
}
.s1-mark:after {
	content: "\f104";
	position: absolute;
	left: -24px;
	top: 0px;
	width: 24px;
	height: 45px;
	border-radius: 7px 0 0 7px;
	font: 30px/24px "FontAwesome";
	color: #768db4;
	background: #dee1e7;
}
/*		MENU-RIGHT 		*/
.menur {
	position: fixed;
	right: -380px;
	top: 0;
	width: 19.65%;
	height: 100%;
	background: #768db4;
	z-index: 99999;
	transition: all 0.2s;
}
.menur-top {
	height: 61px;
}
.menur-close-btn {
	display: inline-block;
	margin: 4px 0 0 45px;
	font: 20px "proxima-bold";
	color: #fff !important;
	text-decoration: none !important;
	text-align: center;
}
.menur-close-btn > i {
	position: relative;
	left: -1px;
	top: -4px;
	font-size: 30px;
}
.menur-menus {
	padding-right: 2px;
}
.menur-menus > ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}
.menur-menus > ul:nth-child(1) > li:not(:last-child) {
	margin-bottom: 14px;
}
.menur-menus > ul:nth-child(1) > li > a {
	position: relative;
	display: block;
	text-decoration: none !important;
}
.menur-menus > ul:nth-child(1) > li > a > * {
	float: left;
	height: 32px;
	transition: all 0.2s ease-in-out;
}
.menur-menus > ul:nth-child(1) > li > a > span {
	padding-right: 32px;
	width: 100%;
	border: 1.5px solid #768db4;
	font: 18px/29px "proxima-light";
	letter-spacing: 0.6px;
	text-align: center;
	text-transform: uppercase;
	color: #768db4;
	background: #fff;
}
.menur-menus > ul:nth-child(1) > li > a > i {
	margin-left: -32px;
	padding: 0 0 0 14px;
	width: 32px;
	line-height: 32px;
	font-size: 29px;
	color: #fff;
	background: #249446;
}
.menur-menus > ul:nth-child(1) > li > a:hover > span {
	border-color: #9fbcd4;
	color: #fff;
	background: #9fbcd4;
}
.menur-menus > ul:nth-child(1) > li > a:hover > i {
	color: #249446;
	background: #fff;
}
.menur-menus > ul:nth-child(2) {
	margin: 58px -2px 0 0;
}
.menur-menus > ul:nth-child(2) > li:not(:last-child) {
	margin-bottom: 27px;
}
.menur-menus > ul:nth-child(2) > li > a {
	position: relative;
	display: block;
	padding-left: 26.3%;
	height: 35px;
	border-bottom: 3px solid transparent;
	font: 20px/36px "proxima-light";
	text-decoration: none !important;
	color: #fff;
	background: transparent;
	transition: all 0.1s ease-in-out;
}
.menur-menus > ul:nth-child(2) > li > a:after {
	content: "\f105";
	font-family: FontAwesome;
	position: absolute;
	right: 10px;
	top: -2px;
	font-size: 27px;
	color: transparent;
}
.menur-menus > ul:nth-child(2) > li > a:hover {
	border-color: #c22821;
	color: #000;
	background: #9fbcd4;
}
.menur-menus > ul:nth-child(2) > li > a:hover:after {
	color: #fff;
}
.menur-overlay {
	opacity: 0;
	visibility: hidden;
	background: transparent;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 99998;
}
.menur-overlay.menur-open {
	opacity: 1;
	visibility: visible;
	background: rgba(0,0,0,0.5);
}
/*		HEADER-FIX 		*/
.header-fix {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 57px;	
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	text-align: center;
	background: #fff;
	z-index: 999;
}
.header-fix.scrolled {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}
.header-fix-logo {
	float: left;
	margin: 9px 0 0 70px;
}
.footer-menu, 
.header-fix-menu {
	display: inline-block;
	margin: 17px 0 0 -101px;
	padding: 0;
	list-style: none;
}
.footer-menu > li, 
.header-fix-menu > li {
	float: left;
}
.footer-menu > li > a,
.header-fix-menu > li > a {
	position: relative;
	display: block;
	font: 16px "proxima-light";
	text-decoration: none !important;
	color: #000;
	transition: all 0.1s ease-in-out;
}
.header-fix-menu > li > a {
	padding: 0 15.5px;
}
.footer-menu > li:not(:last-child) > a:after,
.header-fix-menu > li:not(:last-child) > a:after {
	content: "";
	position: absolute;
	right: -1px;
	top: 4px;
	width: 2px;
	height: 13px;
	background: #000;
}
.footer-menu > li > a:hover, .footer-menu > li.active > a,
.header-fix-menu > li > a:hover, .header-fix-menu > li.active > a {
	color: #657c8c;
}
/*		S-2 		*/
.sec-top {
	text-align: center;
}
.sec-top > i {
	display: inline-block;
	margin-left: -24px;
	font-size: 30px;
	color: #768db4;
	cursor: pointer;
}
.s2 .sec-top {
	height: 89px;
}
.s2-main {
	background: url("../img/s2/s2-bg.jpg") no-repeat center top;
	background-size: cover;
}
.s2-content {
	margin-left: 6%;
	position: relative;
	height: 818px;
}
.s2-content:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 324px;
	height: 29px;
	background: #fff;
}
.sec-title {
	position: relative;
	margin: 0 0 0 27px;
	font: 38px "proxima-ex-bold";
	letter-spacing: 6.2px;
	text-transform: uppercase;
	color: #fff;
}
.sec-title:after {
	content: "";
	position: absolute;
	left: 2px;
	bottom: -8px;
	width: 81px;
	height: 1px;
	background: #fff;
}
.sec-title > span {
	color: #778eb5;
}
.s2 .sec-title {
	margin: -35px 0 0 29px;
}
.s2-stat {
	position: relative;
	margin: 61px 0 0 0;
}
.s2-stat-texts {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.s2-stat-texts > span {
	position: absolute;
	font: 19px "proxima-ex-reg";
	text-transform: uppercase;
	color: #000;
}
.s2-stat-texts > span:nth-child(1) {
	left: 10.4%;
	top: 5.6%;
}
.s2-stat-texts > span:nth-child(2) {
	left: 34.6%;
	top: 80.6%;
}
.s2-stat-texts > span:nth-child(3) {
	left: 46.5%;
	top: 5.6%;
}
.s2-stat-texts > span:nth-child(4) {
	left: 59.4%;
	top: 80.2%;
}
.s2-stat-texts > span:nth-child(5) {
	left: 80.6%;
	top: 47.8%;
}
.sec-link {
	float: right;
	margin-right: 29px;
}
.sec-link > span {
	float: left;
	width: 358px;
	height: 32px;
	border-right: 0 !important;
	font: 16px/30px "proxima-light";
}
.sec-link > i {
	float: left;
	padding: 0 0 0 14px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 29px;
	color: #fff;
	background: #249446;
}
button.sec-link > i {
	padding: 0 0 0 7px;
}
.s2-link {
	margin: 40px 28px 0 0;
}
.s2-link > span {
	border: 1.5px solid #768db4;
	text-indent: 11px;
	text-align: center;
	color: #768db4;
	background: #fff;
}
/*		S-3 		*/
.s3 {
	padding-bottom: 34px;
}
.s3 .sec-top {
	margin-bottom: -40px;
	height: 132px;
}
.sec-title-box {
	margin: 0 29px 0 71px;
}
.sec-title-bg {
	margin-top: -59px;
	height: 78px;
	background: #768db4;
	border-right: 12px solid #c22821;
}
.s3-brands {
	margin: 28px 0 0;
	text-align: center;
}
.s3-brand {
	display: inline-block;
	min-width: 150px;
	height: 74px;
	line-height: 72px;
	border: 1px solid #fff;
	transition: all 0.2s ease-in-out;
}
.s3-brand:hover, .s3-brand.active {
	border-color: #dee1e7;
	background: #dee1e7;
}
/*		S-4 		*/
.s4 {
	position: relative;
	height: 385px;
	background: #dee1e7;
}
.s4 > .container, .s4 > .container > div {
	height: 100%;
}
.triangle {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}
.triangle > svg {	
	display: inline-block;
	margin-left: -27px;
	width: 34px;
	height: 15px;
}	
.triangle > svg > polygon {
	fill: #fff;
	stroke-width: 0;
}
.s4-left {
	position: relative;
	overflow-y: hidden;
}
.s4-left-img {
	height: 420px;
	line-height: 420px;
	text-align: center;
}
.s4-right {}
.s4-brand-tag {
	display: inline-block;
	margin: 0 0 0 69px;
	width: 325px;
	height: 89px;
	line-height: 89px;
	text-align: center;	
	background: #fff;
}
.s4-menu {
	float: right;
	display: inline-block;
	margin: 16px 29px 0 0;
	padding: 0;
	list-style: none;
}
.s4-menu > li {
	margin-bottom: 1px;
}
.s4-menu > li > a {
	position: relative;
	display: block;
	padding-left: 15px;
	width: 390px;
	height: 32px;
	line-height: 32px;
	font: 16px/32px "proxima-reg";
	text-decoration: none !important;
	color: #000;
}
.s4-menu > li > a:hover {
	color: #fff;
	background: #768db4;
}
.s4-menu > li > a:hover:after {
	content: "\f105";
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	font-family: FontAwesome;
	font-size: 29px;
	text-indent: 13px;
	color: #fff;
	background: #249446;
}
.s4-link {
	margin-top: 23px;
}
.s4-link > span {
	padding: 0 0 0 13px;
	border: 2px solid #768db4;
	line-height: 28px;
	letter-spacing: 0.4px;
	color: #000;
}	
/*		S-5 		*/
.s5-top {
	padding-bottom: 101px;
}
.s5 .sec-top {
	height: 133px;
	margin-bottom: -41px;
}
.s5-main {
	background: url("../img/s5/s5-bg.jpg") no-repeat center top;
	background-size: cover;
}
.s5-blocks {
	position: relative;
	margin: 0 29px 0 1px;
}
.s5-block {
	height: 271px;
}
.s5-block > img {
	width: 100%;
	height: 100%;
}
.s5-blocks-text {
	position: absolute;
	right: 0;
	top: 157px;
	width: 94.1%;
	height: 217px;
	font: 16px/1.57 "proxima-light";
	color: #000;
	background: #fff;
}
.s5-blocks-text .sec-link {
	margin-right: 0;
}
.s5-blocks-text > p {
	margin: 0 0 3px 0;
	padding: 29px 13.6% 0 2.9%;
}
.sec-link-blue {
	position: relative;
	
	padding: 0;
	border: 0;
	background: none;
}
.sec-link-blue > span {
	width: 390px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	background: #768db4;	
}
.sec-link-blue > i {
	position: absolute;
	right: 0;
	top: 0;
}
.s5 .sec-title:after,
.s6 .sec-title:after {
	display: none;
}
/*		S-6 		*/
.s6 .sec-top {
	height: 147px;
	margin-bottom: -52px;
}
.s6 .sec-link {
	margin-top: -25px;
}
.s6 .obj-blocks {
	margin-top: 109px;
}
.obj-blocks {
	margin-right: 29px;
}
.obj-block-list, .obj-block-title,
.obj-block, .obj-block-info,
.obj-block-bottom, .obj-block > img {
	transition: all 0.5s ease-in-out;
} 
.obj-block {
	position: relative;
	display: block;
	margin-bottom: 43px;
	width: 100%;
	height: 704px;
	height: 562px;
	border-bottom: 7px solid #c22821;
	text-decoration: none !important;
	overflow-y: hidden;
}
.s6 .obj-block {
	height: 562px;
}
.obj-blocks > div:nth-child(2) > .obj-block,
.obj-blocks > div:nth-child(7) > .obj-block {
	margin-top: 60px;
	height: 603px;
}
.obj-blocks > div:nth-child(4) > .obj-block,
.obj-blocks > div:nth-child(9) > .obj-block {
	margin-top: 60px;
}
.obj-block > img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: grayscale(100%);
}
.obj-block:hover > img {
	filter: none;
}
.obj-block-info {
	position: absolute;
	bottom: 0;
	padding: 0 18px 0 34px;
	color: #fff;
	opacity: 0;
}
.s6 .obj-block:hover .obj-block-info,
.s6 .obj-block.active .obj-block-info {
	bottom: 154px;
	opacity: 1;
}
.obj-block-title {
	margin: 0;
	font: 25px "proxima-ex-bold";
	letter-spacing: 3.8px;
	text-transform: uppercase;
}
.obj-block-descr {
	margin: 1px 0 0 0;
	font: 16px/1.6 "proxima-light";
}
.obj-block-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 7px;
	line-height: 125px;
	text-align: center;
	background: #fff;
	opacity: 0;
}
.obj-block:hover .obj-block-bottom,
.obj-block.active .obj-block-bottom {
	height: 125px;
	opacity: 1;
}
/*		S-7 		*/
.s7-top {
	padding-bottom: 79px;
}
.s7 .sec-top {
	height: 123px;
	margin-bottom: -34px;
}
.s7 .sec-link {
	margin-top: -7px;
}
.news-main {
	background: #dee1e7;
}
.news-blocks {
	margin: 0 13px 0 -13px;
}
.news-main > .container {
	position: relative;
	height: 100%;
}
.s7 .news-main > .container {
	padding-bottom: 69px;
}
.s15 .news-main > .container:after,
.s7 .news-main > .container:after {
	content: "";
	position: absolute;
	left: 72px;
	bottom: 0;
	width: 319px;
	height: 38px;
	background: #fff;
}
.s15 .news-main > .container:after {
	height: 49px;
}
.news-block {
	position: relative;
	display: block;
	margin: 0 auto 60px;
	padding: 23px 13px 21px 26px;
	width: 263px;
	text-decoration: none !important;
	background: #fff;
}
.news-block-title {
	margin: 0 0 3px 0;
	font: 20px "proxima-ex-reg";
	letter-spacing: 3px;
	text-transform: uppercase;
	word-wrap: break-word;
	color: #000;
}
.news-block-date {
	font: 16px "proxima-light";
	color: #768db4;
}
.news-block > img {
	margin: 17px -13px 0 -26px;
	width: 263px;
}
.news-block-info {
	margin: 20px 0 0 0;
	font: 16px/1.6 "proxima-light";
	color: #a2a2a2;
	overflow: hidden;
}
.s16-item-bg, .news-block-bg {
	position: absolute;
	left: 0;
	top: 0;
	display: table;
	width: 100%;
	height: 100%;
	font: 25px "proxima-ex-reg";
	text-align: center;
	text-decoration: none !important;
	color: transparent !important;
	background: rgba(118,141,180,0);
	transition: all 0.3s ease-in-out;
}
.s16-item-bg > span, .news-block-bg > span {
	display: table-cell;
	vertical-align: middle;
}
.s16-items > li:hover .s16-item-bg, .news-block:hover .news-block-bg {
	color: #fff !important;
	background: rgba(118,141,180,0.87);
}
/*		S-8 		*/
.s8 {
	padding-bottom: 107px;
}
.s8 .sec-top {
	height: 157px;
	margin-bottom: -18px;
}
.s8-main {
	position: relative;
	margin-bottom: -30px;
	height: 607px;
	overflow-y: hidden;
	color: #000;
	box-shadow: inset 0 -190px 190px -50px rgba(255,255,255,1);
}
.s8-main * {
	position: relative;
	z-index: -1;
}
.s8-top-text {
	margin: 0 0 30px 0;
	padding-right: 5.7%;
	font: 22px/1.2 "proxima-light";
}
.s8-main-title {
	margin: 29px 0 0 0;
	font: 14px "proxima-light";
	color: #768db4;
}
.s8-text {
	margin: 29px 0 0 0;
	font: 14px/1.8 "proxima-light";
}
/*		FOOTER		*/
footer {
	height: 696px;
	border-bottom: 18px solid #c22821;
	background: url("../img/footer/footer-bg.jpg") no-repeat center top;
	background-size: cover;
	overflow: hidden;
}
.footer-top > .container {
	position: relative;
}
.footer-top > .container:before {
	content: "";
	position: absolute;
	left: 71px;
	top: 0;
	width: 320px;
	height: 22px;
	background: #fff;
}
.footer-logo {
	display: inline-block;
	margin: 59px 0 53px 72px;
}
.footer-white {
	min-height: 49px;
	text-align: center;
	background: #fff;
}
.footer-menu {
	margin: 14px 0 0 -80px;
}
.footer-menu > li > a {
	padding: 0 16px;
	font: 17px "proxima-reg";
	color: #000;
}
.footer-contacts {
	margin: 80px 0 0 71px;
	padding: 37px 10px 0 23px;
	width: 320px;
	height: 356px;
	font: 18px/1.7 "proxima-reg";
	color: #000;
	background: #fff;
	overflow: hidden;
}
.footer-contacts > div:nth-child(1) > span {
	font: 26px "proxima-reg";
}
.footer-contacts > div:nth-child(2) {
	margin-top: 30px;
}
.footer-social {
	float: right;
	margin: 71px 27px 0 0;
	padding: 0;
	list-style: none;
}
.footer-social > li {
	float: left;
}
.footer-social > li:not(:last-child) {
	margin-right: 7px;
}
.footer-social > li > a {
	display: block;
	width: 77px;
	height: 77px;
	line-height: 71px;
	border: 3px solid #fff;
	border-radius: 50%;
	font-size: 42px;
	text-align: center;
	color: #fff;
	background: #3fa1da;
	transition: all 0.3s ease-in-out;
}
.footer-social > li > a:hover {
	border-color: #3fa1da;
	color: #3fa1da;
	background: #fff;
}
.footer-copy {
	float: right;
	clear: right;
	margin: 167px 29px 0 0;
	font: 15px "proxima-reg";
	color: #000;
}

/*		НАШИ КОНТАКТЫ		*/
.s1 {
	height: 683px;
	height: 999px;
	height: 634px;
	height: 820px;
}
.s1-heading {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.s1-heading-box {
	float: right;
	margin-right: 29px;
	padding-left: 26px;
	width: 1071px;
	height: 125px;
	border-right: 12px solid #c22821;
	background: rgba(53,75,99,0.5);
	color: #fff;
}
.s1-heading-title {
	margin: -38px 0 0 0;
	font: 43px "proxima-ex-bold";
	letter-spacing: 6.3px;
	text-transform: uppercase;
}
.s1-heading-title.one-word {
	margin: 15px 0 0 0;
}
.s1-heading-title > span {
	color: #416daa;
}
.s1 .breadcrumb {
	position: relative;
	margin: 21px 0 0 6px;
	padding: 0 0 0 126px;
	background: transparent;
}
.s1 .breadcrumb a, .s1 .breadcrumb li {
	font: 14px "proxima-ex-bold";
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
}
.s1 .breadcrumb>li+li:before {
	padding: 0 1px;
}
.s1 .breadcrumb:before {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	width: 105px;
	height: 2px;
	background: #fff;
}
/*		S-9		*/
.s9 .sec-top {
	height: 53px;
}
.s9 img {
	max-width: 100%;
	height: auto;
}
.s9-map {
	background: #dee1e7;
}
/*		S-10		*/
.s10 {
	padding: 125px 0 196px;
	color: #000;
}
.s10 a {
	color: #000;
}
.s10 > .container {
	padding: 0 1px;
}
.s10-col, .s10-form {
	border-left: 19px solid #768db4;
}
.s10-col {
	position: relative;
	padding-bottom: 16px;
	min-height: 840px;
}
.s10-left > .s10-col {
	padding-left: 52px;
}
.s10-left > .s10-col:before {
	content: "";
	position: absolute;
	top: 0;
	left: -19px;
	width: 19px;
	height: 56px;
	background: #c22821;
}
.s10-contact {
	margin-bottom: 32px;
	padding-top: 13px;
}
.s10-title {
	position: relative;
	margin: 0;
	font: 25px "proxima-ex-reg";
	letter-spacing: 3.7px;
	text-transform: uppercase;
}
.s10-phone, .s10-addr, .s10-mail {
	display: block;
}
.s10-phone {
	margin-top: 29px;
	font: 24px "proxima-ex-reg";
}
.s10-addr {
	margin-top: -2px;
	font: 18px "proxima-ex-reg";
}
.s10-mail {
	font: 18px "proxima-ex-reg";
}
.s10-routes {
	margin-top: 94px;
	padding-right: 28px;
}
.s10-route:not(:last-child) {
	margin-bottom: 27px;
}
.s10-route-title {
	margin: 13px 0 0 0;
	font: 24px "proxima-reg";
	letter-spacing: 3.6px;
	text-transform: uppercase;
	color: #768db4;
}
.s10-route-text {
	margin: -2px 0 0 0;
	font: 16px/1.2 "proxima-reg";
}
.s10-right > .s10-col {
	margin-left: 46px;
	padding-left: 33px;
}
.s10-right .s10-title:before {
	content: "";
	position: absolute;
	top: -13px;
	left: -52px;
	width: 19px;
	height: 56px;
	background: #dee1e7;
}
.s10-form {
	position: relative;
	padding: 259px 96px 0 48px;
}
.s10-form > .form-group {
	margin-bottom: 6px;
}
.s13-form label, .s10-form label {
	padding-left: 4px;
	font: 16px "proxima-reg";
}
.s10-form .s10-title {
	margin-bottom: 19px;
}
.s13-form input, .s13-form textarea,
.s10-form input, .s10-form textarea {
	border: 1px solid #eee;
	border-radius: 0;
	font: 20px "proxima-reg";
	color: #000;
	background: #dee1e7;
}
.s13-form input, .s10-form input {
	width: 442px;
	height: 44px;
}
.s10-form textarea {
	margin: 8px 0 35px;
	height: 258px;
	resize: none;
}
.s13-form .sec-link, .s10-form .sec-link {
	margin-right: 0;
}
/*		S-11		*/
.s11 > .sec-top {
	height: 117px;
}
.s11 .news-block-info {
	font: 16px/1.25 "proxima-light";
}
.s11 .news-main-bg {
	display: none;
	content: "";
	position: absolute;
	top:;
	left: 0;
	width: 100%;
	height: 345px;
	background: #fff;
}
.s11 .news-main {
	padding-bottom: 58px;
}
/*		S-11 PAGER		*/
.s11-pager {
	padding-bottom: 106px;
	text-align: center;
}
.s11-pager .pager {
	display: inline-block;
	margin: 35px 0;
}
.s11-pager .pager>li, .s11-pager .pager>li>a {
	padding: 0;
	border: 0;
	border-radius: 0;
	height: 38px;
	font: 25px/38px "proxima-ex-reg";
	text-align: center;
	color: #000;
	background: transparent;
}
.s11-pager .pager>li {
	float: left;
	margin: 0 2px;
	min-width: 26px;
}
.s11-pager .pager>li> a {
	display: block;
	transition: all 0.1s ease-in-out;
}
.s11-pager .pager>li:hover>a {
	color: #249446;
}
.s11-pager li.pager__item--current {
	color: #fff;
	background: #249446;
}
.s11-pager .pager__item--previous a,
.s11-pager .pager__item--next a {
	font-size: 30px !important;
	line-height: 42px !important;
}
.s11-pager .pager__item--ellipsis,
.s11-pager .pager__item--first,
.s11-pager .pager__item--last {
	display: none;
}
/*		S-12		*/
.s12 .sec-top:first-child {
	height: 92px;
}
.s12 .sec-top:last-child {
	height: 133px;
}
.s21 .obj-block-descr,
.s12 .obj-block-descr {
	display: none;
}
.s21 .obj-block-info,
.s12 .obj-block-info {
	position: relative;
	height: calc(100% - 99px);
	opacity: 1; 
}
.s21 .obj-block-bottom,
.s12 .obj-block-bottom {
	height: 99px !important;
	line-height: 99px !important;
	opacity: 1;
}
.s21 .obj-block-info,
.s12 .obj-block-info {
	padding: 28px 18px 0 25px;
}
.obj-block-list {
	position: absolute;
	left: 0;
	bottom: -200px;
	margin: 0;
	padding: 18px 38px 0 25px;
	font: 16px/1.6 "proxima-light";
	text-align: left;
	color: #000;
	background: #fff;
	list-style: none;
	opacity: 0;
}
.obj-block:hover .obj-block-list {
	bottom: 0;
	opacity: 1;
}
.obj-block-list > li {
	position: relative;
	text-indent: 14px;
}
.obj-block-list > li:before {
	content: "";
	position: absolute;
	top: 7px;
	left: 0;
	width: 9px;
	height: 9px;
	background: #768db4;
}
.s21 .obj-block-title, 
.s12 .obj-block-title {
	color: #000;
}
.s21 .obj-block:hover .obj-block-title,
.s12 .obj-block:hover .obj-block-title {
	color: #fff;
}
.s21 .obj-block > img, 
.s12 .obj-block > img {
	filter: none;
	opacity: 0.56;
	background: #424242;
}
.s21 .obj-block:hover > img,
.s12 .obj-block:hover > img {
	opacity: 1;
	background: transparent;
}
/*		S-13		*/
.s13 {
	padding-bottom: 200px;
	color: #000;
}
.s13 .sec-top {
	height: 47px;
}
.s13 .sec-title-box {
	margin-top: 32px;
}
.s13 .sec-title {
	margin: 0 0 0 22px;
}
.s13-list {
	margin: 53px 15px 38px 0;
	padding: 0;
	list-style: none;
}
.s13-list > li {
	margin-bottom: 22px;
}
.s13-list .s13-text {
	margin: 22px 0 0 0;
}
.s13-title {
	font: 25px "proxima-ex-reg";
	letter-spacing: 3.77px;
}
.s13-title > b {
	font: 25px "proxima-ex-black";
}
.s13-text {
	padding-right: 12px;
	font: 16px "proxima-light";
}
.s13-contacts {
	margin: 37px 0 0 0;
}
.s13-contacts-block:not(:last-child) {
	margin-bottom: 16px;
}
.s13-contacts .s13-text {
	margin-bottom: 2px;
}
.s13-contact-link {
	font: 24px "proxima-light";
	letter-spacing: 3.6px;
	color: #000 !important;
	outline: 0 !important;
}
.s13-contacts + .s13-title {
	margin: 58px 0 0 0;
}
.s13-form {
	margin: 45px 0 0 0;
	max-width: 1008px;
}
.s13-form .s13-title {
	margin: 0 0 45px 0;
}
.s13-form > .form-group {
	margin-bottom: 8px;
}
.s13-cboxes > label:first-child {
	margin-bottom: 33px;
}
.s13-cboxes {
	margin: 14px 0 16px 0;
}
.s13-cboxes input[type="checkbox"] {
	display: none;
}
.s13-cboxes input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	margin-bottom: 14.1px;
	padding-left: 41px;
	font: 16px "proxima-reg";
	cursor: pointer;
}
.s13-cboxes input[type="checkbox"] + label:before {
	content: "";
	position: absolute;
	left: 4px;
	top: -3px;
	border: 1px solid #249446;
	height: 25px;
	width: 25px;
	background: #fff;
}
.s13-cboxes input[type="checkbox"]:checked + label:after {
	content: "\f00c";
	position: absolute;
	left: 9px;
	top: 0;
	font: 17px "FontAwesome";
	color: #249446;
}
.s13-form textarea {
	margin: 2px 0 26px;
	height: 152px;
	resize: none;
}
/*		S-14		*/
.s14 {
	padding-bottom: 103px;
}
.s14 .sec-top {
	height: 47px;
}
.s14-main {
	margin: 60px 29px 0 72px;
}
.s14-top {
	position: relative;
	margin-bottom: 64px;
	height: 334px;
	color: #fff;
	background: #768db4;
}
.s14-top:before, .s14-top:after {
	content: "";
	position: absolute;
	left: -71px;
	top: 0;
	width: 19px;
}
.s14-top:before {
	height: 100%;
	background: #768db4;
}
.s14-top:after {
	height: 56px;
	background: #c22821;
}
.s14-top-left {
	padding: 16px 0 0 25px;
}
.s14-top-title {
	margin: 0;
	font: 43px "proxima-ex-bold";
	letter-spacing: 6.3px;
	text-transform: uppercase;
}
.s14-top-text {
	margin: 26px 0 0 0;
	max-width: 460px;
	font: 16px/1.2 "proxima-reg";
}
.s14-top-right-img {
	float: right;
	width: 480px;
}
.s14-top-right-img > img {
	display: block;
	width: 100%;
	height: auto;
}
.s14-p {
	margin: 0 1px 17px 0;
	font: 16px "proxima-reg";
	color: #000;
}
.s14-ol, .s14-ul {
	margin-bottom: 20px;
	padding: 0;
	list-style: none;
}
.s14-ol>li, .s14-ul>li {
	position: relative;
	margin-bottom: -1px;
	padding-left: 14px;
	font: 16px "proxima-reg";
	color: #000;
}
.s14-ul>li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 7px;
	width: 9px;
	height: 9px;
	background: #768db4;
}
.s14-ol>li:before { 
	counter-increment: item;
	content: counter(item)".";
	position: absolute;
	left: 0;
	top: 0;
	font: 16px "proxima-black";
	color: #768db4;
}
.s14-h2 {
	position: relative;
	margin: 23px 0 17px 0;
	font: 25px "proxima-reg";
	letter-spacing: 3.75px;
	color: #768db4;
	text-transform: uppercase;
}
.s14-h2:nth-of-type(2), .s14-h2:nth-of-type(3) {
	margin: 23px 0 27px 0;
}
.s14-h2:before {
	content: "";
	position: absolute;
	left: -71px;
	top: -26px;
	width: 19px;
	height: 85px;
	background: #768db4;
}
.s14-bq {
	margin: 24px 0 22px;
	padding: 14px 18px 13px 36px;
	border: 0;
	border-right: 12px solid #c22821;
	font: 24px "proxima-reg";
	color: #fff;
	background: #768db4;
}
.s14-h3 {
	margin: 37px 0 18px;
	font: 16px "proxima-reg";
	letter-spacing: 2.4px;
	text-transform: uppercase;
	color: #768db4;
}
.s14-h3:nth-of-type(2), .s14-h3:nth-of-type(3) {
	margin: 18px 0;
}
.s14-h3 + .s14-p {
	margin-top: 19px;
}
.s14-table {
	position: relative;
	margin: 52px 0 36px 0;
	max-width: 1040px;
}
.s14-table:before {
	content: "";
	position: absolute;
	left: 0;
	top: -17px;
	width: 100%;
	height: 1px;
	background: #768db4;
}
.s14-table th, .s14-table td {
	border: 0 !important;
	padding: 2px 0 0 12px !important;
	line-height: 1 !important;
}
.s14-table tr *:not(:last-child) {
	border-right: 1px solid #768db4 !important;
}
.s14-table thead th {
	position: relative;
	top: -3px;
	padding: 0 0 14px 12px !important;
	font: 16px/1.2 "proxima-ex-reg" !important;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #768db4;
}
.s14-table td {
	font: 16px "proxima-ex-thin";
	color: #1e1d1c;
}
.s14-table tbody tr:nth-child(odd) {
	background: #dfe5ee;
}
.s14-table tr>*:first-child {
	padding-left: 159px !important;
	width: 364px;
}
.s14-table tbody tr {
	height: 20px !important;
}
/*		S-15		*/
.s15 {}
.s15 .sec-title {
	margin: 0 0 0 30px;
}
.s15 section:nth-of-type(1) .sec-top {
	height: 47px;
}
.s15 section:nth-of-type(2) .sec-top {
	margin-bottom: -57px;
	height: 222px;
}
.s15 section:nth-of-type(4) .sec-top,
.s15 section:nth-of-type(3) .sec-top {
	margin-bottom: -5px;
	height: 136px;
}
.s15 section:nth-of-type(5) .sec-top {
	margin-bottom: -69px;
	height: 234px;
}
.s15 section:nth-of-type(6) .sec-top {
	margin-bottom: -53px;
	height: 262px;
}
.s15-title {
	margin: 38px 0 0 0;
	max-width: 910px;
	font: 43px "proxima-ex-bold";
	letter-spacing: 6.4px;
	text-transform: uppercase;
	color: #416daa;
}
.s15-img {
	margin: 34px 0 0 0;
	background: linear-gradient(to right, #dee1e7 0%, #dee1e7 50%, #fff 50%, #fff 100%);
}
.s15-bottom-img {
	margin: 30px 0 0 0;
	background: linear-gradient(to left, #dee1e7 0%, #dee1e7 50%, #fff 50%, #fff 100%);
}
.s15-img-box {
	position: relative;
	margin-right: 28px;
}
.s15-img-box:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 12px;
	height: 100%;
	background: #c22821;
}
.s15-bottom-img .s15-img-box:after {
	left: 0;
}
.s15-img-box > img {
	max-width: 100%;
	height: auto;
}
.s15-list {
	margin: 60px 0 0 0;
	padding: 0;
	list-style: none;
}
.s15-list>li {
	position: relative;
	margin-bottom: -1px;
	padding-left: 37px;
	font: 30px "proxima-ex-reg";
	letter-spacing: 4.46px;
	color: #000;
}
.s15-list>li:before {
	content: "";
	position: absolute;
	left: 4px;
	top: 11px;
	width: 17px;
	height: 17px;
	background: #416daa;
}
.s15-photos {
	margin-top: 59px;
	background:	linear-gradient(to bottom, #fff 0, #fff 45px, #dee1e7 45px, #dee1e7 549px, #fff 549px, #fff 100%);
}
.s15-photos.s15-ph-2 {
	margin-top: 54px;
}
.s15-ph-2 .s15-photos-col:nth-child(1) {
	padding-top: 105px;
}
.s15-ph-2 .s15-photos-col:nth-child(3) {
	padding-top: 70px;
}
.s15-photos img {
	margin-bottom: 27px;
	width: 362px;
	height: auto;
}
.s15-photos-box {
	margin: 0 26px 0 2px;
}
.s15-photos-col {
	text-align: center;
}
.s15-photos-col:nth-child(1) img {
	float: left;
}
.s15-photos-col:nth-child(3) img {
	float: right;
}
.s15-cust-cont {
	margin-top: -23px;
}
.s15 .news-main {
	margin-top: 58px;
}
.s15 .news-main .container {
	padding-bottom: 30px;
}
.s15 .news-blocks {
	margin: 0 13px 0 -13px;
}
.s15 .news-block {
}
.s15 .news-block-date {
	display: none;
}
.s15 .news-block-title {
	text-transform: none;
}
.news-block-job {
	margin: 0;
	font: 16px "proxima-light";
	color: #768db4;
	text-transform: uppercase;
}
.s15 .news-blocks *:nth-child(2) .news-block-title {
	margin-top: 76px;
}
.s15 .news-blocks *:nth-child(3) .news-block-title {
	margin-top: 46px;
}
.s15 .news-blocks *:nth-child(4) .news-block-title {
	margin-top: 25px;
}
.s15-list-links {
	margin: 36px 0 0 0;
	padding: 0 0 0 3px;
	list-style: none;
}
.s15-list-links a {
	position: relative;
	font: 30px "proxima-ex-reg";
	letter-spacing: 4.45px;
	text-decoration: none !important;
	color: #768db4;
	overflow: hidden;
}
.s15-list-links a:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #a8b5cd;
	transition: all 0.2s ease-in-out;
}
.s15-list-links a:hover:after {
	width: 0;
}
.s15-big-text {
	margin: 99px 0 0 0;
	font: 33.6px/1.22 "proxima-ex-bold";
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #416daa;
}
.s15 section:nth-of-type(6) .s15-list {
	margin: 84px 0 0 0;
}
.s15 .s13-form {
	margin: 96px 0 0 0;
	padding-bottom: 215px;
}
.s15 .fake-sel {
	margin: -1px 0 25px 0;
}
.fake-sel {
	width: 440px;
	font: 16px/39px "proxima-reg";
	text-align: center;
	color: #000;
}
.fake-sel-title, .fake-sel-option {
	padding-right: 32px;
	cursor: pointer;
}
.fake-sel-title {
	height: 42px;
	border: 1px solid #000;
	background: #fff url("../img/s15/fake-sel-bg.png") no-repeat right 0;
	cursor: pointer;
}
.fake-sel-list {
	display: none;
	position: absolute;
	padding: 11px;
	width: 440px;
	border: 1px solid #000;
	border-top: 0;
	background: #fff;
	z-index: 9999;
}
.fake-sel-option:hover {
	background: #f5f5f5;
}
.s15 select {
	display: none;
}
.s15 input[type="file"] {
	display: none;
}
.s15 .file-upload {
	float: left;
	position: relative;
	margin: 18px 0 0 0;
	width: 92px;
	height: 44px;
	border: 1px solid #eee;
	background: #dee1e7 url("../img/s15/fileupload-bg.png") no-repeat center;
}
.s15 .file-upload label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.s15 .file-upload span {
	position: absolute;
	top: -29px;
	font: 16px "proxima-reg";
	white-space: nowrap;
	color: #000;
}
.s15 form .sec-link {
	margin-top: 25px;
}
/*		S-16		*/
.s16 .sec-top {
	height: 46px;
}
.s16-items {
	margin: 36px 27px 82px 1px;
	padding: 0;
	list-style: none;
}
.s16-items > li {
	position: relative;
	padding: 35px 0 31px;
	border-bottom: 1px solid #768db4;
}
.s16-item {
	position: relative;
	padding-left: 19px;
	height: 178px;
}
.s16-item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 19px;
	height: 100%;
	background: linear-gradient(to bottom, #c22821 0, #c22821 12px, #768db4 12px, #768db4 100%);
}
.s16-item-img {
	text-align: center;
}
.s16-item-img > img {
	width: 214px;
	height: 178px;
}
.s16-item-right {
	margin-left: -2px;
	color: #000;
}
.s16-item-title {
	position: relative;
	top: -6px;
	margin: 0 0 22px 0;
	height: 60px;
	font: 25px "proxima-ex-reg";
	letter-spacing: 3.73px;
	text-transform: uppercase;
	overflow: hidden;
}
.s16-item-date {
	font: 16px "proxima-light";
	color: #768db4;
}
.s16-item-text {
	margin: 17px 0 0 0;
	height: 57px;
	font: 16px/1.2 "proxima-light";
	overflow: hidden;
}
/*		S-17		*/
.s1-brand .s1-heading-title {
	display: none;
}
.s1-brand {
	background: url(../img/s17/s1brand-bg.jpg) no-repeat center top;
}
.s1-brand-img {
	margin: -33px 0 24px 3px;
	width: 292px;
	height: 98px;
	line-height: 98px;
	text-align: center;
	background: #fff;
}
.s1-brand-img > img {
	max-width: 90%;
	max-height: 90%;
}
.s17 .sec-top {
	height: 47px;
}
.s17-main {
	position: relative;
	margin: 31px 0 0 1px;
	padding: 15px 16px 27px 71px;
	font: 16px/1.2 "proxima-reg";
	color: #000;
}
.s17-main:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 19px;
	height: 100%;
	background: linear-gradient(to bottom, #c22821 0, #c22821 56px, #768db4 56px, #768db4 100%);
}
.s17-text {
	margin: 0;
}
.s17-title {
	margin: 21px 0 18px;
	padding-left: 4px;
	font: 25px "proxima-reg";
	letter-spacing: 3.8px;
	text-transform: uppercase;
	color: #768db4;
}
.s17-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.s17-list > li {
	position: relative;
	text-indent: 14px;
}
.s17-list > li > span {
	color: #768db4;
}
.s17-list > li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 9px;
	height: 9px;
	background: #768db4;
}
/*		S-18		*/
.s18 .sec-top {
	margin-bottom: 23px;
	height: 102px;
}
.s17-items {
	margin-top: 107px;
}
.s17-item {
	position: relative;
	display: block;
	margin-top: 67px;
	padding-top: 108px;
	width: 166px;
	height: 233px;
	text-decoration: none !important;
	color: #000 !important;
}
.s17-item-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	z-index: 1;
}
.s17-item-img > img {
	max-width: 100%;
	max-height: 140px;
}
.s17-item-title-bg {
	position: relative;
	height: 70px;
	background: #dee1e7;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}
.s17-item-title {
	position: absolute;
	left: 10px;
	bottom: 3px;
	margin: 0;
	font: 13.72px "proxima-ex-bold";
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}
.s17-item-info {
	margin: -2px 7px 0 10px;
	height: 57px;
	font: 16px/1.2 "proxima-ex-reg";
	overflow: hidden;
}
.s17-item:hover .s17-item-title-bg {
	background: #768db4;
}
.s17-item:hover .s17-item-title {
	color: #fff;
}
/*		S-19		*/
.s19 .sec-top {
	margin-bottom: 19px;
	height: 86px;
}
.s19-download {
	margin: 81px 0 0 0;
}
.s19-download-block:first-child {
	margin-bottom: 76px;
}
.s19-download-title {
	padding-left: 100px;
	margin: 0;
	font: 13.72px "proxima-ex-bold";
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #000;
}
.s19-download-links {
	margin: 71px -2px 0 1px;
}
.s19-download-links a {
	display: block;
	padding-left: 27px;
	width: 263px;
	height: 60px;
	border-right: 12px solid #c22821;
	font: 16px/60px "proxima-ex-reg";
	text-align: center;
	text-decoration: none !important;
	color: #000 !important;
	background: #dee1e7 url(../img/s19/s19link-1.png) no-repeat 23px 15px;
	transition: all 0.2s ease-in-out;
}
.s19-download-links a:hover {
	color: #fff !important;
	background: #768db4 url("../img/s19/s19link-2.png") no-repeat 23px 15px;
}
.s19-download-block:last-child .s19-download-links a {
	padding: 3px 6px 0 75px;
	font: 16px/1.2 "proxima-ex-reg";
	text-align: left;
}
/*		S-20		*/
.s20 .sec-top {
	margin-bottom: -13px;
	height: 256px;
}
.s20-videos {
	margin: 93px -2px 0 2px;
	text-align: center;
}
.s20-video {
	display: block;
	margin-top: 75px;
	width: 261px;
	outline: 0 !important;
}
.s20-video-img {
	position: relative;
}
.s20-video-img:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	font: 13.72px "proxima-ex-bold";
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}
.s20-video-img > img {
	width: 100%;
	height: auto;
	background: url("../img/s20/s20play.png") no-repeat center;
}
.s20-video-img-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("../img/s20/s20play.png") no-repeat center;
}
.s20-video-info {
	margin: 19px 0 0 0;
	font: 16px/1.2 "proxima-reg";
	text-align: left;
	color: #000;
}
.slider-panel {
	margin: 58px 28px 0 1px;
	height: 32px;
	background: #768db4;
}
.slider-panel > i {
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 29px;
	color: #fff;
	background: #249446;
	cursor: pointer;
}
.slider-panel > i:first-child {
	padding-left: 10px;
	float: left;
}
.slider-panel > i:last-child {
	padding-left: 14px;
	float: right;
}
.s21-objects .slick-dots,
.s20-videos .slick-dots {
	position: absolute;
	display: inline-block !important;
	margin: 58px 0 0 -46px;
	padding: 0;
	list-style: none;
}
.s21-objects .slick-dots > li, 
.s20-videos .slick-dots > li {
	float: left;
}
.s21-objects .slick-dots > li:not(:last-child),
.s20-videos .slick-dots > li:not(:last-child) {
	margin-right: 7px;
}
.s21-objects .slick-dots > li > button,
.s20-videos .slick-dots > li > button {
	padding: 0;
	width: 15px;
	height: 15px;
	border: 0;
	border-radius: 50%;
	font-size: 0;
	background: #fff;
	outline: 0;
	transition: all 0.1s ease-in-out;
}
.s21-objects .slick-dots > li.slick-active > button, 
.s20-videos .slick-dots > li.slick-active > button {
	background: #c22821;
}
.slick-slide {
	outline: 0;
}
/*		S-21		*/
.s21 {
	padding-bottom: 144px;
}
.s21 .sec-top {
	height: 258px;
	margin-bottom: -65px;
}
.s21-objects {
	margin: 108px 0 0 0;
	text-align: center;
}
.s21 .obj-block-bottom > img {
	display: inline;
}
.s21 .obj-block {
	text-align: left;
	outline: 0;
}
/*		S-22		*/
.s22-table-box {
	position: relative;
	margin: 0 29px 0 20px;
	background: #d2d9e6 url("../img/s22/s22-bg.png") no-repeat 184% 0;	
}
.s23-main:before,
.s22-table-box:before {
	content: "";
	position: absolute;
	top: 0;
	left: -19px;
	width: 19px;
	height: 100%;
	background: linear-gradient(to bottom, #c22821 0, #c22821 56px, #768db4 56px, #768db4 100%);
}
.s22-table {
	max-width: 747px;
}
.s22-table > * > *:first-child {
	padding-top: 103px;
}
.s22-table > * > *:last-child {
	padding-bottom: 84px;
}
.s22-left-col {
	float: left;
	width: 47.7%;
	background: #fff;
}
.s22-right-col {
	float: left;
	padding-left: 6.2%;
	width: 52.3%;
	background: #dfe5ee;
}
.s22-brand-img {
	position: relative;
}
.s22-brand-img:after {
	content: "";
	position: absolute;
	top: 18px;
	right: 4.4%;
	width: 37.7%;
	height: 1px;
	background: #768db4;
}
.s22-brand-img>img {
	margin-left: 12.7%;
}
.s22-brand-list>ul {
	position: relative;
	margin: 0;
	padding: 9px 0 27px 0;
	list-style: none;
}
.s22-brand-list>ul>li {
	position: relative;
}
.s22-brand-list>ul>li:before {
	content: "\f04b";
	position: absolute;
	left: -12px;
	top: 4px;
	font: 12px "FontAwesome";
	color: #768db4;
}
.s22-brand-list>ul>li>a {
	font: 16px "proxima-reg";
	color: #000;
}

.s22-submenu {
	display: none;
	position: absolute;
	left: 344px;
	top: -55px;
	margin: 0;
	padding: 22px 0 28px 0;
	width: 375px;
	background: #fff;
	list-style: none;
}
.s22-submenu>li {
	position: relative;
	margin-bottom: -1px;
}
.s22-submenu>li:before, .s22-submenu>li:after {
	content: "\f04b";
	position: absolute;
	top: 4px;
	font: 12px "FontAwesome";
	color: #768db4;	
}
.s22-submenu>li:hover:before, .s22-submenu>li:hover:after, .s22-submenu>li:hover>a {
	color: #fff;
}
.s22-submenu>li:hover {
	background: #768db4;
}
.s22-submenu>li:before {
	left: 44px;
}
.s22-submenu>li:after {
	display: none;
	right: 12px;
}
.s22-submenu>li:hover:after {
	display: block;
}
.s22-submenu>li>a {
	display: block;
	padding-left: 56px;
	font: 16px "proxima-reg";
	text-decoration: none !important;
	color: #000;
}
/*		S-23		*/
.s23 {
	padding: 78px 0 76px;
}
.s23-main {
	position: relative;
	margin: 0 29px 0 20px;
	padding: 0 62px 39px 50px;
	font: 16px "proxima-reg";
	color: #000;
}
.s23-text:first-child {
	position: relative;
	top: -2px;
	margin-bottom: 15px;
}
.s23-text {
	margin: 0;
}
.s23-title + .s23-text {
	color: #768db4;
}
.s23-title {
	margin: 0 0 0 36px;
	font: 16px "proxima-bold";
	text-transform: uppercase;
	color: #768db4;
}
.s23-list {
	margin: 0 0 -2px 0;
	padding: 0;
	list-style: none;
}
.s23-list > li {
	position: relative;
	margin-bottom: -1px;
	text-indent: 14px;
}
.s23-list > li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 9px;
	height: 9px;
	background: #768db4;
}
/*		S-24		*/
.s24 {
	padding-bottom: 156px;
}
.s24-main {
	position: relative;
	margin: 9px 29px 0 16px;
}
.s24-main:before {
	content: "";
	position: absolute;
	top: 0;
	left: -15px;
	width: 19px;
	height: 100%;
	background: linear-gradient(to bottom, #c22821 0, #c22821 56px, #768db4 56px, #768db4 100%);
}
.s25-left,
.s24-left {
	padding: 222px 0 0 7.12%;
}
.s25-left-title,
.s24-left-title {
	margin: 33px 0 0 0;
	font: 43px/1.22 "proxima-ex-bold";
	letter-spacing: 6.25px;
	color: #5271a5;
}
.s25-left-title > span:nth-of-type(1),
.s24-left-title > span:nth-of-type(1) {
	text-transform: uppercase;
}
.s25-left-title > span:nth-of-type(2) > span,
.s24-left-title > span:nth-of-type(2) > span {
	color: #9eaecb;
}
.s24-item > * {
	height: 243px;
}
.s25-item > *:not(.s25-item-tabs) {
	height: 885px;
}
.s24-item-img {
	background: #dfe5ee;
}
.s25-item-img {
	padding-top: 80px;
	background: #dfe5ee;
	text-align: center;
}
.s25-item-img>a {
	position: relative;
	display: inline-block;
	margin-bottom: 34px;
	max-width: 95%;
	outline: 0;
}
.s25-item-img>a>img {
	max-width: 100%;
}
.s24-item-img-box {
	margin: 0 auto;
	width: 244px;
	height: 243px;
	line-height: 243px;
	border-bottom: 1px solid #768db4;
	text-align: center;
}
.s25-item-img>a:after {
	content: "\f002";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 22px;
	height: 21px;
	font: 16px/21px "FontAwesome";
	text-align: center;
	color: #fff;	
	background: #1fac32;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
.s25-item-img>a:hover:after {
	opacity: 1;
}
.s24-item:last-child .s24-item-img-box {
	border-bottom: 0;
}
.s24-item-img-box > img {
	max-width: 100%;
	max-height: 100%;
}
.s25-item-info,
.s24-item-info {
	position: relative;
	color: #000;
	background: #d2d9e6;
}
.s24-item-info-box {
	position: absolute;
	left: 0;
	bottom: 46px;
	padding-left: 5%;
}
.s24-item-title {
	margin: 0 0 3px 0;
	font: 22px "proxima-ex-reg";
	letter-spacing: 3.3px;
	text-transform: uppercase;
}
.s24-item-title + span {
	font: 16px "proxima-light";
}
.s24-item-code {
	margin: 2px 0 0 0;
	font: 25px "proxima-ex-reg";
	letter-spacing: 3.7px;
}
.s24-item-text {
	margin: 26px 0 0 0;
	max-height: 78px;
	font: 16px "proxima-light";
	overflow: hidden;
}
.s24-item-btn {
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 45px;
	display: block;
	width: 100%;
	height: 32px;
	font: 16px/34px "proxima-light";
	text-decoration: none !important;
	color: #fff !important;
	background: #768db4;
}
.s24-item-btn:after {
	content: "\f105";
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 13px;
	width: 32px;
	height: 32px;
	font: 27px/32px "FontAwesome";
	color: #fff;
	background: #249446;
}
/*		S-25		*/
.s25 {
	padding-bottom: 104px;
}
.s25-item {
	color: #000;
}
.s25-item-info-box {
	padding: 69px 8% 0 4%;
}
.s25-item-title {
	margin: 0;
	font: 20px "proxima-reg";
}
.s25-item-text {
	font: 16px/1.2 "proxima-reg";
}
.s25-item-stat {
	margin: 49px 0 0 4px;
}
.s25-item-stat-row {
	position: relative;
	margin-top: 21px;
	padding-bottom: 22px;
	text-transform: uppercase;
}
.s25-item-stat-row:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 17.3%;
	width: 67%;
	height: 1px;
	background: #5271a5;
}
.s25-item-stat-title {
	margin: 0;
	font: 22px "proxima-ex-reg";
	letter-spacing: 3.3px;
	color: #5271a5;
}
.s25-item-stat-info {
	font: 25px "proxima-ex-reg";
	letter-spacing: 3.7px;
}
.s25-item-soc-box {
	margin-top: 79px;
	text-align: center;
}
.s25-item-soc {
	margin-left: -28px;
	display: inline-block;
}
.s25-item-soc a {
	float: left;
	margin-right: 28px;
	width: 24px;
	height: 23px;
	line-height: 23px;
	border-radius: 50%;
	font-size: 11px;
	color: #fff;
}
.s25-item-soc a:last-child {
	margin-right: 0;
}
.s25-item-soc a:nth-child(1) {
	background: #36609f;
}
.s25-item-soc a:nth-child(2) {
	background: #6084a8;
}
.s25-item-soc a:nth-child(3) {
	background: #db5442;
}
.s25-item-tabs {
	margin: 0;
	padding: 0;
	list-style: none;
}
.s25-item-tabs a {
	position: relative;
	display: block;
	padding-right: 22px;
	height: 32px;
	font: 16px/34px "proxima-light";
	text-align: center;
	text-transform: uppercase;
	text-decoration: none !important;
	color: #5271a5 !important;
}
.s25-item-tabs a:after {
	content: "\f107";
	position: absolute;
	top: 1px;
	right: 17px;
	font: 27px/30px "FontAwesome";
	color: #fff;
}
.s25-item-tabs a:before {
	content: "";
	position: absolute;
	top: 0;
	right: -18px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 32px 0 0 18px;
	z-index: 1;
}
.s25-item-tabs > li:last-child > a:before {
	right: 0;
	border-width: 0 18px 32px 0;
	border-color: transparent #d2d9e6 transparent transparent;
}
.s25-item-tabs > li:last-child > a:after {
	right: 30px;
}
.s25-item-tabs > li:nth-child(1) > a {
	background: #d2d9e6;
}
.s25-item-tabs > li:nth-child(1) > a:before {
	border-color: transparent transparent transparent #d2d9e6;
}
.s25-item-tabs > li:nth-child(2) > a {
	background: #dfe5ee;
}
.s25-item-tabs > li:nth-child(2) > a:before {
	border-color: transparent transparent transparent #dfe5ee;
}
.s25-item-tabs > li:nth-child(3) > a {
	background: #fff;
}
.s25-item-tabs > li:nth-child(3) > a:after {
	color: #768db4;
}
.s25-main {
	position: relative;
	margin: 9px 29px 0 1px;
	padding-bottom: 43px;
	border-left: 19px solid #768db4;
}
.s25-main:before {
	content: "";
	position: absolute;
	top: 0;
	left: -19px;
	width: 19px;
	height: 56px;
	background: #c22821;
}
.s25-bottom {
	padding: 51px 0 0 7.4%;
	min-height: 481px;
}
.s25-bottom .s14-table {
	margin: 52px 0 10px 0;
}
.s14-table-desc {
	margin: 0 0 0 15.4%;
	font: 16px/1.2 "proxima-ex-thin";
	color: #6e6e6d;
}
.image-source-link {
	color: #98C3D1;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
/*		S-26		*/
.s26 .sec-top {
	height: 47px;
}
.s27 .sec-top {
	height: 70px;
	margin-bottom: 34px;
}
.s26-main {
	margin: 70px 0 123px;
}
.s27-main {
	margin: 146px 0 222px;
}
.s27-img, .s26-img {
	display: block;
	margin-bottom: 28px;
	max-width: 363px;
	height: auto;
	text-decoration: none !important;
}
.s27-img {
	margin-bottom: 26px;
	max-width: 361px;
}
.s27-img>img, .s26-img>img {
	width: 100%;
	height: auto;
}
.s26-img-title {
	margin: 0;
	padding: 0 14px;
	height: 47px;
	border-top: 7px solid #768db4;
	font: 16px/40px "proxima-light";
	color: #000;
	transition: all 0.2s ease-in-out;
	background: #dadde3;	
	white-space: nowrap; 
	text-overflow: ellipsis; 
	overflow: hidden;
}
.s26-img:hover .s26-img-title {
	border-color: #c22821;
	color: #fff;
	background: #768db4;	
}