body {
	min-width: 320px;
	font-family: 'Muli', sans-serif;
	background: #fff;
	overflow-x: hidden;
}
.bg-red {
	color: #fff !important;
	background: #ff6a4c;
}
.bg-white {
	color: #222627 !important;
	background: #fff;
}
.txt-right {
	text-align: right;
}

header nav {
	padding-top: 30px;
	transition: all 0.5s;
}
header.scrolled nav {
	padding: 15px 0 8px;
	background: #262524;
}
header .navbar-brand {
	margin-left: -43px !important; 
	height: 41px;
	padding: 0;
	overflow: hidden;
}
header .navbar-right {
	margin-top: -4px;
	margin-right: -55px;
}
header .navbar-right > li:not(:first-child) {
	margin-left: 33px;
}
header .navbar-right a {
	position: relative;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	background: transparent !important;
	opacity: 0.9;
}
header .navbar-right > li:not(:last-child) > a:after {
	content: "";
	position: absolute;
	right: -20px;
	top: 19px;
	width: 2px;
	height: 12px;
	background: rgba(255,255,255,0.9);
}
header .navbar-toggle {
	margin-top: 2px;
	border: 1px solid #fff;
}
header .navbar-toggle .icon-bar {
	background: #fff;
}

.s1 {
	position: relative;
	padding: 120px 0 102px;
	color: #fff;
	background-image: url("../img/s1-bg.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.s1-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.92;
	background: #153d4d;
}
.s1-left-text {
	margin: 25px 53px 0 0;
	font-size: 40px;
	letter-spacing: 0.1px;
	line-height: 1.2;
	font-weight: 300;
	text-align: right;
	text-shadow: 2.5px 4.3px 5px rgba(1, 3, 0, 0.2);
	opacity: 0.9;
}
.s1-form-box {
	margin: 32px 0 0 33px;
}
.s1-form-heading {
	margin: 0 0 20px 0;
	font-size: 36px;
	line-height: 1.05;
	font-weight: 600;
}
.s1-form-heading + p {
	margin: 0 0 0 2px;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 300;
}
.s1-form {
	margin: 24px 0 0 2px;
	max-width: 493px;
}
.s1-form input {
	width: 100%;
	padding-left: 0;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #fff !important;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	background: transparent;
	box-shadow: none !important;
}
.s1-form input::-webkit-input-placeholder {
	color: #fff;
}
.s1-form input::-moz-placeholder {
	color: #fff;
}
.s1-form input:-ms-input-placeholder {
	color: #fff;
}
.s1-form input:focus::-webkit-input-placeholder {
	color: transparent;
}
.s1-form input:focus::-moz-placeholder {
	color: transparent;
}
.s1-form input:focus:-ms-input-placeholder {
	color: transparent;
}
.s1-form .form-group {
	margin-bottom: 31.5px;
}
.s1-form [type='submit'] {
	margin: 17px 0 37px;
	width: 211px;
	height: 57px;
	padding: 0;
	border-radius: 5px;
	border: 0;
	font-size: 14px;
	font-weight: 700;
	background: #ff6a4c;
}
.bright-hov:hover {
	transition: all 0.1s;
}
.bright-hov:hover {
	filter: brightness(115%);
}
.s1 .flex-box > div:last-child {
	position: relative;
}
.s1 .flex-box > div:last-child:before {
	content: "";
	position: absolute;
	left: -11px;
	top: 0;
	width: 1px;
	height: 100%;
	background: #fff;
}

.s2 {
	padding: 104px 0 75px;
}
.s2 .flex-box > div:first-child .sec-list {	
	padding-top: 56px;
}
.s3 .flex-box > div:first-child .sec-list {	
	padding-top: 89px;
}
.s2 .flex-box > div:first-child .sec-list > li {
	margin-bottom: 40px;
	padding-right: 55px;
}
.s3 .flex-box > div:first-child .sec-list > li {
	margin-bottom: 28px;
	padding-right: 56px;
	padding-left: 13px;
}

.s2 .flex-box > div:last-child .sec-list {	
	padding-top: 133px;
}
.s3 .flex-box > div:last-child .sec-list {	
	padding-top: 225px;
}
.s2 .flex-box > div:last-child .sec-list > li {
	margin-bottom: 28px;
	padding: 0 28px 0 36px;
}
.s3 .flex-box > div:last-child .sec-list > li {
	margin-bottom: 46px;
	padding: 0 31px 0 34px;
}
.sec-title {
	margin-right: 54px;
	font-size: 44px;
	line-height: 1.21;
	font-weight: 300;
	letter-spacing: 0.1px;
	opacity: 0.9;
}
.sec-list {
	position: relative;
	margin: 0;
	padding: 0; 
	list-style: none;
}
.sec-list > li {
	position: relative;
	font-size: 24px;
	line-height: 1.21;
	font-weight: 300;
	opacity: 0.9;
}
.s2 .flex-box > div:first-child .sec-list:after {
	content: "";
	position: absolute;
	right: -5px;
	top: -87px;
	width: 1px;
	height: calc(100% + 122px);
	background: #474a4b;
}
.s2 .flex-box > div:first-child .sec-list > li:after {
	content: "";
	position: absolute;
	right: -10px;
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	background: #474a4b;
	transform: rotate(45deg);
}

.s3 {
	padding: 108px 0 103px;
	background: #ff6a4c;
}
.s3-btn {
	display: inline-block;
	margin: 56px 0 0 35px;
	padding: 0;
	border: 0;
	width: 311px;
	height: 68px;
	line-height: 68px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	background: #255e75 !important;
}
.s3 .flex-box > div:first-child .sec-list:after {
	content: "";
	position: absolute;
	right: -5px;
	top: -144px;
	width: 1px;
	height: calc(100% + 175px);
	background: #fff;
}
.s3 .flex-box > div:last-child .sec-list > li:before {
	content: "";
	position: absolute;
	left: -32px;
	top: 9px;
	width: 12px;
	height: 12px;
	background: #fff;
	transform: rotate(45deg);
}

footer {
	padding: 51px 0 56px;
	background: #262524;
}
.footer-logo {
	display: inline-block;
	margin: 0 0 0 -56px;
	height: 33px;
	overflow: hidden;
}
.footer-logo > img {
	width: 156px;
}
.footer-copy {
	margin-top: 16px;
	font-size: 9px;
	letter-spacing: 0.95px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.footer-copy > a {
	color: #fff !important;
}
.footer-social {
	float: right;
	display: inline-block;
	margin: 5px -50px 0 0;
	padding: 0;
	list-style: none;
}
.footer-social > li {
	float: left;
}
.footer-social > li:not(:first-child) {
	margin-left: 23px;
}
.footer-social > li > a {
	display: block;
	width: 32px;
	height: 32px;
	border: 1px solid #fff;
	border-radius: 3px;
	font-size: 20px;
	line-height: 29px;
	text-align: center;
	color: #fff;
	transform: rotate(45deg);
	transition: all 0.1s;
}
.footer-social > li > a > i {
	transform: rotate(-45deg);
}
.footer-social > li > a:hover {
	border-color: #ff6a4c;
	color: #ff6a4c;
}
footer > .container-fluid {
	width: 1170px;
}