@import url("bootstrap.min.css");
@import url("../libs/slick-1.6.0/slick/slick.css");
@import url("../libs/pushy-master/css/pushy.css");
@import url("fonts.css");

body {
	min-width: 320px;
	font: 18px "lato";
	color: #2C3E50;
	background: #fff;
	overflow-x: hidden;
}

header {
	min-height: 80px;
}
header > nav {
	margin-bottom: 0 !important;
	border: none !important;
	background: #fff !important;
}
.header-logo-link {
	float: left;
	margin-top: 22px;
    margin-left: -10px !important;
	padding: 0;
}
.header-center {
	text-align: center;
}
.header-center-menu {
	float: none;
	margin-top: 21px;
	display: inline-block;
}
header a {
	border-radius: 50%;
	color: #2C3E50 !important;
	background: transparent !important;
	transition: all 0.1s ease-in-out;
}
header a:hover {
	border-radius: 0;
	color: #fff !important;
	background: #2C3E50 !important;
}
.header-center-menu a {
	padding: 10px 13px !important;
	font: 15px "lato-sb";
	text-transform: uppercase;
}
.header-right-menu {
	margin-top: 16px;
}
.header-right-menu a {
	font: 13px "lato-sb";
}
header .menu-btn {
	float: right;
	margin-top: 20px;
}
header .menu-btn > span {
	display: none;
}


.s1 {
	height: 530px;
/*	height: calc(100vh - 80px);*/
	text-align: center;
	color: #fff;
	background: url("../video-bg/s1-bg.jpg") no-repeat center;
	background-size: cover;
}
.s1-bg {
	height: 100%;
	background: rgba(0,0,0,0.6);
}
.s1 .container {
	display: table;
	height: 100%;
}
.s1-content {
	display: table-cell;
	vertical-align: middle;	
}
.s1-title {
	margin: 0 0 7px 0;
	font: 42px "lato-sb";
}
.s1-text {
	opacity: 0.75;
}
.freedemo-btn {
	display: inline-block;
	margin-top: 14px;
	width: 200px;
	height: 60px;
	font: 18px/62px "lato-sb";
	text-transform: uppercase;
	text-decoration: none !important;
	color: #fff !important;
	background: #C83A26;
	transition: all 0.3s ease-in-out;
}
.freedemo-btn:hover {
	color: rgba(255,255,255,0.6) !important;
}


.s2-img-box {
	float: left;
	width: 50%;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.s2-img-box > img {
	max-width: 100%;
	height: auto;
}


.s3 {
	height: 327px;
	text-align: center;
	color: #fff;
	background: #E8AB36;
}
.s3 > .container {
	display: table;
	height: 100%;
}
.s3-content {
	display: table-cell;
	vertical-align: middle;
}
.s3-title {
	margin: 7px auto 6px;
	font: 42px "lato-sb";
}
.s3-text {
	display: inline-block;
	max-width: 580px;
	font: 24px "lato";
}


.s4 {
	position: relative;
}
.s4-left-content {
	display: inline-block;
	margin-top: 15px;
	text-align: center;
}
.s4-title {
	font: 36px "lato-sb";
}
.s4-right {
	padding: 0 0 35px 0;
	text-align: center;
}
.s4-img {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	z-index: 9999;

}
.s4-img-box {
	position: relative;
	margin: 25px auto 35px;
	width: 646px;
	height: 383px;
	background: url("../img/s4-img.jpg") no-repeat 0 0;
}
.s4xs-img {
	max-width: 100%;
	height: auto;
}

.s5 {
	color: #fff;
	background: url("../img/s5-bg.jpg") no-repeat center top;
	background-size: cover;
}
.s5-left, .s5-right  {
	padding: 0;
	text-align: center;
}
.s5-left {
	text-align: right;
}
.s5-left-content {
	display: block;
	text-align: center;
	white-space: nowrap;
}
.s5-img-2 { 
	margin: 5px 0 0 0;
	max-width: 100%;
}
.s5-right-content {
	display: inline-block;
	margin: 0;
	color: #fff;
}
.s5-title {
	margin-bottom: 16px;
	font: 36px "lato-sb";
}
.s5-text {
	max-width: 435px;
	font: 18px "lato-sb";
}
.s5-slider {
	margin: 10px auto 30px;
	padding: 0;
	max-width: 480px;
	height: auto;
	border: 20px solid #000;
	border-radius: 25px;
	background: #000;
}
.s5-slider .slick-list, .s5-slider .slick-track, .s5-slide {
	height: 100%;
}
.s5-slide > img {
	width: 100%;
	height: 100%;
}
.s5-slider .slick-arrow {
	position: absolute;
	top: 0;
	width: 10px;
	height: 100%;
	font-size: 25px;
	color: #fff;
	z-index: 999;
}
.s5-slider .slick-prev {
	left: -15px;
}
.s5-slider .slick-next {
	right: -15px;
}


.s6 {
	height: 600px;
	text-align: center;
	color: #fff;
	background: #2C3E50;
}
.s6 > .container {
	display: table;
	height: 100%;
}
.s6-content {
	display: table-cell;
	vertical-align: middle;
}
.s6-title {
	margin-top: 25px;
	font: 36px "lato-sb";
}
.s6-items {
	margin-top: 10px;
}
.s6-img-box {
	height: 84px;
	line-height: 84px;
}
.s6-item-text {
	font: 18px "lato-sb";
}


.s7 {
	padding: 40px 0;
	text-align: center;
}
.s7 > .container {
	display: table;
	height: 100%;
}
.s7-content {
	display: table-cell;
	vertical-align: middle;
}
.s7-title {
	margin-top: 0;
	margin-bottom: 14px;
	font: 36px "lato-sb";
}
.s7-title-description {
	display: inline-block;
	max-width: 460px;
}
.s7-items {
	margin-top: 30px;
}
.s7-img-box {
	text-align: center;
}
.s7-img-box {
	max-height: 100%;
	height: auto;
}
.s7-right .s7-img-box > img {
	margin-top: 50px;
}
.s7-item-description {
	margin: 14px auto 0;
	max-width: 460px;
}
.s7-item-title {
	margin-bottom: 14px;
	font: 36px "lato-sb";
}
.s7-item-text {
	display: inline-block;
	margin-bottom: 0;
}


.s8 {
	padding: 30px 0;
	text-align: center;
	background: #F5F5F5;
}
#s8-container {
	display: table;
	height: 100%;
}
.s8-content {
	display: table-cell;
	vertical-align: middle;
}
.s8-title {
	margin: 0 auto 42px;
	font: 36px "lato-sb";
}
.s8-line-1 > div, .s8-line-2 > div  {
	padding: 0;
}
.s8-item {
	position: relative;
	display: table;
	margin: 0 auto;
	border-radius: 4px;
	text-align: center;
	text-decoration: none !important;
	overflow: hidden;
}
.s8-line-1 .s8-item {
	margin-bottom: 10px;
	width: 97%;
	height: 220px;
}
.s8-line-2 .s8-item {
	margin-bottom: 10px;
	padding: 0 2px;
	width: 95%;
	height: 140px;
}
.s8-item > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.s8-item-text {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	background: rgba(0,0,0,0.4);
	transition: background 0.5s ease-in-out;
}
.s8-item-text:hover {
	background: rgba(0,0,0,0);
}
.s8-line-1 .s8-item-text {
	padding: 0 6px;
	font: 24px "lato-b";
}
.s8-line-2 .s8-item-text {
	font: 18px "lato-b";
}
.s8-item-text > span {
	display: none;
	margin: 0;
	font: 13px "lato";
/*	transition: all 0.1s ease-in-out !important;*/
}
.s8-item-text:hover > span {
	margin: 19px 0 0 0;
	display: block;
}

.s9 {
	color: #fff;
	background: linear-gradient(225deg, #495868 0%, #1F3348 100%);
}
#s9-slider {
	padding: 30px 0;
	position: relative;
}
#s9-slider, #s9-slider .slick-list, #s9-slider .slick-track,
.s9-slide, .s9-slide > .container {
	height: 100%;
}
.s9-title {
	margin: 0 0 -1px;
	font: 24px "lato-sb";
}
.s9-title-under {
	font: 18px "lato";
}
.s9-quote > blockquote {
	margin-top: 30px;
	padding: 0;
	border: 0;
	font: 18px "lato-i";
}
.s9-quote > cite {
	display: block;
	text-align: right;
	font: 18px "lato-sb-i";
}
.s9-img-box {
	display: block;
	margin-top: 30px;
	text-align: center;
}
.s9-img-box > img {
	display: inline;
}
.s9-btn {
	position: absolute;
	top: 0;
	width: 30px;
	text-align: center;
	background: rgba(255,255,255,0.1);
	z-index: 99;
}
.s9-btn-left {
	left: 0;
}
.s9-btn-right {
	right: 0;
}
.s9-btn-right > img {
	transform: rotate(-180deg);
}


.s10 {
	padding: 30px 0;
	text-align: center;
	background: #F5F5F5;
}
.s10-heading {
	margin: 0 auto 13px;
	font: 18px "lato-sb";
}
.s10-img-box {
	float: left;
	width: 50%;
	height: 64px;
	line-height: 64px;
	text-align: center;
}
.s10-img-box > img {
	max-width: 100%;
	height: auto;
}


.s11 {
	padding: 30px 0 0;
	min-height: 738px;
	text-align: center;
}
.s11-title {
	margin: 0 auto 24px;
	font: 36px "lato-sb";
}
.s11-item {
	margin: 0 auto;
	padding-top: 2px;
	width: 290px;
	height: 280px;
	color: #fff;
}
.s11-item-box {
	margin-bottom: 30px;
	padding: 0;
}
.s11-item-box:nth-child(1) .s11-item {
	background: #C83A26;
}
.s11-item-box:nth-child(2) .s11-item {
	background: #042D80;
}
.s11-item-box:nth-child(3) .s11-item {
	background: #E8AB36;
}
.s11-item-heading-box {
	display: table;
	margin-top: 20px;
	width: 100%;
	height: 61px;
}
.s11-item-heading {
	display: table-cell;
	vertical-align: middle;
}
.s11-item-title {
	margin: 0;
	font: 36px "lato-sb";
}
.s11-item-description {
	margin: -4px 0 0 0;
	font: 18px "lato-sb";
}
.s11-item-img-box {
	height: 137px;
    line-height: 135px;  
}
.s11-item-img-box.big-img {
    line-height: 167px;  
}
.s11-item-price {
	font: 36px "lato-b";
}
.s11-item-price > span {
	font: 14px "lato";
}
.s11-item-text { 
	margin: 13px auto 0;
    font: 18px/36px "lato-sb";
}
.s11-item-text.big-text { 
	margin: 22px auto 0;
    padding: 0 29px;
    font: 36px/36px "lato-sb";
}


.s12 {
	height: 250px;
	text-align: center;
	background: #2C3E50;
}
.s12 > .container {
	display: table;
	height: 100%;
}
.s12-content {
	display: table-cell;
	vertical-align: middle;
}
.s12-title {
	margin: 0 auto 8px;
	font: 36px "lato-sb";
	color: #fff;
}


footer {
	min-height: 336px;
	color: #fff;
	background: #000;
}
.footer-left-menu {
	width: 190px;
}
.footer-left-menu > li > a {
	display: inline-block;
	padding: 6px 5px !important;
	font: 18px "lato-sb";
	text-transform: uppercase;
	color: #fff;
	transition: all 0.1s ease-in-out;
}
.footer-left-menu > li > a:hover {
	color: #000;
	background: #fff;
}
.footer-left-menu, .footer-center-text,
.footer-right-items {
	margin: 30px auto 0;
}
.footer-right-item {
	margin-bottom: 10px;
	padding: 14px 0 4px 5.35%;
}
.footer-right-item:nth-child(1) {
	background: #E8AB36;
}
.footer-right-item:nth-child(2) {
	background: #C83A26;
}
.footer-right-item:nth-child(3) {
	background: #042D80;
}
.footer-right-item-title {
	margin: 0 0 1px;
}


.s4-img {
	top: 0;
	left: 0;
}
@keyframes move {
	0% {
		top: 0;
		left: 0;
	}
	100% {
		top: 560px;
		left: -380px;
		opacity: 0.2;
		transform: scale(0.4);
	}
}