/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.header {
		min-height: 1082px;
		background: url("../images/header-bg-bear.jpg") no-repeat center top;
	}
	.header-logo {
		margin-top: 36px;
	}
	.header-title {
		margin-top: 25%;
		font: 60px 'Raleway-Bold';
		text-align: center;
	}
	.header-title-description {
		font: 30px 'Raleway-Regular';
		text-align: center;
	}
	.header-title-description {
		margin-top: 23px;  
	}
	.header-buttons {
		margin-top: 56px;
	}
	.page-btn {
		width: 250px;
		height: 60px;
		font: 18px/56px 'Raleway-Regular';
	}
	.header-btn:first-child:before {
		display: block;
	}
	.section-title {
		font: 56px 'Raleway-Regular';
	}
	.section-text {
		font: 20px/30px 'Proxima_Regular';
	}
	.whatisit-title {
		margin-top: 98px;
		text-indent: -4px;
	}
	.whatisit {
		min-height: 663px; 
	}
	.whatisit-blocks {
		margin-top: 105px;
	}
	.whatisit-block-text {
		margin-top: 32px;
	}
	.whatisit-block:after {
		top: 16px;
		right: -13px;
	}
	.aboutus-right {
		padding-left: 15px;
		padding-right: 15px;
	}
	.aboutus-right-text {
		margin-top: 35px;
	}
	.aboutus-right-img {
		margin-top: 29px;
	}
	.portfolio {
		margin-top: 80px;
		min-height: 1100px;
	}
	.portfolio-title {
		margin-top: 83px;
	}
	.portfolio-blocks {
		margin-top: 111px;
		padding: 0 2%;
	}
	.portfolio-block {
		margin-bottom: 36px;
	}
	.portfolio-btn {
		margin-top: 62px;
    	margin-bottom: 89px;
		height: 66px;
		width: 273px;
		font: 20px/62px 'Raleway-Regular';
	}
	.step {
    	margin-top: 0;
		padding: 0;
	}
	.steps {
		margin-top: 106px;
		min-height: 1553px;
	}
	.step-number {
		margin-right: 36px;
		height: 107px;
		width: 107px;
	}
	.step-number-text {
		font: 72px/96px 'Raleway-Light';
	}
	.step-title {
		margin-top: 29px;
		font: 48px 'Raleway-Regular';
	}
	.first-step .step-right-text {
		margin-top: 56px;
	}
	.second-step {
		margin-top: 77px;
    	padding-bottom: 0;
	}
	.second-step .step-right-text {
		margin-top: 118px;
		padding-left: 0;
	}
	.third-step {
		margin-top: 93px;
    	overflow: hidden;
	}
	.third-step .step-right-text {
		margin-top: 95px;
	}
	.rates {		
		min-height: 952px;
	}
	.rates-inner {
		padding: 0 4.5%;
	}
	.rates-title {
		margin-top: 57px;
	}
	.bonus {
		min-height: 699px;
	}
	.bonus-title {
		margin-top: 83px;
	}
	.bonus-blocks {
		margin-top: 79px;
		padding: 0 3%;
	}
	.bonus-block {
    	padding-top: 139px;
		height: 275px;
		width: 300px;
		background-position: center 61px;
	}
	.bonus-block-title {
		font: 30px 'Proxima_Regular';
	}
	.bonus-block-text {
		font: 14px 'Proxima_Regular';
	}
	.quote {
		min-height: 175px;
	}
	.quote-title {
		margin-top: 40px;
    	padding-left: 0;
		text-align: center;
	}
	.quote-text {
		font: 30px 'Raleway-Medium';
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.request {
		min-height: 434px;
	}
	.request-form-container {
		margin-top: 100px;
		min-height: 233px;
	}
	.request-form-title {
		margin-top: 33px;
		font: 30px 'Proxima_Regular';
	}
	.request form {
		margin-top: 10px;
	}
	.request form input {
		margin-bottom: 0;
	}
	.request-btn {
		height: 54px;
		width: 213px;
		border-radius: 25px;
		box-shadow: 0 0 0 14px #fff, 0 0 0 15px #6ae5f4;
	}
	.footer-inner {
		padding-top: 87px;
	}
	.footer-phone-link {
		font: 14px 'Proxima_Regular';
	}
	.footer-mail-link {
		font: 14px 'Proxima_Regular';
	}
	.footer-copyright {
		margin-top: 33px;
		margin-bottom: 30px;
	}
	.first-step .step-right:after,
	.second-step .step-right:after,
	.third-step .step-right:after {
		display: none;
	}
	.steps-inner {
		text-align: start;
	}
	.step-content {
		display: block;
	}	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.header-logo {
		margin: 0;
		margin-top: 36px;
	}
	
	.whatisit-block:nth-child(2):after {
		display: block;
	}
	.step-right-text {
		margin-left: -20px;
	}
	.brief-btn {
		margin-left: -26px;
	}
	.aboutus-right-img {
		max-width: 426px;		
		margin-left: 40px;
	}
	.aboutus-right-title {
		text-align: left;
	}
	.aboutus-right-text {
		margin-left: 0;
		text-align: left;
	}
	.third-step .step-left-img {
		top: 39px;
		left: 40px;
	}
	.rates {
		margin-top: 0;
	}
	.third-step .step-right-text {
		margin-left: -24px;
	}
	.request form input {
		width: 231px !important;
	}
	.request input#name {
		margin-right: 31px;
	}
	.request input#phone {
		margin-right: 29px;
	}
	.footer {
		text-align: left;
	}
	.footer-logo {
		float: left;
	}
	.footer-phone-link {
		float: right;
	}
	.footer-mail-link {
		float: right;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.request-btn {		
		position: absolute;
		top: -95px;
    	right: 15px;
	}
	#form {
		position: relative;		
    	margin-top: 44px;
	}
	.footer-link {
		padding: 10px 15px !important;
	}
	.rates-table thead tr:first-child td:nth-child(3):before {
		position: absolute;
		content: "";
		bottom: 0px;
		left: -2%;
		border: 20px solid #00d4ed;
		border-bottom: 0;
		width: 104%;
		height: 113px;
	}
	.table-responsive {
		overflow-x: visible;
	}
	.table-price-title {
		padding-left: 30px;
	}
	.table-price {
		padding-left: 30px;
	}
}

@media only screen and (max-width : 768px) {
	#jivo-iframe-container {
		display: none !important;
		opacity: 0 !important;
	}

	/*отключение анимации для мобильных устройств*/
	.wow {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}
