body {
	min-width: 320px;
	overflow-x: hidden;
}
a, a:hover {
	color: inherit;
}
img {
	height: auto;
	max-width: 100%;
}
a, button, input, i {
    transition: all 300ms ease 0s;
}

.header {
	min-height: 620px;
	color: #fff;
	text-align: center;
	background: url("../images/header-bg-bear.jpg") no-repeat 43% top;
	background-size: cover;
}
.header-top-inner {
	padding: 0;
}
.header-contacts {
    float: right;
	width: 293px;
}
.header-contacts a {
	float: left;
    padding: 28px 24px 27px 24px;
	font: 14px 'Proxima_Regular';
}
.header-phone-link {
	background: url("../images/call-icon.png") no-repeat left 30px;
}
.header-mail-link {
    padding-right: 0 !important;
    padding-left: 27px !important;
    margin-left: 16px;
	background: url("../images/email-icon.png") no-repeat left 30px;
    letter-spacing: 0.2px;
}
.header-line {
	margin: 0;
	height: 1px;
	border: 0;
	background-color: #fff;
	opacity: 0.2;
}
.header-logo {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 19px;
	padding: 0;
	height: 49px;
	width: 225px;
	background: url("../images/logo.png") no-repeat center;
}
.header-menu {
    float: right;
    margin-top: 33px;
	border: 0;
	background: transparent;
}
.header-menu-scrolled {
	display: inline-block;
	float: none;
	margin-top: 0;
}
.header-menu-default {
	display: block;
	float: right;
	margin-top: 33px;
}
.header-menu-link {
    padding: 10px 18.5px !important;
	font: 16px 'Proxima_Regular';
	color: #fff !important;
}
.header-menu-link:focus {
    background: transparent !important;
}
.header-menu li:last-child .header-menu-link {
    padding-right: 0 !important;
}
.header-menu-link:hover {
    text-decoration: underline !important;
	background: transparent !important;
}
.header-title {
    margin-top: 35px;
  	font: 44px/48px 'Raleway-Bold';
	text-align: left;
}
.header-title-description {
	display: block;
    margin-top: 20px;
  	font: 18px 'Raleway-Regular';
	text-align: left;
}
.header-buttons {
    margin-top: 48px;
}
.page-btn {
    display: block;
    margin: 0 auto;
	width: 225px;
    height: 54px;
    border-radius: 40px;
  	font: 16px/50px 'Raleway-Regular';
    text-align: center;
	border-width: 1px;
	border-style: solid;
}
.header-btn {
	position: relative;
    border-color: #fff;
    margin-bottom: 23px;	
}
.header-btn:hover {
	color: #00d3eb;	
	border-color: #00d3eb;
	text-decoration: none;
}
.header-btn:first-child:before {
	display: none;
    content: "";
	bottom: 30px;
	right: -101px;
	position: absolute;
	height: 87px;
	width: 61px;
	background: url("../images/header-arrow.png");	
}
.header-scroll {
    margin-top: 207px;
}
.header-scroll-description {
	display: block;
    margin-top: 21px;
    font-family: 'Raleway', sans-serif;
	font-size: 12px;
	color: #d2d0d1;
}


.section-title {
  	font: 36px 'Raleway-Regular';
	color: #000;
}
.section-text {
	font: 16px/24px 'Proxima_Regular';
	color: #515151;
}


.whatisit {
	min-height: 591px; 
	text-align: center;
}
.whatisit-inner {
	padding: 0;
}
.whatisit-title {
	margin-top: 41px;
}
.whatisit-text {
	margin: 0 auto;
	margin-top: 30px;
	max-width: 860px;
}
.whatisit-blocks {
	margin-top: 57px;
}
.whatisit-block {
    margin-bottom: 51px;
	position: relative;
	text-align: center;
}
.whatisit-block:after {
	content: "";
	position: absolute;
	top: 25px;
	right: -16px;
	height: 34px;
	width: 32px;
	background: url("../images/whatisit-plus.png");
}
.whatisit-block:nth-child(2):after,
.whatisit-block:last-child:after {
	display: none;
}
.whatisit-block-img {
	height: 86px;
}
.whatisit-block-text {
	display: block;
	margin-top: 10px;
	font: 18px/24px 'Proxima_Regular';
}
.whatisit-block-1 {
	background: url("../images/browser.png") no-repeat center center;
}
.whatisit-block-2 {
	background: url("../images/improvement.png") no-repeat center center;
}
.whatisit-block-3 {
	background: url("../images/bullhorn.png") no-repeat center center;
}
.whatisit-block-4 {
	background: url("../images/cogwheel.png") no-repeat center center;
}


.aboutus-left {
	position: relative;
	height: 697px;
	color: #000;
	background: url("../images/aboutus-bg.jpg") no-repeat left center;
}
.aboutus-left-content {
    position: absolute;
    bottom: 55px;
    right: 29.9%;
	padding-left: 15px;
	height: 57px;
	border-left: 1px solid rgba(0,0,0,0.6);
}
.aboutus-left-title {
    margin-top: -7px;
	margin-bottom: 7px;
  	font: 30px 'Raleway-Regular';
}
.aboutus-left-title-description {
  	font: 18px 'Raleway-Regular';
}
.aboutus-right {
    padding-left: 40px;
    padding-right: 40px;
}
.aboutus-right-title {
    margin-top: -10px;
	text-align: center;
}
.aboutus-logo-img {
	display: block;
	margin: 0 auto;
    margin-top: 24px;
}
.aboutus-right-text {
	margin: 0 auto;
    margin-top: 26px;
	max-width: 592px;
	text-align: center;
}
.aboutus-right-img {
	display: block;
	margin: 0 auto;	
    margin-top: 35px;
}


.portfolio {
	margin-top: 88px;
	min-height: 1332px;
	text-align: center;
	background-color: #f8f8f8;
}
.portfolio-title {
	margin-top: 71px;
}
.portfolio-text {
	margin-top: 40px;
}
.portfolio-blocks {
	margin-top: 55px;
	padding: 0 3%;
}
.portfolio-block {
	margin-bottom: 15px;
}
.portfolio-btn {
    margin: 39px auto;
    height: 54px;
    width: 224px;
    font: 16px/52px 'Raleway-Regular';
    border-color: #000;	
}


.portfolio-hidden-blocks {
	opacity: 0;
    max-height: 0;
    overflow: hidden;
    -moz-transition: opacity 2s, max-height 2s;
    -ms-transition: opacity 2s, max-height 2s;
    transition: opacity 2s, max-height 2s;
}
.expanded {
    max-height: 5000px;
    opacity: 1;
    overflow: visible;
}


.steps {
    min-height: 969px;
}
.steps-inner {
	text-align: center;
}
.step {
    margin-top: 33px;
    padding: 0 6px 0 6px;
    max-height: 524px;
}
.step-number {
	float: left;
	margin-right: 19px;
	height: 54px;
	width: 54px;
	border: 1px solid #14d7ee;
	border-radius: 50%;
	text-align: center;
}
.step-number-text {
	font: 35px/48px 'Raleway-Light';
	color: #181818;
}
.step-title {
	margin-top: 14px;
	font: 24px 'Raleway-Regular';
    text-transform: uppercase;
}
.step-left {
	padding: 0;
}
.step-left-img {
    position: relative;
}
.first-step .step-left-img {
    top: 24px;
    left: -44px;
}
.second-step .step-left-img {
    top: 26px;
    left: 9px;
}
.step-right {
	position: relative;
	padding-left: 0;
	text-align: left;
}
.step-right-text {
    margin-left: 0;
}
.step-right-link {
    color: #00bcd6;
	text-decoration: underline;
}
.first-step .step-right:after {
	display: block;
	content: "";
	position: absolute;
    top: -16px;
    left: 194px;
	height: 162px;
	width: 198px;
	z-index: -1;
	background: url("../images/brief-mini-1.png");	
}
.second-step .step-right:after {
	display: block;
	content: "";
	position: absolute;	
    top: -31px;
    left: -139px;
	height: 240px;
	width: 240px;
	z-index: -1;
	background: url("../images/brief-mini-2.png");	
}
.third-step .step-right:after {
	display: block;
	content: "";
	position: absolute;
    top: -36px;
    left: 80px;
	height: 354px;
	width: 320px;
	z-index: -1;
	background: url("../images/brief-mini-3.png");	
}
.first-step .step-right-text {
	margin-top: 24px;
}
.second-step .step-right-text {
	margin-top: 25px;
    padding-left: 62px;
}
.third-step .step-right-text {
    margin-top: 34px;
}
.second-step {
    margin-top: 28px;
    padding-bottom: 40px;
}
.third-step {
    margin-top: 31px;
}
.brief-btn {
	display: block;
	margin-top: 41px;
	height: 41px;
	width: 240px;
  	border-radius: 20px;
    font: 14px/41px "Raleway-Regular";
    text-indent: 22px;
  	color: #fff;
	background: #000 url("../images/brief-btn-bg.png") no-repeat 201px 8px;
}
.brief-btn:hover {
  color: #fff;
}
.step-content {
	display: inline-block;
}
.step-top {
	text-align: left;
}


.rates {
	min-height: 539px;
	text-align: center;
	background: url("../images/rates-bg.jpg") no-repeat center top;
}
.rates-inner {
    padding: 0 7.5%;
}
.rates-title {
	margin-top: 45px;
	color: #fff;
}
.rates-btn {
    width: 172px;
    height: 45px;
    font: 16px/42px 'Raleway-Regular';
	color: #fff;
	border-color: #fff;
}
.rates-btn:hover,
.rates-btn:focus {
	color: #fff;
	border-color: #fff;
}
.rates-text {
	margin-top: 36px;
	margin-bottom: 89px;
	color: #fff;
}
.rates-first-text {
	margin-top: 23px;
    margin-bottom: 19px;
}
.rates-text-link {
	text-decoration: underline;
}
.rates-form {
    margin-top: 53px;
}
.rates-form select {
	max-width: 286px;
	margin: 0 auto;
    margin-bottom: -2px;
	height: 41px;
    font: 14px 'Raleway-Regular';
	color: #000;
	border-radius: 0;
	background: #fff url("../images/rates-arrow.png") no-repeat 94% center;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	position: relative;
}
.rates-form button {
	padding: 0;
	border: 0;
	max-width: 286px;
	margin: 0 auto;
    margin-bottom: -2px;
	height: 41px;
    font: 14px 'Raleway-Regular';
	color: #000;
	border-radius: 0;
	background-color: #fff;
	background-image: url("../images/rates-arrow.png");
	background-repeat: no-repeat;
	background-position: 94% center;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	position: relative;
}
.arrow-blue {
	background-image: url("../images/rates-arrow-blue.png") !important;
}
.rates-form {
	position: relative;
}

.rates-form .form-group {
	position: relative;
	margin: 15px auto 0;
	max-width: 286px;
}
.img-select {
	display:none;
	position: absolute;
	top: 33px;
	left: 0;
	z-index: 1;
}


.rates-table {
	font: 12px 'Proxima_Regular';
	color: #3d3d3d;
	background: #fff;
}
.rates-table .plus-cell,
.rates-table .minus-cell {	
    font: 24px/17px 'Proxima_Bold';
}
.rates-table thead {
	border-top: 3px solid #00d4ed;
}
.rates-table td:first-child,
.rates-table thead tr:first-child td {
	text-align: left;
}
.rates-table td {
	padding: 7px 0 !important;
}
.rates-table tbody tr:last-child td {
	padding: 30px 0 !important;
}
.rates-table td:first-child {
	padding-left: 4.4% !important;
}
.table-title {
	margin-top: 26px;
    font: 30px "Raleway-Regular";
	color: #131313;
}
.table-price-title {
    padding-left: 12px;
    margin-top: 14px;
    margin-bottom: 7px;
    font: 24px "Raleway-Regular";
	color: #131313;
}
.table-price {
	display: block;
	padding-left: 12px;
	font: 30px 'Proxima_Bold';
	color: #00d4ed;
}
.table-price-currency {
	font: 18px 'Proxima_Bold';
}
.rates-table thead tr:first-child td:nth-child(3) {
	position: relative;
	background: #00d4ed;
}
.rates-table thead tr:first-child td:nth-child(3) > * {
	color: #fff;
}
.rates-table .plus-cell {
	color: #00d4ed;
}
.rates-table .minus-cell {
	color: #9a9c9c;
}
.minus-cell, .plus-cell {
	font: 24px/-1px 'Proxima_Bold';
}
.table-order-btn {
	display: block;
	margin: 0 auto;
	width: 113px;
	height: 30px;
	border-radius: 20px;
	font: 14px/30px 'Proxima_Regular';
	color: #fff;
	background: #00d3ec;
}
.table-order-btn:hover {
	color: #fff;
}


.bonus {
	min-height: 1082px;
	text-align: center;
}
.bonus-title {
    margin-top: 54px;
}
.bonus-text {
    margin-top: 36px;
}
.bonus-blocks {
	margin-top: 42px;
    padding: 0;
}
.bonus-block {
	margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 125px;
	height: 250px;
	border-radius: 10px;
	background-color: #f7f7f7;
	background-repeat: no-repeat;
	background-position: center 52px;
}
.bonus-block.first-block {
	background-image: url("../images/bonus-1.png");
}
.bonus-block.second-block {
	background-image: url("../images/bonus-2.png");
}
.bonus-block.third-block {
	background-image: url("../images/bonus-3.png");
}
.bonus-block-title {
	font: 28px 'Proxima_Regular';
	color: #343333;
}
.bonus-block-text {
	font: 12px 'Proxima_Regular';
	color: #606060;
}


.quote {
	min-height: 175px;
	background: #00d3eb;
	text-align: center;
	color: #fff;
}
.quote-title {
    margin-top: 46px;
    margin-bottom: 7px;
    padding-left: 8px;
	font: 32px 'Raleway-ExtraBold';
	text-transform: uppercase;
	text-align: left;
	line-height: 42px;
}
.quote-text {	
    margin-top: 29px;
    margin-bottom: 51px;
    padding-left: 7px;
    padding-right: 21px;
    font: 23px/36px 'Raleway-Medium';
    text-align: left;
}


.request {
	min-height: 600px;
	border-bottom: 2px solid #dddddd;
	background: #f7f7f7;
}
.request-form-container {
    margin-top: 69px;
    padding: 0 6%;
	min-height: 473px;
	border-left: 3px solid #00d3ec;
	background: #fff;
}
.request-form-title {
    margin-top: 33px;
	margin-bottom: 12px;
	font: 22px 'Proxima_Regular';
	color: #010101;
}
.request-form-text {
	font: 16px 'Proxima_Regular';
	color: #676767;
}
.request form {
    margin-top: 37px;
}
.request form input {
	margin-bottom: 35px;
	border: 0;
	border-bottom: 2px solid #bbbbbb;
	font: 16px 'Proxima_Regular';
	color: #000;
}
.request form input::-webkit-input-placeholder {
	color: #000 !important;
} 
.request form input:active::-webkit-input-placeholder {
	color: #00d3ec !important;
}  
.request form input:hover::-webkit-input-placeholder {
	color: #00d3ec !important;
}  
.request-btn {
    display: block;
    margin: 0 auto;
    margin-top: 61px;
    margin-bottom: 48px;
    height: 50px;
    width: 189px;
    border: 0;
    outline: 0;
    border-radius: 22px;
    font: 25px 'Proxima_Regular';
    color: #fff;
    background: #00d3ec;
    box-shadow: 0 0 0 13px #fff, 0 0 0 14px #6ae5f4;
}
.request-btn:active:hover, .request-btn:hover  {
	color: #fff;
	background: #00d3ec;
}


.footer {
	min-height: 287px;
	background: #f7f7f7;
	font: 14px 'Proxima_Regular';
	color: #606060;
    text-align: center;
}
.footer-inner {
    padding-top: 44px;
}
.footer-logo-container {	
    margin-bottom: 51px;
}
.footer-menu-link {
    font: 14px "Raleway-Regular";
	padding: 10px 12px !important;
}
.footer-links-container {
	padding: 0;
}
.footer-phone-link-container {
	padding: 0;
    margin-bottom: 29px;
}
.footer-phone-link {
	display: inline-block;
    margin-top: 7px;
    padding-left: 29px;
	font: 17px 'Proxima_Regular';
	background: url("../images/footer-phone.png") no-repeat left center;
}
.footer-mail-link {
	display: inline-block;
    margin-top: 7px;
    padding-left: 34px;
	font: 19px 'Proxima_Regular';
	background: url("../images/footer-mail.png") no-repeat left center;
}
.footer-copyright {
	display: block;
    margin-top: 59px;
    margin-bottom: 49px;
	text-align: center;	
}


.thanks {	
    min-height: 500px;
	background: #f5f5f5;
}
.thanks-content {
	margin: 100px 0;
	min-height: 233px;
	border-left: 3px solid #00d3eb;
	background: #fff;
}
.thanks-left {
	text-align: center;
}
.thanks-man {
    margin-top: 45px;
}
.thanks-right {
    margin-top: 36px;
	text-align: center;
}
.thanks-title {
	font: 41px 'Raleway-Bold';
}
.thanks-text {
    margin-bottom: 60px;
	font: 23px 'Raleway-Regular';
}


.up_but {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    background: #00d3ec url(../images/upscroll.png) -5px -4px no-repeat;
	opacity: 0.3;
}
.up_but:hover {
	opacity: 1;
}


#menu.scrolled {
    position: fixed;
    top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	background: #00d3ec;
	opacity: 0.5;
}

.lb-data .lb-close {
	    border: 2px solid #fff;
    border-radius: 50%;
	position: relative;
    top: -10px;
    right: -55px;
	width: 45px !important;
    height: 45px !important;
    background: url("../lightbox/dist/images/close.png") center 11px no-repeat !important;
	background-size: 45% !important;
}
.lb-nav a.lb-prev {
	width: 86px !important;
	height: 160px !important;
	opacity: 1 !important;
    left: -162px !important;
	top: 120px !important; 
    position: absolute;
	background: url("../lightbox/dist/images/prev2.png") left 48% no-repeat !important;
}
.lb-nav a.lb-next {
	width: 86px !important;
	height: 160px !important;
	opacity: 1 !important;
    right: -162px !important;
	top: 120px !important; 
    position: absolute;
	background: url("../lightbox/dist/images/next1.png") left 48% no-repeat !important;
}


#form .form-group {
	position: relative;
}
#form .form-group:before {
    content: "";
	position: absolute;
	top: 0;
	display: block;
	height: 2px;
	background: #fff;
	width: 100%;
}
.rates-text-link {
	color: #00d4ed;
}

/*пульсирующая кнопка*/
.throb {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -ms-animation: pulsate 2s ease-out;
    -ms-animation-iteration-count: infinite;
    -moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: pulsate 2s ease-out;
    -o-animation-iteration-count: infinite;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.8, 0.8);
        opacity: 0.9;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
}
@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.8, 0.8);
        opacity: 0.9;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1, 1);
        opacity: 1;
    }
}
@-ms-keyframes pulsate {
    0% {
        -ms-transform: scale(0.8, 0.8);
        opacity: 0.9;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -ms-transform: scale(1, 1);
        opacity: 1.0;
    }
}
@-o-keyframes pulsate {
    0% {
        -o-transform: scale(0.8, 0.8);
        opacity: 0.9;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -o-transform: scale(1, 1);
        opacity: 1.0;
    }
}
@keyframes pulsate {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }
    50% {
        opacity: 0.9;
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

