@media (min-width: 1200px) {
	.s1 {
		background-position: center -36px;
	}
}
@media (max-width: 1219px) {
	.s2-block {
		width: 300px;
	}
	.s3-form-center {
		padding-left: 9.6%;
	}
	.s3-form-submit-btn {
		margin: 40px 93px 40px 0;
	}
	.s3-form-range {
		width: 390px;
	}
	.s4-block {
		max-width: 300px;
	}
	.footer-center {
		margin-left: 0;
	}

	.page-top {
		background-position: center top;
	}
	.page-menu ul > li > a {
		padding: 0 8.87px;
		font: 13px/57px "frm";
	}
	.s6-item {
		margin: 0 auto 14px;
		width: 300px;
	}
	.s6-item-img {
		height: 300px;
	}
	.s7-block {
		width: 300px;
	}
	#selects8-1 {
		padding: 0 30px 0 10px;
		width: 290px;
		background-position: 96.7% 20px;
	}
	#selects8-2, #selects8-3 {
		width: 230px;
	}
	.s8-add-btn {
		margin: 0 0 0 8px;
	}
	.s8-select-box:first-child {
		margin: 0 8px 0 0;
	}
	.s8-range {
		width: 290px;
	}
	.s8-block:nth-child(2) select {
		width: 430px;
	}
	.s8-select-or {
		width: 430px;
	}
	.s8-block-title, .s9-block-title  {
		font: 27px "frm-b";
	}
}

@media (max-width: 580px) {
	#wrapper {
		-webkit-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		transform-origin: 0 0;
	}
	body {
		width: 580px;
	}
	.s3-slider-img > img {
		width: 100%;
	}
	.s5 > .container,
	.footer-main > .container,
	.footer-bottom > .container {
		width: 95% !important;
	}
}
@media (max-width: 635px) {
	.s6-form select {
		width: 320px !important;
	}
	#selects8-1 {
		width: 365px !important;
	}
	#selects8-2, #selects8-3 {
		width: 520px !important;
	}
	.s8-add-btn {
		margin: 0 0 0 15px;
		width: 135px;
	}
}
@media (max-width: 959px) {
	.container {
		width: 480px;
	}
	header {
		padding-top: 33px;
		height: 120px;
	}
	header > .container {
		width: 100%;
	}
	.header-logo-link {
		margin: 3px 0 0 33px;
	}
	.header-right-links {
		margin: 4px 45px 0 0;
		margin: 4px 23px 0 0;
	}
	.header-center-link {
		margin: 44px 0 0 -55px;
	}
	.header-center-link > img {
		margin: -2px 0 0 48px;
	}
	.s1 {
		height: 746px;
	}
	.s1-slider-content {
		padding: 101px 0 0 8px;
	}
	.s1-slider-title {
		max-width: 402px;
	}
	.s1-slider-text {
		max-width: 465px;
		margin: 47px 0 0 2px;
	}
	.s1-slider-btn {
		margin: 52px 0 0 0;
		font: 16px/47px "frm-l";
	}
	.s1-slider-content > img {
		display: none;
	}
	.s1 .slick-arrow {
		top: 221px;
	}
	.s2 {
		padding: 30px 0 49px;
	}
	.s-title {
		float: none;
		margin: 0;
		text-align: center;
	}
	.s-right-btn {
		display: none;
	}
	.s2-blocks {
		margin: 36px 0 0 0;
	}
	.s2-block {
		width: 373px;
	}
	.s2 .slick-arrow {
		top: 263px;
	}
	.s2 .slick-prev {
		left: -16px;
	}
	.s2 .slick-next {
		right: -16px;
	}
	.s-right-btn-xs {
		float: none;
		margin: 0 auto;
	}
	.s2 .s-right-btn-xs {
		margin: 42px auto 0;
	}
	.s3 {
		padding: 34px 0 74px;
	}
	.s3-slider {
		margin-top: 31px;
		padding: 26px 49px 38px;
	}
	.s3-slider-title {
		padding-left: 0;
		font: 26px/30px "frm-b";
		letter-spacing: -1.25px
	}
	.s3-slider-right {
		margin-top: 29px;
		padding-left: 0;
	}
	.slider-right-content {
		border-bottom: 0;
	}
	.s3-slider-icons {
		margin: 16px 0 0 0;
	}
	.s3-slider-icon.distance {
		margin-right: 0;
	}
	.s3-slider-icon.objects {
		display: none;
	}
	.s3-slider-btn {
		display: none;
	}
	.s3-slider-btn-xs {
		display: inline-block;
		margin: 35px 0 0;
	}
	.s3 .slick-arrow {
		top: 360px;
		background: url(../img/s3/s3-slider-arrows-white.png);
	}
	.s3 .slick-prev {
		left: -47px;
	}
	.s3 .slick-next {
		right: -52px;
	}
	.s3-form {
		margin-top: 49px;
		min-height: 839px;
	}
	.s3-form-title {
		margin: 31px 0 0 0;
		padding-left: 0;
		text-align: center;
	}
	.s3-form-left .s3-form-range:nth-child(1) {
		margin: 31px 0 0 0;
	}
	.s3-form-left .s3-form-range:nth-child(1) label {
		display: inline-block;
	}
	.s3-form-left {
		padding-left: 15.5%;
	}
	.s3-form-range label {
		margin: 0 0 26px 2px;
		letter-spacing: 0.1px;
	}
	.s3-form-range {
		width: 322px;
	}
	.s3-form-left .s3-form-range:nth-child(2) {
		margin: 46px 0 0 0;
	}
	.s3-form-left .s3-form-range:nth-child(2) label {
		margin: 0 0 20px 2px;
	}
	.s3-form-center {
		padding-left: 15.5%;
	}
	.s3-form-center .s3-form-block:nth-of-type(1) {
		margin: 55px 0 0 4px;
	}
	.s3-form select {
		width: 328px;
	}
	.s3-form-center .s3-form-block:nth-child(2) {
		margin: 11px 0 0 0;
	}
	.s3-form-center .s3-form-block:nth-child(3) {
		margin: 27px 0 0 0;
	}
	.s3-form-right {
		padding-left: 0;
		text-align: center;
	}
	.s3-form-submit-btn {
		float: none;
		margin: 40px auto 0;
	}
	.s4 {
		padding: 39px 0 49px;
	}
	.s4-blocks {
		margin-top: 38px;
	}
	.s4-block {
		max-width: 373px;
	}
	.s4 .slick-arrow {
		top: 259px;
	}
	.s4 .slick-prev {
		left: -22px;
	}
	.s4 .slick-next {
		right: -16px;
	}
	.s4 .s-right-btn-xs {
		margin: 39px auto 0;
	}
	.s5 {
		padding: 36px 0 32px;
	}
	.s5 > .container {
		width: 77%;
	}
	.s5-partner {
		margin: 0 auto 45px;
	}
	footer {
		position: relative;
		padding-top: 38px;
		min-height: 677px;
	}
	footer:before {
		content: "";
		position: absolute;
		left: 0;
		top: 364px;
		width: 100%;
		height: 1px;
		background: #868686;
	}
	.footer-main > .container {
		width: 80%;
	}
	.footer-menu-box {
		min-height: 37px;
	}
	.footer-main {
		min-height: 327px;
	}
	.footer-partner-links > li {
		width: 33.333333%;
		float: left;
	}
	.footer-right {
		padding: 0;
		margin: 29px 0 0 0;
	}
	.footer-partner-links {
		margin: 27px 0 69px;
	}
	.footer-partner-links > li:nth-child(1) > a,
	.footer-partner-links > li:nth-child(2) > a {
		background: url(../img/footer/pravitelstvo-logo.png) no-repeat center top;
	}
	.footer-partner-links > li:nth-child(3) > a {
		background: url(../img/footer/logo2.png) no-repeat center top;
	}
	.footer-partner-links > li > a {
		margin: 0 auto;
		padding: 64px 0 0 0 !important;
		width: 160px;
		font: 13px/18px "frm";
		text-align: center;
	}
	.footer-bottom > .container {
		width: 80%;
	}
	.footer-bottom {
		padding: 49px 0 16px;
	}
	.footer-logo-link {
		margin: 0 0 0 18px;
	}
	.footer-social-links {
		float: none;
		margin: -3px auto 0;
		width: 93px;
	}
	.footer-login-links {
		float: right;
		margin: 4px 46px 0 0;
		white-space: nowrap;
	}
	
	.page-top {
		height: 247px;
	}
	.page-top-title {
		margin: 46px 0 0 0;
	}
	.header-mod .header-center-link {
		margin: 0;
	}
	.header-mod .header-center-link > span {
		display: none;
	}	
	.header-mod .header-center-link > img {
		margin: 3px 0 0 38px;
	}
	.breadcrumbs > .container,
	.s6 > .container {
		width: 100%;
	}
	.breadcrumb {
		padding: 20px 0 0 32px;
	}
	.page-title {
		margin: 37px 0 0 28px;
	}
	.s6 {
		padding: 0 0 66px 0;
	}
	.s6-form {
		margin: 28px 0 0 30px;
	}
	.s6-form select {
		width: 388px;
	}
	.s6-form-btn {
		margin: 0 0 0 16px;
		width: 182px;
	}
	.s6-items > div:nth-child(3n+1) > .s6-item, 
	.s6-items > div:nth-child(3n) > .s6-item {
		float: none;
	}
	.s6-items {
		padding: 61px 0 0 0;
	}
	.s6-item {
		margin: 0 auto 41px;
		width: 373px;
	}
	.s6-item-img {
		height: 373px;
	}
	.s6-items-showmore-btn {
		margin: 14px auto 0;
	}
	.page-menu ul {
		display: none !important;
	}
	.page-menu > .container {
		width: 100%;
	}
	.page-menu-xs {
		text-align: left;
	}
	.page-menu-xs > a {
		display: inline-block;
		margin: 0 0 0 34px;
		padding: 0 15px 0 35px;
		font: 22px/57px "frm";
		letter-spacing: 0.1px;
		color: #fff !important;
		text-transform: uppercase;
		background: url(../img/page-menu/menu-small-arrow.png) no-repeat 0 center;
	}
	.s7 {
		padding: 39px 0 42px;
	}
	.s7-block {
		width: 373px;
	}
	.s7 .slick-arrow {
		top: 267px;
	}
	.s7 .slick-prev {
		left: -7px;
	}
	.s7 .slick-next {
		right: -7px;
	}
	.s7 .s-right-btn-xs {
		margin: 38px auto 0;
		width: 218px;
	}
	.s7 .s-title {
		margin: 0;
	}
	.s7-blocks {
		margin: 27px 0 0 0;
	}
	
	.breadcrumb {
		padding: 29px 0 0 32px;
	}
	.s8 > .container, .s9 > .container {
		padding: 0 0 0 26px;
		width: 100%;
	}
	.s8-block-title, .s9-block-title {
		font: 32px "frm-b";
	}
	.s8-block-title {
		margin: 37px 0 0 4px;
		font: 32px "frm-b";
	}
	.s8-selects {
		margin: -10px 0 0 0;
	}
	.s8 label:not(:last-child) {
		margin: 0 0 17px 2px;
	}
	#selects8-1 {
		padding: 0 30px 0 21px;
		width: 404px;
		background-position: 95.2% 19px;
	}
	.s8-add-btn {
		margin: 0 0 0 23px;
	}
	.s8-tags {
		margin: 27px 0 0 0;
	}
	.s8-select-box:nth-child(1) {
		margin: 25px 0 0 0;
	}
	.s8-select-box:nth-child(2) {
		margin: 26px 0 0 0;
	}
	#selects8-2, #selects8-3 {
		margin: 4px 0 0 0;
		width: 587px;
		background-position: 97.7% 20px;
	}
	.s8-ranges {
		margin: 37px 0 0 0;
	}
	.s8-range-top {
		margin: 0 0 27px 0;
	}
	.s8-range {
		width: 323px;
	}
	.s8-range-bottom {
		margin: 3px 0 0 0;
	}
	.s8-range-box:nth-child(2) {
		margin: 45px 0 0 0;
	}
	.s8-range-box:nth-child(2) .s8-range-top {
		margin: 0 0 24px 0;
	}
	.s8-range-box:nth-child(2) .s8-range-bottom {
		margin: 9px 0 0 0;
	}
	.s8-range-box:nth-child(3) {
		margin: 34px 0 0 0;
	}
	.s8-range-box:nth-child(3) .s8-range-top {
		margin: 0 0 25px 0;
	}
	.s8-block:first-child {
		margin: 0 0 45px 0;
	}
	.s8-block:nth-child(2) .s8-block-main {
		margin: 27px 0 0 8px;
	}
	.s8-block:nth-child(2) select {
		margin: 0 0 0 -5px;
		padding: 0 0 0 14px;
		width: 520px;
	}
	.s8-select-or {
		width: 515px;
		height: 59px;
		font: 18px/57px "frm-l";
	}
	.s8-block:nth-child(2) .s8-block-main > div:nth-child(1) {
		margin: 0 0 33px 0;
	}
	.label-s8-point {
		padding: 10px 0 13px 51px;
	}
	.s8-checkbox {
		margin: 36px 0 0 -4px;
	}
	.s8-checkbox input[type="checkbox"] + label {
		padding: 2px 0 0 45px;
	}
	.s8-form-submit-btn {
		margin: 40px 0 0 3px;
	}
	.s8 {
		padding: 0 0 57px 0;
	}
	.s9 {
		padding: 0 0 73px 0;
	}
	.s9-block:nth-child(1) {
		margin: 11px 0 0 0;
	}
	.s9-block:nth-child(2) {
		margin: 4px 0 0 0;
	}
	.s9-block:nth-child(3) {
		margin: 18px 0 0 0;
	}
	.s9-block-title {
		margin: 20px 0 25px 3px;
	}
	.s9-points {
		margin: 0 0 0 2px;
	}
	.s9-gids-link {
		margin: 3px 0 0 5px;
	}
	.s9-text {
		margin: -15px 0 0 8px;
	}
	.s9-btn {
		margin: 22px 0 0 3px;
	}
}

