body {
	overflow-x: hidden;
}
#wrapper {
	min-width: 320px;
/*	overflow-x: hidden;*/
	will-change: transform;
}
.index-links {
	margin: 30px 0 0 0;
	font-size: 25px;
}
/*		HEADER 		*/
header {
	padding-top: 47px;
	height: 122px;
}
header > .container {
	position: relative;
	height: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
.header-logo-link {
	display: inline-block;
	margin: 3px 0 0 3px;
}
.header-center {
	text-align: center;
}
.header-center-link {
	display: inline-block;
}
.header-center-link > span {
	display: inline-block;
	border-bottom: 1px solid #fff;
	font: 15px/14px "frm";
	text-decoration: none;
	color: #fff !important;
}
.header-center-link:hover > span {
	border-bottom: 0;
}
.header-center-link > img {
	margin: -2px 0 0 26px;
}
.header-right-links {
	float: right;
	margin: 1px 0 0 0;
}
.header-right-links > a {
	float: left;
	width: 38px;
	height: 38px;
	border: 1px solid #fff;
}
.header-login-link {
	padding: 7px 0 0 9px;
}
.header-lock-link {
	margin-left: 17px;
	padding: 6px 0 0 8px;
}
.header-menu-link {
	margin-left: 16px;
	padding: 7px 0 0 6px;
}
/*		S-1 		*/
.s1 {
	margin-top: -122px;
	padding-top: 122px;
	height: 629px;
	background: url("../img/s1/s1-slide-bg.jpg") no-repeat center top;
	background-size: cover;
}
.s1-slider {
	color: #fff;
}
.slick-slide {
	outline: none;
}
.s1-slider-content {
	padding: 96px 0 0 6.35%;
}
.s1-slider-title {
	max-width: 748px;
	font: 35px/39px "frm";
	text-transform: uppercase;
}
.s1-slider-text {
	max-width: 723px;
	margin: 17px 0 0 3px;
	font: 17px/24px "frm-l";
	letter-spacing: 0.08px;
}
.s1-slider-btn {
	margin: 36px 0 0 5px;
	display: inline-block;
	width: 165px;
	height: 46px;
	border: 1px solid #fff;
	font: 16px/44px "frm-l";
	text-align: center;
	text-transform: uppercase;
	text-decoration: none !important;
	color: #fff !important;
}
.s1-slider-content > img {
	margin: -86px 0 0 269px;
}
/*		S-2 		*/
.s2 {
	padding: 37px 0 100px;
	background: #eaeaea;
}
.purple-btn {
	border: 1px solid #882890;
	text-decoration: none !important;
	color: #882890 !important;
}
.purple-btn:hover {
	color: #fff !important;
	background: #882890;
}
.s-title {
	margin: 8px 0 0 3px;
	float: left;
	font: 32px "frm-b";
	letter-spacing: 0.2px;
	text-transform: uppercase;
	color: #010101;
}
.s-right-btn, .s-right-btn-xs  {
	float: right;
	display: block;
	width: 182px;
	border: 1px solid #882890;
	font: 16px/52px "frm-l";
	text-align: center;
	text-decoration: none !important;
}
.s2-blocks {
	position: relative;
	margin: 41px 0 0 0;
}
.s2-block {
	margin: 0 auto;
	position: relative;
	width: 373px;
	height: 581px;
	background: rgba(0,0,0,0.2);
}
.s2-block > img, .s2-block-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.s2-block-bg {
	opacity: 0.42;
	background: #000;
}
.s2-block:hover .s2-block-bg {
	opacity: 0.82;
	background: #f39a1f;
}
.s2-block:hover .s2-block-btn {
	color: #ff9b18 !important;
	background: #fff;
}
.s2-block-content {
	position: relative;
	max-width: 300px;
	height: 100%;
	padding: 22px 0 0 24px;
	color: #fff;
}
.s2-block-tag {
	display: inline-block;
	padding: 0 10px 0 7px;
	font: 10px/25px "frm-l";
	text-transform: uppercase;
	background: #f39a1f;
}
.s2-block-tag.orange {
	background: #f39a1f;
}
.s2-block-tag.pink {
	background: #ce2a4f;
}
.s2-block-tag.purple  {
	background: #a83362;;
}
.s2-block-title {
	margin: 205px 0 16px;
	font: 21px/24px "frm-b";
	text-transform: uppercase;
}
.s2-block-text {
	margin: 0;
	font: 18px/22px "frm-l";
}
.s2-block-btn {
	position: absolute;
	left: 22px;
	bottom: 33px;
	padding: 0 42px 0 38px;
	border: 1px solid #fff;
	font: 16px/53px "frm-l";
	text-decoration: none !important;
	color: #fff !important;
}
.slick-arrow {
	position: absolute;
	padding: 0;
	border: 0;
	text-indent: -9999px;
	background: none;
	outline: 0;
	z-index: 9999;
}
.s2 .slick-arrow, .s3 .slick-arrow,
.s4 .slick-arrow, .s7 .slick-arrow  {
	top: 239px;
	width: 25px;
	height: 33px;
	background: url("../img/s2/slider-arrow.png");
}
.s2 .slick-arrow {
	top: 239px;
}
.s3 .slick-arrow {
	top: 230px;
}
.s4 .slick-arrow {
	top: 239px;
}
.s7 .slick-arrow {
	top: 256px;
}
.s2 .slick-prev {
	left: -29px;
}
.s2 .slick-next {
	right: -29px;
	transform: rotate(180deg);
}
.s3 .slick-prev {
	left: 11px;
}
.s3 .slick-next {
	right: 11px;
	transform: rotate(180deg);
}
.s4 .slick-prev {
	left: -29px;
}
.s4 .slick-next {
	right: -29px;
	transform: rotate(180deg);
}
.s7 .slick-prev {
	left: -27px;
}
.s7 .slick-next {
	right: -27px;
	transform: rotate(180deg);
}
.s1 .slick-arrow {
	top: 117px;
	width: 55px;
	height: 123px;
	background: rgba(0,0,0,0.3) url("../img/s1/s1-slider-arrow.png") no-repeat 8px 44px;
}
.s1 .slick-prev {
	left: 0;
}
.s1 .slick-next {
	right: 0;
	transform: rotate(180deg);
}
.s10 .slick-arrow {
	top: 170px;
	width: 59px;
	height: 123px;
	background: rgba(0,0,0,0.3) url("../img/s10/s10-slider-arrow.png") no-repeat center;
}
.s10 .slick-prev {
	left: 0;
}
.s10 .slick-next {
	right: 0;
	transform: rotate(180deg);
}
.s10 .slick-dots {
	position: relative;
	top: -48px;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.s10 .slick-dots > li {
	float: left;
}
.s10 .slick-dots > li:not(:last-child) {
	margin-right: 14px;
}
.s10 .slick-dots > li > button {
	padding: 0;
	width: 15px;
	height: 15px;
	outline: 0;
	border: 0;
	border-radius: 50%;
	font-size: 0;
	background: #fff;
}
.s10 .slick-dots > li.slick-active > button {
	background: #882890;
}


/*		S-3 		*/
.s3 {
	padding: 23px 0 64px;
	background: #a9246f;
}
.s3 .s-title {
	color: #fff;
}
.s3 .s-right-btn {
	width: 184px;
	border-color: #fff;
	font: 16px/53px "frm-l";
	color: #fff !important;
	background: transparent !important;
}
.s3-slider {
	margin-top: 23px;
	padding: 49px 4.6% 42px;
	background: #fff;
}
.s3-slider-title {
	padding-left: 5px;
	font: 26px "frm-b";
	letter-spacing: 0.14px;
	color: #020202;
}
.s3-slider-center {
	margin-top: 34px;
}
.s3-slider-img {}
.s3-slider-img > img {
	max-width: 100%;
}
.s3-slider-right {
	padding-left: 3.85%;
}
.slider-right-content {
	border-bottom: 1px solid #3b235d;
}
.s3-slider-text {
	font: 19px "frm-l";
	letter-spacing: 0.08px;
	color: #020202;
}
.s3-slider-btn, .s3-slider-btn-xs {
	display: inline-block;
	margin: 25px 0 35px;
	padding: 0 34px;
	font: 16px/52px "frm-l";
}
.s3-slider-btn-xs {
	display: none;
}
.s3-slider-icons {
	margin: 48px 0 0 6px;
}
.s3-slider-icon {
	float: left;
	padding-left: 52px;
	height: 41px;
	color: #000;
}
.s3-slider-icon.time {
	margin-right: 84px;
	background: url("../img/s3/icon-1.png") no-repeat left top;
}
.s3-slider-icon.distance {
	margin-right: 127px;
	background: url("../img/s3/icon-2.png") no-repeat left top;
}
.s3-slider-icon.objects {
	background: url("../img/s3/icon-3.png") no-repeat left top;
}
.s3-slider-icon > img {
	float: left;
}
.s3-slider-icon-name {
	margin: 2px 0 1px 0;
	font: 10px "frm-l";
}
.s3-slider-icon-info {
	font: 17px "frm-l";
	letter-spacing: -0.2px;
}

.s3-form {
	margin-top: 35px;
	min-height: 360px;
	border: 1px solid #fff;
	color: #fff;
}
.s3-form-title {
	margin: 21px 0 0 0;
	padding-left: 38px;
	font: 32px "frm-b";
	letter-spacing: 0.2px;
	color: #fff;
}
.s3-form-block {
	margin: 0 0 11px 82px;
}
.s3-form-block-heading {
	margin: 0;
	font: 19px "frm-l";
}
.s3-form input[type="checkbox"] {
	display: none;
}
.s3-form-block label {
	font: 17px "frm-l";
}
.s3-form input[type="checkbox"] + label {
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
	padding-left: 34px;
	min-width: 136px;
}
.s3-form input[type="checkbox"] + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: -1px;
	height: 23px;
	width: 23px;
	background: #fff;
}
.s3-form input[type="checkbox"]:checked + label:before {
	background: #fff url("../img/s3/s3-checkbox-bg.png") no-repeat center;
}
.s3-form select {
	padding-left: 14px;
	width: 285px;
	height: 42px;
	font: 17px/42px "frm-l";
	border: 0;
	color: #000;
	background: #fff url("../img/s3/s3-form-select-bg.png") no-repeat 95.3% 12px;	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
}
.s3-form-right .s3-form-block {
	margin: 20px 0 0 47px;
}
.s3-form-center {
	padding-left: 6.6%;
}
.s3-form-center .s3-form-block:nth-of-type(1) {
	margin: 21px 0 0 0;
}
.s3-form-center .s3-form-block:nth-of-type(1) .s3-form-block-heading {
	margin-bottom: 20px;
}
.s3-form-center .s3-form-block:nth-of-type(2) {
	margin: 11px 0 0 0;
}
.s3-form-center .s3-form-block:nth-of-type(2) .s3-form-block-heading {
	margin-bottom: 16px;
}
.s3-form-right {
	padding-left: 3.7%;
}
.s3-form-right .s3-form-block:nth-of-type(1) {
	margin: 25px 0 0 0;
}
.s3-form-right .s3-form-block:nth-of-type(1) .s3-form-block-heading {
	margin-bottom: 15px;
}
.s3-form-submit-btn {
	float: right;
	display: inline-block;
	margin: 84px 79px 0 0;
	padding: 0 41px 0 43px;
	height: 55px;
	border: 1px solid #fff;
	font: 16px/53px "frm-l";
	text-decoration: none !important;
	color: #fff !important;
}

.s3-form-left {
	padding-left: 3.68%;
}
.s3-form-range {
	width: 321px;
	font: 19px "frm-l";
}
.s3-form-range:nth-child(1) {
	margin: 63px 0 0 0;
}
.s3-form-range:nth-child(2) {
	margin: 51px 0 0 0;
}
.s3-form-left .s3-form-range:nth-child(1) label {
	display: none;
}
.s3 .irs {
	max-width: 100%;
}
.s3 .irs-line {
	height: 6px;
	border-radius: 3px;
	background: #fff;
}
.s3 .irs-bar {
	max-width: 322px;
	height: 6px;
	background: #fff;
}
.s3 .s3-form-range .irs-single {
	margin: -11px 0 0;
	padding: 0;
	font: 14px "frm-l";
	color: #fff;
}
.s3 .s3-form-range:nth-child(1) .irs-single {
	width: 27px;
	height: 36px;
	text-indent: 28px;
	background: url("../img/s3/time-1.png") no-repeat 0 3px;
}
.s3 .s3-form-range:nth-child(2) .irs-single {
	width: 60px;
	height: 36px;
	text-indent: 49px;
	background: url("../img/s3/time-2.png") no-repeat 0 2px;
}
.s3 .irs-single, .s3 .irs-slider.single {
	cursor: pointer;
}
.s3 .irs-min, .s3 .irs-max {
	visibility: visible !important;
	margin: 36px 0 0 0;
	padding: 0;
	font: 19px "frm-l";
	color: #fff;
	background: none;
}
.s3 .irs-bar-edge {
	display: none;
}
.s3-form-range label {
	margin: 0 0 16px -4px;
}
.s3 .irs-from:after, .s3 .irs-to:after, .s3 .irs-single:after {
	border-top-color: #fff;
}
.irs-line-mid, .irs-line-left, .irs-line-right,
.irs-bar, .irs-bar-edge, .irs-slider {
	background: none;
}
/*		S-4 		*/
.s4 {
	padding: 44px 0 97px;
	background: #eaeaea;
}
.s4-blocks {
	margin-top: 25px;
}
.s4-block {
	display: block;
	margin: 0 auto;
	max-width: 373px;
	min-height: 581px;
	background: #fff;
}
.s4-block-top {
	position: relative;
	height: 276px;
}
.s4-block-top > img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.s4-block-tag {
	position: relative;
	display: inline-block;
	margin: 22px 0 0 24px;
	padding: 0 7px 0 6px;
	font: 10px/25px "frm-l";
	text-transform: uppercase;
	color: #fff;
	background: #a9246f;
}
.s4-block-content {
	padding: 17px 0 0 24px;
	max-width: 270px;
}
.s4-block-date {
	font: 16px "frm-b";
	color: #882890;
}
.s4-block-title {
	margin: 12px 0 15px;
	font: 21px/24px "frm-b";
	letter-spacing: 0.1px;
	text-transform: uppercase;
	color: #020202;
}
.s4-block-text {
	font: 18px "frm-l";
	color: #000;
}
.s4-block-btn {
	display: inline-block;
	margin: 10px 0 0 1px;
	padding: 0 43px 0 42px;
	font: 15px/53px "frm";
}
/*		S-5 		*/
.s5 {
	padding: 49px 0 99px;
	background: #fff;
}
.s5-partners {
	margin-top: 71px;
}
.s5-partner {
	display: block;
	margin: 0 auto;
	width: 170px;
	text-align: center;
	text-decoration: underline;
	color: #882890 !important;
}
.s5-partner:hover {
	text-decoration: none !important;	
}
.s5-partner-img {
	height: 94px;
}
.s5-partner-name {
	font: 17px/24px "frm-l";
	letter-spacing: 0.1px;
}
/*		FOOTER 		*/
footer {
	min-height: 450px;
	padding-top: 34px;
	background: #404040;
}
.footer-main {
	min-height: 350px;
	border-bottom: 1px solid #868686;
}
.footer-left {
	padding-left: 19px;
}
.footer-left .footer-menu > *:nth-child(2) {
	padding-left: 26px;
}
.footer-menu-title {
	margin: 10px 0 13px;
	font: 19px "frm";
	text-transform: uppercase;
	color: #c4c4c4;
}
.footer-menu-box {
	min-height: 64px;
}
.footer-menu {
	margin: 0;
	padding: 0;
	list-style: none;	
}
.footer-menu li {
	margin-bottom: 5px;
}
.footer-menu a {
	font: 13px "frm";
	color: #fff;
}
.footer-center {
	margin-left: -14px;
}
.footer-center .footer-menu-box:first-child .footer-menu {
	margin-bottom: 21px;
}
.footer-center .footer-menu-box:last-child .footer-menu  {
	margin-top: -2px;;
}
.footer-center .footer-menu-box:last-child .footer-menu > li {
	margin-bottom: 2px;
}
.footer-right {
	padding: 11px 0 0 5.5%;
}
.footer-login-links {
	padding-left: 3px;
	font: 15px "frm";
	color: #fff;
}
.footer-login-links > a {
	color: #fff;
	text-decoration: underline;
}
.footer-login-links > a:hover {
	text-decoration: none;
}
.footer-partner-links {
	margin: 48px 0 0 0;
	padding: 0;
	list-style: none;
}
.footer-partner-links > li {
	margin-bottom: 23px;
}
.footer-partner-links > li > a {
	display: block;
	padding: 13px 0 0 55px;
	height: 46px;
	font: 13px "frm";
	color: #fff;
	text-decoration: underline;
}
.footer-partner-links > li > a:hover {
	text-decoration: none;
}
.footer-partner-links > li:nth-child(2) > a {
	padding: 6px 0 0 55px;
}
.footer-partner-links > li:nth-child(1) > a, .footer-partner-links > li:nth-child(2) > a {
	background: url("../img/footer/pravitelstvo-logo.png") no-repeat left top;
}
.footer-partner-links > li:nth-child(3) > a {
	background: url("../img/footer/logo2.png") no-repeat left bottom;
}
.footer-bottom {
	padding: 20px 0 16px;
}
.footer-logo-link {
	float: left;
	margin: 0 0 0 21px;
}
.footer-logo-link > img {
	float: left;
}
.footer-social-links {
	float: right;
	margin: 0 28px 0 0;
}
.footer-social-links > a {
	display: inline-block;
}
.footer-social-links > a:last-child {
	margin-left: 14px;
}
/*		БАНК ЭКСКУРСОВОДОВ 		*/
/*		PAGE-TOP 		*/
.page-top {
	margin-top: -122px;
	padding-top: 122px;
	height: 234px;
	background: url(../img/s1/s1-slide-bg.jpg) no-repeat center -180px;
	background-size: cover;
}
.page-top-title {
	margin: 38px 0 0 0;
	font: 32px "frm-b";
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
/*		PAGE-MENU 		*/
.page-menu {
	height: 57px;
	text-align: center;
	background: #882890;
}
.page-menu ul {
	display: inline-block !important;
	margin: 0;
	padding: 0;
	list-style: none;
}
.page-menu ul > li {
	float: left;
}
.page-menu ul > li:not(:last-child) {
	margin-right: -1px;
}
.page-menu ul > li > a {
	display: block;
	padding: 0 21px;
	border-left: 1px solid #a257a8;
	border-right: 1px solid #a257a8;
	font: 15px/57px "frm";
	color: #fff !important;
	text-decoration: none !important;
	text-align: center;
	text-transform: uppercase;	
}
.page-menu ul > li > a:hover {
	text-decoration: underline !important;
}
.page-menu ul > li.active > a {
	height: 57px;
	background: #f39a1f !important;
}
/*		BREADCRUMBS 		*/
.breadcrumb {
	margin: 0;
	padding: 20px 0 0 5px;
	background: none;
}
.breadcrumbs a {
	font: 18px "frm-l";
	color: #882890;
	text-decoration: underline;
}
.breadcrumbs a:hover {
	text-decoration: none;
}
.breadcrumbs li.active {
	font: 18px "frm-l";
	color: #000;
}
.breadcrumb>li+li:before {
	content: ">";
	padding: 0 4px;
	color: #000;
}
/*		S-6 		*/
.s6 {
	padding: 0 0 60px 0;
}
.page-title {
	margin: 25px 0 0 4px;
	font: 32px "frm-b";
	letter-spacing: 0.15px;
	color: #000;
	text-transform: uppercase;
}
.s6-form {
	margin: 48px 0 0 5px;
}
.s6-form select {
	float: left;
	padding: 0 0 0 21px;
	width: 407px;
	height: 54px;
	border: 1px solid #882890;
	border-radius: 0;
	font: 18px "frm-l";
	letter-spacing: 0.1px;
	color: #000;
	background: #fff url(../img/s3/s3-form-select-bg.png) no-repeat 95.7% 17px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.s6-form-btn {
	float: left;
	margin: 0 0 0 23px;
	width: 182px;
	height: 54px;
	font: 16px/52px "frm-l";
	text-align: center;
}
.s6-items {
	padding: 50px 5px 0;
}
.s6-item {
	width: 373px;
	margin: 0 auto 39px;
}
.s6-items > div:nth-child(3n+1) > .s6-item {
	float: left;
}
.s6-items > div:nth-child(3n) > .s6-item {
	float: right;
}
.s6-item-img {
	position: relative;
	height: 373px;
}
.s6-item-img > img {
	width: 100%;
	height: 100%;
}
.s6-item-tag {
	position: absolute;
	left: 24px;
	top: 22px;
	padding: 0 8px 0 6px;
	font: 10px/25px "frm-l";
	text-transform: uppercase;
	color: #fff;
	background: #a9246f;	
}
.s6-item-main {
	padding: 32px 0 0 21px;
	width: 100%;
	height: 208px;
	background: #eaeaea;
}
.s6-item-name {
	margin: 0;
	font: 21px "frm-b";
	letter-spacing: 0.12px;
	text-transform: uppercase;
	color: #020202;
}
.s6-item-rating {
	margin: 20px 0 0 -2px;
	font: 18px "frm-l";
	color: #000;
}
.s6-item-rating > img {
	margin: -12px 0 0 11px;
}
.s6-item-btn {
	display: inline-block;
	margin: 23px 0 0 -1px;
	padding: 0 41px 0 44px;
	font: 15px/53px "frm";
}
.s6-items-showmore-btn {
	display: block;
	margin: 10px auto 0;
	width: 218px;
	height: 54px;
	font: 16px/52px "frm-l";
	text-align: center;
}


.s7 {
	padding: 48px 0 96px;
	background: #eaeaea;
}
.s7 .s-title {
	margin: 0 0 0 5px;
}
.s7-blocks {
	position: relative;
	margin: 41px 0 0 0;
}
.s7-block {
	margin: 0 auto;
	position: relative;
	width: 373px;
	height: 581px;
	background: rgba(0,0,0,0.2);
}
.s7-block > img, .s7-block-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.s7-block-bg {
	opacity: 0.42;
	background: #000;
}
.s7-block-content {
	position: relative;
	max-width: 326px;
	height: 100%;
	padding: 22px 0 0 24px;
	color: #fff;
}
.s7-block-tag {
	display: inline-block;
	padding: 0 10px 0 7px;
	font: 10px/25px "frm-l";
	text-transform: uppercase;
	background: #f39a1f;
}
.s7-block-tag.orange {
	background: #f39a1f;
}
.s7-block-tag.pink {
	background: #e674a2;
}
.s7-block-tag.purple  {
	background: #75183d;;
}
.s7-block-title {
	margin: 21px 0 16px;
	font: 21px/24px "frm-b";
	text-transform: uppercase;
}
.s7-block-text {
	margin: 0;
	font: 18px/22px "frm-l";
}
.s7-block-btn {
	position: absolute;
	left: 22px;
	bottom: 27px;
	padding: 0 42px 0 38px;
	border: 1px solid #fff;
	font: 16px/53px "frm-l";
	text-decoration: none !important;
	color: #fff !important;
}
.s7-block-btn:hover {
	color: #f39a1f !important;
	background: #fff;
}
.s7-block-info {
	margin: 0 0 0 2px;
}
.s7-block-info-item {
	float: left;
	height: 36px;
	font: 20px "frm";
}
.s7-block-info-item.time {
	margin-right: 25px;
	padding: 6px 0 0 51px;
	background: url("../img/s7/s7-time.png") no-repeat 0 2px;
}
.s7-block-info-item.distance {
	padding: 8px 0 0 54px;
	background: url("../img/s7/s7-distance.png") no-repeat 0 0;
}
.s7-block-main {
	position: absolute;
	left: 24px;
	bottom: 129px;
}

/*		КОНСТРУКТОР МАРШРУТОВ 		*/
/*		S-8 		*/
.s8 {
	padding: 0 0 66px 0;
}
.s8-block:first-child {
	margin: 0 0 82px 0;
}
.s8-block-title {
	margin: 31px 0 0 3px;
	font: 32px "frm-b";
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #010101;
}
.s8-block-main {
	margin: 28px 0 0 4px;
}
.s8 label:not(:last-child) {
	display: block;
	margin: 0 0 25px -1px;
	font: 18px "frm-b";
	color: #000;
}
.s8 select {
	float: left;
	padding: 0 45px 0 21px;
	height: 54px;
	border: 1px solid #882890;
	border-radius: 0;
	font: 18px "frm-l";
	color: #000;
	background: #fff url(../img/s3/s3-form-select-bg.png) no-repeat 93.7% 17px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	white-space: nowrap; 
	overflow: hidden !important;
	text-overflow: ellipsis; 
}
#selects8-1 {
	width: 339px;
}
#selects8-2, #selects8-3 {
	width: 250px;
	background-position: 95.7% 20px;
}
.s8-add-btn {
	float: left;
	margin: 0 0 0 13px;
	width: 157px;
	height: 54px;
	font: 16px/52px "frm-l";
	text-align: center;
}
.s8-tags {
	float: left;
	margin: 24px 0 0 1px;
}
.s8-tag {
	float: left;
	margin: 0 19px 15px 0;
	padding: 0 0 0 9px;
	width: 206px;
	height: 25px;
	font: 10px/26px "frm-l";
	text-transform: uppercase;
	color: #fff !important;
	background: #a9246f url("../img/s8/s8-tag-bg.png") no-repeat 97% 5px;
}
.s8-tag.pink {
	background: #d762a4 url("../img/s8/s8-tag-bg.png") no-repeat 97% 5px;
}
.s8-tag.purple {
	background: #882890 url("../img/s8/s8-tag-bg.png") no-repeat 97% 5px;
}
.s8-select-box {
	float: left;
}
.s8-select-box:first-child {
	margin: 0 54px 0 -2px;
}
.s8-block:nth-child(2) .s8-block-main {
	margin: 34px 0 0 4px;
}
.label-s8-point {
	margin: 0 0 0 -1px !important;
	padding: 8px 0 15px 51px;
}
.label-s8-point[for="selects8-4"] {
	background: url("../img/s8/point-a.png") no-repeat 0 0;
}
.label-s8-point[for="selects8-6"] {
	background: url("../img/s8/point-b.png") no-repeat 0 0;
}
.s8-block:nth-child(2) select {
	width: 520px;
	background-position: 96.7% 18px;
}
.s8-select-or {
	float: left;
	width: 520px;
	height: 41px;
	font: 18px/37px "frm-l";
	text-align: center;
	color: #000;
}
.s8-checkbox {
	float: left;
	margin: 22px 0 0 0;
}
.s8-checkbox input[type="checkbox"] {
	display: none;
}
.s8-checkbox label {
	font: 18px "frm-l";
	letter-spacing: 0.1px;
	color: #000;
}
.s8-checkbox input[type="checkbox"] + label {
	position: relative;
	padding-left: 41px;
	white-space: nowrap;
	cursor: pointer;
}
.s8-checkbox input[type="checkbox"] + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: -1px;
	border: 1px solid #882890;
	height: 28px;
	width: 28px;
	background: #fff;
}
.s8-checkbox input[type="checkbox"]:checked + label:before {
	background: #fff url("../img/s3/s3-checkbox-bg.png") no-repeat center;
}
.s8-form-submit-btn {
	float: left;
	margin: 48px 0 0 4px;
	width: 218px;
	height: 54px;
	font: 16px/52px "frm-l";
	text-align: center;
}
.s8-ranges {
	margin: 22px 0 0 0;
}
.s8-range-top {
	margin: 0 0 29px 0;
	font: 18px "frm-b";
	color: #000;
}
.s8-range-top > span {
	font: 18px "frm-l";
	padding: 0 0 0 12px;
}
.s8-range-bottom {
	margin: -5px 0 0 0;
	font: 18px "frm-l";
	color: #000;
}
.s8-range-min {
	float: left;
}
.s8-range-max {
	float: right;
}
.s8-range {
	width: 321px;
}
.s8 .irs {
	max-width: 100%;
}
.s8 .irs-line {
	height: 6px;
	border-radius: 3px;
	background: #882890;
}
.s8 .irs-bar {
	max-width: 322px;
	height: 6px;
	background: #882890;
}
.s8-range-box .irs-single {
	padding: 0;
	font-size: 0;
}
.s8-range-box:nth-child(1) .irs-single {
	margin: -9px 0 0 0;
	width: 27px;
	height: 36px;
	background: url("../img/s8/s8-range-1.png") no-repeat 0 0;
}
.s8-range-box:nth-child(2) .irs-single {
	margin: -8px 0 0 0;
	width: 60px;
	height: 36px;
	background: url("../img/s8/s8-range-2.png") no-repeat 0 0;
}
.s8-range-box:nth-child(3) .irs-single {
	margin: -11px 0 0 0;
	width: 39px;
	height: 38px;
	background: url("../img/s8/s8-range-3.png") no-repeat 0 0;
}
.s8 .irs-single, .s8 .irs-slider.single {
	cursor: pointer;
}
.s8 .irs-min, .s8 .irs-max {
	visibility: visible !important;
	margin: 36px 0 0 0;
	padding: 0;
	font: 19px "frm-l";
	color: #fff;
	background: none;
}
.s8 .irs-bar-edge {
	display: none;
}
.s8 .irs-from:after, .s8 .irs-to:after, .s8 .irs-single:after {
	border-top-color: #882890;
}
/*		S-9 		*/
.s9 {
	padding: 0 0 136px 0;
}
.s9 > #map {
	height: 580px;
}
.s9-block {
	margin: 23px 0 0 0;
}
.s9-block:nth-of-type(3) {
	margin: 14px 0 0 0;
}
.s9-block-title {
	margin: 20px 0 21px 0;
	font: 32px "frm-b";
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #010101;
}
.s9-points {
	margin: 0;
	padding: 0;
	list-style: none;
}
.s9-points > li {
	float: left;
	margin: 0 0 9px 0;
	width: 100%;
}
.s9-points span {
	float: left;
	padding: 3px 0 0 0;
	width: 26px;
	height: 45px;
	font: 16.3px "frm-l";
	text-align: center;
	color: #882890;
	background: url("../img/s9/s9-point.png");
}
.s9-points a {
	float: left;
	margin: 0 0 10px 0;
	padding: 7px 5px 7px 16px;
	font: 18px "frm-l";
	letter-spacing: 0.1px;
	text-decoration: underline;
	color: #882890;
}
.s9-points a:hover {
	text-decoration: none;
}
.s9-gids-link {
	display: inline-block;
	margin: 8px 0 0 4px;
	padding: 0 5px 0 27px;
	font: 18px "frm-l";
	letter-spacing: 0.1px;
	text-decoration: underline;
	color: #882890 !important;
	background: url(../img/s9/s9-arrow.png) no-repeat 0 0;
}
.s9-gids-link:hover {
	text-decoration: none;
}
.s9-text {
	margin: 5px 0 0 2px;
	font: 18px/37px "frm-l";
	letter-spacing: 0.1px;
	color: #000;
}
.s9-text > b {
	font: 18px "frm-b";
}
.s9-btn {
	float: left;
	margin: 50px 0 0 0;
	width: 218px;
	height: 54px;
	font: 16px/52px "frm-l";
	text-align: center;
}
/*		ВЫСТАВКА 		*/
/*		S-10 		*/
.s10 {
	padding: 0 0 55px 0;
}
.s10-title {
	margin: 30px 0 27px;
	font: 32px "frm-b";
	color: #010101;
}
.s10-main {}
.s10-left {
	overflow: hidden;
}
.s10-slider {
	float: left;
	width: 687px;
	height: 474px;
	text-align: center;
}
.s10-slide {
}
.s10-slide-img {
	width: 687px;
	height: 474px;
}
.s10-slide-img > img, .s10-slider-thumb > img {
	width: 100%;
	height: 100%;
}
.s10-slider-thumbs {
	float: left;
	margin: 0 0 0 8px;
	height: 474px;
}
.s10-slider-thumb {
	margin: 0 0 10px 0;
	width: 111px;
	height: 111px;
	cursor: pointer;
}
.s10-slider-thumb:last-child {
	margin: 0;
}
.nicescroll-cursors {
	cursor: pointer;
}
#ascrail2000 {
	display: block !important;
}
.s10-right {
	margin: 0 0 0 -36px;
}
.s10-slide-info {}
.s10-slide-heading {
	margin: -4px 0 0 0;
	font: 32px "frm-b";
	color: #010101;
}
.s10-slide-block {
	margin: 26px 0 0 0;
	width: 290px
}
.s10-slide-block-title {
	font: 21px "frm-b";
	text-transform: uppercase;
	color: #020202;
}
.s10-slide-block-text {
	font: 18px "frm-l";
	color: #000;
}
.s10-slide-block:last-child {
	margin: 33px 0 0 0;
	white-space: nowrap;
}
.s10-slide-block:last-child > img {
	margin: -10px 0 0 8px;
}
.s10-slide-btn {
	margin: -1px 0 0 12px;
	display: inline-block;
	width: 152px;
	height: 55px;
	font: 15px/53px "frm-l";
	text-align: center;
}
.s10-info {
	padding: 26px 0 0 0;
	color: #020202;
}
.s10-info-content {}
.s10-info-heading {
	font: 21px "frm-b";
	text-transform: uppercase;
}
.s10-info-text {
	margin: 18px 0 0 0;
}
.s10-info-text p {
	margin: 0 0 23px 0;
	max-width: 1143px;
	font: 18px/24px "frm";
	letter-spacing: 0.1px;	
	text-align: justify;
}
.s10 + .s4 {
	padding: 44px 0 124px;
}
.s10 + .s4 .s-title {
	margin: -4px 0 11px 3px;
}