@font-face {
	font-family: 'Fedra-Book';
	src: url('../fonts/FedraSansPro-Book.eot');
	src: local('☺'), url('../fonts/FedraSansPro-Book.woff') format('woff'), url('../fonts/FedraSansPro-Book.ttf') format('truetype'), url('../fonts/FedraSansPro-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fedra-Demi';
	src: url('../fonts/FedraSansPro-Demi.eot');
	src: local('☺'), url('../fonts/FedraSansPro-Demi.woff') format('woff'), url('../fonts/FedraSansPro-Demi.ttf') format('truetype'), url('../fonts/FedraSansPro-Demi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fedra-Medium';
	src: url('../fonts/FedraSansPro-Medium.eot');
	src: local('☺'), url('../fonts/FedraSansPro-Medium.woff') format('woff'), url('../fonts/FedraSansPro-Medium.ttf') format('truetype'), url('../fonts/FedraSansPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/MyriadProRegular.woff") format("woff"),
		url("../fonts/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

