html, body {
	height: 100%;
}
body {
	color: red;
	background: #fff;
}
.green-btn {
	display: inline-block;
	padding: 0;
	width: 255px;
	height: 60px;
	border: 0;
	border-radius: 5px;
	font: 18px/61px "Fedra-Medium";
	text-align: center;
	text-transform: uppercase;
	text-decoration: none !important;
	color: #fff !important;
	background: #24c358;
}
.p-title {
	font: 36px "Fedra-Medium";
	text-align: center;
	color: #282828;
}
.parus-in-title {
	position: relative;
	color: #0086cd;
}
.parus-in-title:after {
	content: "";
	position: absolute;
	left: 3px;
	bottom: -15px;
	width: 148px;
	height: 20px;
	background: url("../img/p2-volna.png");
}


.header-top {
	height: 79px;
	background: #0086cd;
}
.header-top > .container-fluid {
	width: 1170px;
}
.header-top [class*="col-"] {
	padding: 0;
}
.header-top [class*="col-"] > * {
	display: inline-block;
	text-align: left;
	white-space: nowrap;
}
.header-top, .header-top a {
	font: 16px/1.5 "Fedra-Book";
	text-decoration: none;
	color: #fff;
}
.header-mail {
	margin: 28px 0 0 111px;
	padding-left: 41px;
	background: url("../img/icons/mail.png") no-repeat 0 3px;
}
.header-loc {
	margin: 16px 0 0 111px;
	padding-left: 34px;
	background: url(../img/icons/loc.png) no-repeat 0 9px;
}
.header-phones {
	margin: 9px 0 0 106px;
	padding-left: 35px;
	background: url(../img/icons/phone.png) no-repeat 0 16px;
}
.header-phones > a {
	font: 18px/1.7 "Fedra-Demi"
}

header > nav {
	height: 88px;
}
.header-menu {
	margin: 18px -15px 0 0;
}
.header-menu > li:not(:first-child) {
	margin-left: 20.4px;
}
.header-menu > li > a {
	position: relative;
	font: 18px "Fedra-Book";
	color: #282828;
	background: none !important;
}
.header-menu > li.active > a {
	font: 18px "Fedra-Medium";
	color: #0086cd;
}
.header-menu > li > a:hover:after,
.header-menu > li.active > a:after {
	content: "";
	position: absolute;
	left: 15px;
	bottom: 3px;
	width: calc(100% - 30px);
	height: 2px;
	background: #0086cd;
}


.p1 {
	padding: 171px 0 154px;
	text-align: center;
	background: url("../img/p1-bg.jpg") no-repeat center top;
	background-size: cover;
/*	background-attachment: fixed;*/
}
.p1-title {
	margin-bottom: 38px;
	text-transform: uppercase;
	color: #fff;
}
.p1-title > * {
	margin: 0;
	color: #fff;
}
.p1-title > .p-title {
	margin-bottom: 1px;
}
.p1-title > :nth-child(2) {
	font: 48px "Fedra-Medium";
}
.p1-logo {}
.p-form {
	display: inline-block;
	margin-top: 85px;
}
.p-form > * {
	float: left;
}
.p-form input {
	margin-right: 30px;
	padding: 0 5px 0 30px;
	width: 255px;
	height: 60px;
	border: 1px solid #949494;
	border-radius: 5px;
	font: 18px "Fedra-Book";
	color: #000;
	background: #fff;
}
.p-form > button {}
.p-form input::-webkit-input-placeholder {
	color: #828282;
}
.p-form input::-moz-placeholder {
	color: #828282;
}
.p-form input:-ms-input-placeholder {
	color: #828282;
}  
.p-form input:focus::-webkit-input-placeholder {
	color: #fff;
}
.p-form input:focus::-moz-placeholder {
	color: #fff;
}
.p-form input:focus:-ms-input-placeholder {
	color: #fff;
}


.p2 {
	padding: 72px 0 98px;
	text-align: center;
	color: #282828;
}
.p2-blocks {
	margin-top: 23px;
}
.p2-block {
	margin-top: 67px;
}
.p2-block-img {
	height: 109px;
}
.p2-block-img > img {}
.p2-block-name {
	margin: 0 0 18px 0;
	font: 18px "Fedra-Medium";
	text-transform: uppercase;
}
.p2-block-text {
	margin: 0;
	font: 18px/1.2 "Fedra-Book";
}
.p2-block-text > span {
	color: #0086cd;
}


.p3 {}
.p3-box {
	display: flex;
	height: 622px;
}
.p3-left {
	width: 46.9%;
	background: url("../img/p3-left.jpg") no-repeat center top;
	background-size: cover;
}
.p3-right {
	width: 53.1%;
	background: url("../img/p3-right.jpg") no-repeat center top;
	background-size: cover;
}
.p3-text {
	margin: 23px 0 0 74px;
	max-width: 528px;
	color: #fff;
}
.p3 .p-title {
	margin: 0 0 20px 0;
	text-align: left;
	color: #fff;
}
.p3-text p {
	margin-bottom: 20px;
	font: 16px/1.2 "Fedra-Book";
}


.p4 {
	padding: 92px 0 95px;
}
.p4 .p-title {
	margin: 0;
}
.p4-blocks {
	margin: 65px -15px 0 15px;
}
.p4-blocks > div {
	padding: 0;
}
.p4-block {
	position: relative;
	width: 350px;
	height: 449px;
	border-radius: 5px;
	box-shadow: 0 1px 3px black;
}
.p4-blocks > div:first-chid .p4-block {
	float: left;
}
.p4-blocks > div:last-chid .p4-block {
	float: right;
}
.p4-block-info {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 27px 0 0 20px;
	width: 100%;
	height: 165px;
	color: #fff;
	background: rgba(40,40,40,0.8);
	overflow: hidden;
}
.p4-block-name {
	margin-top: 0;
	min-height: 34px;
	font: 24px "Fedra-Medium";
}
.p4-block-price {
	margin: 0;
	font: 24px "Fedra-Book";
}
.p4-block-price > span {
	font: 30px "Fedra-Medium";
	color: #00ff53;
}
.p4-block-price > span > span {
	font-size: 17px;
}
.p4-block .green-btn {
	position: absolute;
	left: 50%;
	bottom: -30px;
	margin-left: -127px;
}
.p4-bottom {
	margin: 85px auto 0;
	text-align: center;
	color: #282828;
}
.p4-bottom-title {
	margin: 0 0 2px;
	font: 24px "Fedra-Medium";
}
.p4-bottom > p {
	margin: 0;
	font: 18px/1.7 "Fedra-Book";
}
.p4-bottom > p > span {
	font: 18px "Fedra-Medium";
	color: #24c358;
}


.p5 {
	padding: 42px 0 70px;
	text-align: center;
	background: url("../img/p5-bg.jpg") no-repeat center;
	background-size: cover;
}
.p5-photos {
	margin: 53px 0 0 0;
}
.p5-photos > div {
	padding: 0;
}
.p5-photo {
	position: relative;
	display: block;
	margin: 0 auto 32px;
	width: 255px;
	height: 207px;
	border-radius: 5px;
	box-shadow: 0 1px 3px black;
	overflow: hidden;
}
.p5-photo > img {
	width: 100%;
	height: 100%;
}
.p5-photo-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75) url("../img/p5-zoom.png") no-repeat center;
	opacity: 0;
	transition: all 0.3s;
}
.p5-photo:hover .p5-photo-bg {
	opacity: 1;
}
.p5 .green-btn {
	margin-top: 19px;
}


.p6 {
	padding: 69px 0 80px;
	text-align: center;
	background: url("../img/p6-bg.jpg") no-repeat center;
	background-size: cover;
}
.p6-title {
	font: 48px "Fedra-Medium";
	color: #fff;
}
.p6-title > span {
	color: #24c358;
}
.p6 .p-form {
	margin-top: 81px;
}


.p7 {
	padding: 72px 0 100px;
	text-align: center;
	overflow: hidden;
}
.p7-slider {
	margin: 61px 0 36px;
}
.p7-slide {
	color: #282828;
}
.p7-slide-img {
	display: inline-block;
	width: 220px;
	height: 204px;
	border-radius: 5px;
	box-shadow: 0 1px 3px #5f5f5f;
	overflow: hidden;
}
.p7-slide-img > img {
	width: 100%;
	height: 100%;
}
.p7-slide-box {
	position: relative;
	display: inline-block;
	margin-bottom: 88px;
}
.p7-slide-box:after {
	content: "";
	position: absolute;
	left: 76px;
	bottom: -35px;
	width: 67px;
	height: 41px;
	background: url("../img/p7-kavichki.png");
}
.p7-slide-author {
	margin: 0 0 4px;
	font: 18px "Fedra-Medium";
}
.p7-slide-text {
	font: 16px/1.5 "Fedra-Medium";
	letter-spacing: -0.4px;
}
.p7-slider .slick-arrow {
	position: absolute;
	top: 81px;
	padding: 0;
	border: 0;
	background: none;
}
.p7-slider .slick-prev {
	left: -51px;
}
.p7-slider .slick-next {
	right: -51px;
}
.p7-slider .slick-next > img {
	transform: rotate(180deg);
}
.slick-arrow, .slick-slide {
	outline: none;
}


footer {
	background: url("../img/footer-bg.jpg") no-repeat center;
	background-size: cover;
}
.footer-box {
	display: flex;
	padding: 0 15px;
	height: 481px;
}
.footer-box > div {
	float: left;
}
.footer-left {
	width: 380px;
	text-align: center;
	background: rgba(0,134,205,0.8);
}
.footer-contacts {
	margin: 33px 0 28px;
}
.footer-icon {}
.footer-link {
	margin-top: 4px;
}
.footer-contact {
	margin-bottom: 26px;
}
.footer-contact:last-child {
	margin-bottom: 0;
}
.footer-contact a {
	font: 16px/1.5 "Fedra-Book";
	text-decoration: none;
	color: #fff;
}
.footer-contact:nth-child(2) a {
	font: 18px "Fedra-Demi";
	margin-right: 8px;
}
.footer-contact:nth-child(2) a:last-child {
	margin-right: 0;
}
.footer-social {}
.footer-social > a {
	display: inline-block;
	margin: 0 3px;
	width: 56px;
	height: 56px;
	line-height: 56px;
	border: 1px solid #fff;
	border-radius: 50%;
	overflow: hidden;
}
.footer-social > a > i {
	position: relative;
	font-size: 26px;
	color: #fff;
}
.footer-social > a > i.fa-facebook {
	top: 4px;
}
.footer-copy {
	margin: 14px 0 0;
	font: 16px/1.9 "MyriadProRegular";
	color: #fff;
}
.footer-right {
	width: calc(100% - 380px);
	background: url("../img/footer-map.jpg") no-repeat center;
	background-size: cover;
}
#map {
	height: 100%;
}