/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 470px) {
	header .menu-btn > span {
		display: inline;
	}
}
@media (min-width: 531px) {
	.s6-title {
		margin-top: 0;
	}
	.s6-items {
		margin-top: 55px;
	}
	.s8-line-1 .s8-item {
		width: 95%;
	}
	.footer-right-items {
		width: 83%;
	}
	.footer-center-text {
    	max-width: 290px; 
	}
	.footer-left-menu {
		margin: 52px auto 0;
	}
	.footer-center-text {
		margin: 58px auto 0;
	}
	.footer-right-items {
		margin: 56px auto 0;
	}	
}
@media (max-width: 530px) {
	.s6 {
		height: auto;
	}
	.s6-items {
		margin-bottom: 20px;
	}
	.s6-items > div {
		width: 100%;
	}
	.s8-line-1 > div {
		width: 100%;
	}
	.s8-line-2 > div {
		width: 50%;
	}
	.footer-left, .footer-center {
		width: 100%;
	}
	.footer-left-menu {
    	width: 100%; 
	}
	#footer-container {
		padding: 0;
	}
	
	.s5 > .container-fluid {
		padding: 0;
	}
	.s5-slider {
		margin: 10px auto 35px;
		width: 300px;
		border: 10px solid #000;
		border-radius: 15px;
	}	
	.s5-slider:before {
		display: none;
	}
}
@media (max-width: 500px) {
	.s4-img-box {
		width: 320px;
		height: 190px;
	}
}
@media (min-width: 501px) and (max-width: 667px) {
	.s4 > .container {
		padding: 0;
	}
	.s4-img-box {
		width: 500px;
		height: 296px;
	}
}
@media (max-width: 767px) {
	.s9-left, .s9-right {
		padding: 0;
	}
	.s9-img-box > img {
		max-width: 100%;
		height: auto;
	}
	.s9-btn > img {
		transform: scale(0.5);
	}
	.s9-btn-right > img {
		transform: scale(0.5) rotate(-180deg);
	}
	.s2-img-box {
		width: 100%;
	}
	.s9-slide > .container {
		width: 100% !important;
		padding: 0 30px;
	}
	
	.s8-modal {
		padding: 20px 30px;
	}
	.s8-modal-right > * {
		float: none !important; 
	}
	.s8-modal .freedemo-btn {
		display: block;
		margin: 20px auto 25px;
	}
	.s8-modal-title {
		text-align: center;
	}
	.s8-modal-text {
		text-align: left;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.s1-title {
		font: 48px "lato-sb";
	}
	.s2 {
		height: 100px;
	}
	.s2-img-box {
		width: 20%;
		height: 100px;
		line-height: 100px;
	}
	.s3-title {
		font: 48px "lato-sb";
	}
	.s4 {
		min-height: 523px;
	}
	.s4-right {
		padding: 0;
	}
	.s5-video {
		margin: 15px auto;
	}
	.s8 {
		padding: 0;
		height: 550px;
	}
	.s8-line-1 .s8-item {
		margin-bottom: 20px;
		height: 180px;
	}
	.s8-line-2 .s8-item {
		margin-bottom: 0;
	}
	.s9-btn {
		width: 50px;
	}
	.s10 {
		padding: 0;
		height: 140px;
	}
	.s10-img-box {
		width: 20%;
	}
	.s10-heading {
		margin: 23px auto 13px;
	}
	.s11 {
		padding: 0;
	}
	.s11-item {
		width: 96%;
	}
	.s11-title {
		margin: 84px auto 24px;
	}
	.s11-item-box {
		margin-bottom: 0;
	}
	.s12 {
		height: 200px;
	}
	.footer-right-items {
		width: auto;
	}
	.footer-center-text {
		max-width: none;
	}
	.s8-items {
		margin-bottom: 30px;
	}	
}


@media (max-width: 991px) {
	.s5 {
		padding-bottom: 160px;		
	}
	.s5-slider {
		display: none;
	}
	.s9-img-box > img {
		width: 100%;
	}
	.s9-slide > .container {
		width: 715px;
	}
}
	
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.header-center-menu a {
		padding: 10px 15px !important;
	}
	.s4-left-content {
		margin-top: 79px;
	}
	.s4-title {
		max-width: 210px;
	}
	.s4-text {
		max-width: 274px;
	}
	.s4-img-box {
		margin: 64px 0 0 0;
	}
	.s4-left-content {
		text-align: left;
	}
	.s5-video {
		margin: 15px auto 52px;
	}
	.s6 {
		min-height: 500px;
	}
	.s7 {
		padding: 0;
		height: 756px;
	}
	.s7-items {
		margin-top: 2px;
	}
	.s7-img-box {
		height: 287px;
	}
	.s7-right .s7-img-box > img {
		margin-top: 102px;
	}
	.s7-left .s7-img-box > img {
		margin-left: -51px;
	}
	.s7-left .s7-item-description {
		float: right;
	}
	.s7-right .s7-item-description {
		float: left;
	}
	.s8 {
		height: 650px;
	}
	.s8-line-1 .s8-item {
		width: 220px;
		height: 220px;
	}
	.s8-line-2 .s8-item {
		width: 140px;
	}
	.s9 {
		height: 500px;
	}
	#s9-slider {
		padding: 0;
	}
	.s9-title {
		margin: 53px 0 -1px;
	}
	.s9-quote > blockquote {
		margin-top: 60px;
	}
	.s9-img-box {
		margin-top: 50px;
	}
	.s9-img-box {
		height: 400px;
		line-height: 400px;
	}
	.s11-item {
		width: 300px;
	}
	.s11-item-text { 
		width: 300px;
	}
	.s5-slider {
		margin: 112px 15% 30px 53px;
	}
	.s5-vert-slider {
		margin: 12px 0 0 0;
	}
	.s5-vert-slider, .s5-slider{ 
		float: right;
	}
	.s5 {
		padding-bottom: 160px;
	}
	@keyframes move {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 560px;
			left: -380px;
			opacity: 0.2;
			transform: scale(0.4);
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.header-center-menu a {
		padding: 10px 19px !important;
	}
	.s5-left-content {
		display: inline-block;
		margin-top: 82px;
	}
	.s2-items {
		padding: 0 2.9%;
	}
	.s5-img-2 {
		margin: 86px -71px 0 -32px;
		max-width: none;
	}
	.s4-left {
		text-align: right;
	}
	.s5 {
		padding-bottom: 0;
		 min-height: 627px; 
		background: none;
	}
	.s5-right  {
		padding: 0;
		text-align: left;
	}
	.s4-left-content {
		margin-right: -35px;
	}
	.s5-right-content {
		margin-top: 133px;
		color: #fff;
	}
	.s5-text {
		max-width: 381px;
	}
	.s4-text {
		max-width: 300px;
	}
	.s4-img-box {
		margin: 64px 0 0 52px;
	}
	.s5-right-content {
		margin-left: 35%;
	}

	.s5-slider {
		margin: 113px -21% 0 49px;
	}
	.s5-text {
		max-width: 435px;
	}
	.s5-video {
		margin: 105px auto 0;
	}
	.s6-items {
		padding: 0 8%;
	}
	.s7-right .s7-img-box > img {
		margin-left: -91px;
	}
	.s8-items {
		padding: 0 7.8%;
	}
	.s9-left {
		padding: 0 0 0 8.6%;
	}
	.s9-btn {
		width: 80px;
	}
	.s10-items {
		padding: 0 3.3%;
	}
	.s11-items {
		padding: 0 7.8%;
	}
	.footer-center-text {
		width: 300px;
	}
	.footer-right-items {
		width: 300px;
	}
}