body {
	min-width: 320px;
	font-family: 'sf-ui';
	color: #2F3132;
	background: #fff;
	overflow-x: hidden;
}
section {
	position: relative;
}
a, button, .slick-slide {
	outline: 0 !important;
}

header {
	min-height: 90px;
}
header > nav {
	padding: 21px 0 17px;
	background: #fff;
}
header > nav > div {
	width: 1170px;
}
header .navbar-brand {
	margin: 2px 0 0 -13px !important;
	padding: 0;
}
header .navbar-collapse a {
	text-transform: uppercase;
	text-decoration: none;
}
.header-menu {
	margin: 11px 8px 11px 0;
}
.header-menu li:not(:last-child) {
	margin-right: 21.5px;
}
.header-menu li > a {
	position: relative;
	padding: 5px 10px !important;
	font: 13px "sf-ui";
	color: #2F3132;
	background: none !important;
	transition: all 0.2s;
}
.header-menu li > a:hover,
.header-menu li.active > a {
	color: #168BCA;
}
.header-menu li.active > a:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -11px;
	margin-left: -3px;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background: #168BCA;
}
.header-menu li:last-child > a {
	display: none;
}
.header-login {
	float: right;
	margin-right: -15px;
}
.header-login > a {
	display: block;
	width: 100px;
	height: 46px;
	line-height: 49px;
	border-radius: 100px;
	color: #fff;
	text-align: center;
	background: linear-gradient(180deg, #078BD3 0%, #1076AD 100%);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
}
header .navbar-toggle {
	border-color: #168BCA;
}
header .navbar-toggle > span {
	background: #168BCA;
}


.s1 {
	height: 654px;
	color: #fff;
}
.s1 > .container {
	position: relative;
}
.s1 > img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.s1-content {
	margin: 139px 0 0 -15px;
	max-width: 76%;
}
.s1-title {
	margin: 0 0 32px;
	font: 50px/1.1 "sf-ui-sb";
	letter-spacing: 0.2px;	
}
.s1-description {
	margin: 0 0 22px 1px;
	padding-left: 21px;
	border-left: 3px solid #fff;
	font: 20px/1 "sf-ui-sb";
	letter-spacing: -0.25px;
}
.s1-text {
	font: 15px/1.9 "sf-ui";
}

.s1-bottom {
	position: absolute;
	left: 0;
	bottom: -37px;
	width: 100%;
	text-align: center;
}
.s1-bottom-title {
	display: block;
	margin: 28px 0 18px;
	font: 20px "sf-ui";
}
.s1-play-btn, .s1-play-btn *:not(img) {
	display: inline-block;
	border-radius: 50%;
}
.s1-play-btn * {
	position: absolute;
	left: 50%;
	top: 50%;
}
.s1-play-btn {
	position: relative;
	height: 101px;
	width: 101px;
	border: 1px solid #168BCA;
	color: #2088c6 !important;
}
.s1-play-btn > span {
	margin: -37px 0 0 -37px;
	height: 74px;
	width: 74px;
	background: rgba(255,255,255,0.75);
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.1);
}
.s1-play-btn > span > span {
	margin: -30px 0 0 -30px;
	height: 60px;
	width: 60px;
	background: linear-gradient(180deg, #fff 0%, #F3F3F3 100%);
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.13);
}
.s1-play-btn img {
	margin: -12px 0 0 -8px;
	width: 22px;
}


.s2 {
	padding-top: 137px;
	z-index: 1;
}
.sec-title {
	margin: 0 0 14px;
	font: 40px/1.2 "sf-ui-b";
	text-align: center;
}
.sec-text {
	padding: 0 8%;
	font: 15px/28px "sf-ui";
	text-align: center;
}
.sec-text-b {
	margin-top: 20px;
	font: 16px/19px "sf-ui-b";
	text-align: center;
}
.s2 .sec-text-b br {
	display: none;
}
.sec-row {
	text-align: center;
}
.s2 .sec-row {
	margin-top: 29px;
}


.s3, .s4, .s5 {
	background: #f6fbfe;
}
.s3 {
	margin-top: -200px;
	padding-top: 238px;
}
.s3 > img, .s5 > img {
	position: absolute;
	left: 0;
	width: 100%;
	height: 160px;
}
.s3 > img {
	top: 0;
}
.s5 > img {
	bottom: 0;
}
.sec-number {
	font: 50px "sf-ui-b";
	text-align: center;
	color: #D5E2EA;
}
.sec-big-title {
	margin: 0;
	font: 120px/1 "sf-ui-b";
	text-align: center;
	color: #EAF3F8;
}

.s3 > .container > .row {
	margin-top: -69px;
}
.sec-row-text {
	font: 28px/1.37 "sf-ui-b";
}
.s3 .sec-row-text {
	margin-top: 119px;
	max-width: 434px;
}
.s3-form {
	float: right;
	display: inline-block;
	padding: 40px 31px 34px 29px;
	width: 370px;
	border-radius: 4px;
	background: #168BCA;
	box-shadow: 0 8px 70px 0 rgba(0,0,0,0.1);
}
.s3-form .form-group {
	margin-bottom: 34px;
}
.s10-form input, .s3-form input {
	padding-left: 15px;
	height: 46px;
	border: 0;
	border-radius: 2px;
	font: 14px "sf-ui";
	color: #2F3132;
	box-shadow: none;	
}
.s3-form input::-webkit-input-placeholder 		{ color: #BFBFBF; }
.s3-form input::-moz-placeholder          		{ color: #BFBFBF; }
.s3-form input:-ms-input-placeholder      		{ color: #BFBFBF; }
.s10-form input::-webkit-input-placeholder 		{ color: #BFBFBF; }
.s10-form input::-moz-placeholder          		{ color: #BFBFBF; }
.s10-form input:-ms-input-placeholder           { color: #BFBFBF; }
.s10-form textarea::-webkit-input-placeholder 	{ color: #BFBFBF; }
.s10-form textarea::-moz-placeholder         	{ color: #BFBFBF; }
.s10-form textarea:-ms-input-placeholder        { color: #BFBFBF; }
.s3-form input:focus::-webkit-input-placeholder { color: #fff; }
.s3-form input:focus::-moz-placeholder          { color: #fff; }
.s3-form input:focus:-ms-input-placeholder      { color: #fff; }
.s10-form input:focus::-webkit-input-placeholder{ color: #fff; }
.s10-form input:focus::-moz-placeholder         { color: #fff; }
.s10-form input:focus:-ms-input-placeholder     { color: #fff; }
.s10-form textarea:focus::-webkit-input-placeholder{ color: #fff; }
.s10-form textarea:focus::-moz-placeholder         { color: #fff; }
.s10-form textarea:focus:-ms-input-placeholder     { color: #fff; }
.white-btn {
	position: relative;
	display: inline-block;
	padding: 0;
	width: 170px;
	height: 46px;
	border: 0;
	border-radius: 100px;
	font: 13px/45px "sf-ui";
	text-align: center;
	text-decoration: none !important;
	color: #168BCA !important;
	background: linear-gradient(180deg, #FFFFFF 0%, #E9E9E9 100%);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
}
.s3-form > button {
	float: right;
	margin: -4px 2px 0 0;
}
.s3 .sec-row {
	margin-top: 37px;
}


.s4 {
	padding: 20px 0 0;
}
.s4 .sec-row-text {
	margin: 189px 0 0 83px;
}
.s4 > .container > .row {
	margin-top: -70px;
}
.s4 > .container > .row img {
	margin-left: -83px;
}
.s4 .sec-row {
	margin-top: 43px;
}


.s5 {
	padding: 36px 0 83px;
}
.s5 > img {
	padding: 36px 0 0;
}
.s5 .sec-row-text {
	margin: 77px 0 0 0;
	max-width: 499px;
}
.s5 > .container > .row {
	margin-top: -65px;
}
.s5 > .container > .row img {
	margin-left: 96px;
}
.s5 .sec-text {
	margin-top: 45px;
}


.s6 {
	padding: 32px 0 0;
}
.s6-blocks {
	width: 703px;
	margin-left: 255px;
}
.s6-block:not(:last-child) {
	margin-bottom: 34px;
}
.s6-block > h4 {
	font: 18px/21px "sf-ui-b";
	color: #168BCA;
}
.s6-block > p {
	position: relative;
	margin-top: 21px;
	padding: 1px 0 17px;
	font: 16px/26px "sf-ui";
	letter-spacing: 0.02px;
}
.s6-block > p:before {
	content: "";
	position: absolute;
	left: -42px;
	top: 0;
	width: 1px;
	height: 70px;
	background: #168BCA;
}
.s6-block:nth-child(2) > p:before {
	top: 6px;
}
.s6-block:nth-child(3) > p:before {
	top: 9px;
}
.s6-block:nth-child(3) > p {
	margin-top: 14px;
}
.s6 .sec-row {
	margin-top: 3px;
}


.s7 {
	padding: 0 0 52px;
}
.s7-blocks {
	margin: 39px -30px 0;
}
.s7-block {
	position: relative;
	text-align: center;
}
.s7-block-img {
	height: 116px;
}
.s7-block-img > img {}
.s7-block-title {
	font: 16px "sf-ui-b";
}
.s7-block-text {
	display: inline-block;
	margin: 7px 0 0;
	max-width: 242px;
	font: 14px/26px "sf-ui";
	color: #5F5F5F;
}
.s7-blocks > div:not(:last-child) .s7-block:after {
	content: "";
	position: absolute;
	right: -100px;
	top: 40px;
	width: 170px;
	height: 6px;
	background: url("../img/cirles.png") no-repeat 0 0;
}


.s8 {
	height: 300px;
	text-align: center;
	color: #fff;
	background: url("../img/tryforfree-bg.jpg") no-repeat center top;
	background-size: cover;
}
.s8-content {
	position: relative;
	margin-top: 70px;
}
.s8-text {
	margin: -3px 0 18px;
	font: 20px/1.2 "sf-ui";
}
.s8 .white-btn:before, .s8 .white-btn:after {
	content: "";
	position: absolute;
	top: 21px;
	width: 88px;
	height: 6px;
	background: url("../img/cirles3.png") no-repeat 0 0;
}
.s8 .white-btn:before {
	left: -118px;
}
.s8 .white-btn:after {
	right: -118px;
}


.s9 {
	padding: 100px 0 0;
}
.s9 .sec-text {
	margin: 34px 0 34px;
	font: 16px/26px "sf-ui";
}
.s9-stories-box {
	position: relative;
	background:	url("../img/radius-top.png") no-repeat center 127px,
		linear-gradient(to bottom, #fff 0px, #fff 127px, #f6fbfe 127px, #f6fbfe 100%);
	overflow: hidden;
}
.s9-stories {
	position: relative;
	margin: 0 -30px;
	padding: 68px 0 73px;
}
.s9-story {
	width: 100%;
	height: 610px;
	border: 1px solid rgba(0,0,0,0.07);
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.07);
}
.s9-story-top {
	position: relative;
	height: 58px;
}
.s9-story-top > div {
	padding: 0;
	white-space: nowrap;
}
.s9-story-author-img {
	position: absolute;
	left: 14px;
	top: 4px;
	width: 39px;
	height: 39px;
	border-radius: 50%;
	overflow: hidden;
}
.s9-story-author-img > img {
	width: 100%;
	height: 100%;
}
.s9-story-author-name {
	position: absolute;
	left: 67px;
	top: 14px;
	font: 14px "sf-ui-b";
}
.s9-story-date {
	position: absolute;
	right: 29px;
	top: 15px;
	font: 13px "sf-ui";
	color: #BFBFBF;
}
.s9-story-img {
	margin: 0 -1px;
	height: 223px;	
}
.s9-story-img > img {
	width: 100%;
	height: 100%;
}
.s9-story-main {
	padding: 18px 29px 0;
}
.s9-story-title {
	max-height: 56px;
	font: 16px/28px "sf-ui-b";	
	overflow: hidden;
}
.s9-story-text {
	height: 140px;
	font: 15px/28px "sf-ui";
	overflow: hidden;
}
.s9-story-btn {
	float: right;
	margin-top: 9px;
	width: 100px;
	height: 46px;
	border-radius: 100px;
	font: 13px/47px "sf-ui";
	text-align: center;
	text-decoration: none !important;
	color: #fff !important;
	background: linear-gradient(180deg, #078BD3 0%, #1076AD 100%);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
}
.s9-stories-btn {
	position: absolute;
	top: 330px;
	padding: 0;
	width: 74px;
	height: 74px;
	border: 0;
	border-radius: 50%;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
	transition: all 0.2s;
}
.s9-stories-btn > img {
	width: 100%;
	height: 100%;
}
.s9-stories-btn:first-child {
	left: -76px;
}
.s9-stories-btn:last-child {
	right: -82px;
}
.s9-stories-btn:last-child img {
	transform: rotate(180deg);
}


.s10 {
	padding-top: 71px;
	height: 620px;
	color: #fff;
	background: url("../img/bg-footer.jpg") center top;
	background-size: cover;
}
.s10 .sec-text {
	padding: 0 7%;
	margin: 21px 0 25px;
	font: 16px/26px "sf-ui";
}
.s10-form {
	width: 680px;
	margin: 0 auto;
}
.s10-form .form-group {
	margin-bottom: 30px;
}
.s10-form textarea {
	margin-left: 1px;
	padding: 13px 10px 10px 16px;
	border: 0;
	border-radius: 2px;
	height: 122px;
	box-shadow: none;
	resize: none;
}
.s10-form > button {
	float: right;
	margin-right: 14px;
}


footer {
	position: relative;
	margin-top: -129px;
	height: 129px;
	border-top: 1px solid rgba(255,255,255,0.15);
}
.footer-content {
	padding: 47px 172px 0 186px;
}
.footer-content > div {
	padding: 0;
}
.footer-content > div:first-child {
	text-align: right;
}
.footer-logo {
	display: inline-block;
}
.footer-menu {
	display: inline-block;
	margin: 4px 0 0;
	padding: 0;
	list-style: none;
}
.footer-menu > li {
	float: left;
	margin-left: 9.5px;
}
.footer-menu > li > a {
	display: block;
	padding: 5px 12px;
	font: 11px "sf-ui";
	text-transform: uppercase;
	color: #fff;
}