@font-face {
	font-family: 'calibri';
	src: url('../fonts/CALIBRI.eot');
	src: local('☺'), url('../fonts/CALIBRI.woff') format('woff'), url('../fonts/CALIBRI.ttf') format('truetype'), url('../fonts/CALIBRI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'calibri-b';
	src: url('../fonts/CALIBRIB.eot');
	src: local('☺'), url('../fonts/CALIBRIB.woff') format('woff'), url('../fonts/CALIBRIB.ttf') format('truetype'), url('../fonts/CALIBRIB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}







.form26 {
	margin-top: 50px;
}
.form26-tabs {
	margin: 0 auto;
	width: 1714px;
}
.form26-tabs-links {
	border-bottom: 0;
}
.form26-tabs-links > li > a {
	margin: 0 !important;
	padding: 0 !important;
	width: 294px;
	height: 70px;
	border: 0 !important;
	border-radius: 0;
	font: 48px/64px "calibri-b";
	text-align: center;
	color: #fff !important;
	background: #439a63 !important;
	box-shadow: 2.3px 3.3px 4px #000;
}
.form26-tabs-links > li.active > a {
	background: #ffcd0d !important;
}
.form26-tabs-links > li {
	position: relative;
}
.form26-tabs-links > li.active:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -60px;
	width: 100%;
	height: 34px;
	background: #439a63 !important;
	box-shadow: 2.3px 3.3px 4px #000;
	z-index: -1;
}

.form26-tabs-links > li:nth-child(1) {
	margin-right: 62px;
}
.form26-tabs-links > li:nth-child(2) {
	margin-right: 54px;
}
.form26-tabs-links > li:nth-child(3) {
	margin-right: 57px;
}
.form26-tabs-links > li:nth-child(4) {
	margin-right: 71px;
}

.form26-tabs-links-line {
	margin: 61px 0 0 0;
	height: 12px;
	background: #439a63;
	box-shadow: 2.3px 3.3px 4px #000;
}
.form26-tabs-content {
	margin: 22px 0 0 0;
}
.form26-tab-box {}
.form26-tab-box > * {
	padding: 0;
}
.form26-tab-left {}
.form26-tab-right {}
.form26-tab-left-box {
	margin: 0 0 0 4px;
	padding: 25px 0 0 0;
	width: 614px;
	height: 544px;
	box-shadow: 0 0 9px #000;
}
.form26-tab-left-box > .form-group {
	margin-bottom: 26px;
}
.form26-tab-right-box {
	margin: 0 0 0 8px;
	width: 992px;
	height: 544px;
	box-shadow: 0 0 9px #000;
}

.form26-tab-left label {
	font: 36px/68px "calibri-b";
	text-indent: 53px;
	color: #000;
}
.form26-tab-left input,
.form26-tab-left select {
	margin: 0 0 0 32px;
	width: 329px;
	height: 76px;
	border: 0;
	border-radius: 0;
	font: 36px/76px "calibri-b";
	color: #000;
	box-shadow: 0 0 4px black;
}
.form26-tab-left select {
	padding: 0;
	font: 48px "calibri-b";
	text-indent: 66px;
	background: #fff url(../img/form26-select-bg.png) no-repeat 98.4% 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}