@media (min-width: 992px) {
	.n2-slide > div > svg {
		height: 446px;
		line-height: 446px;
	}
	.room-left {
		line-height: 400px;
	}
}
@media (min-width: 1261px) {
	.n1 {
		padding: 0 !important;
		height: 100vh !important;
	}
}
@media (min-width: 1360px) {
	.n2-slide-left > img {
		float: left;
	}
	.n2-slide-right > img {
		float: right;
	}
}
@media (min-width: 1360px) and (max-width: 1400px) {
	.n2-slide {
		padding: 0 18px;
	}
}
@media (min-width: 1400px) {
	.n3-cols {
		margin: 80px -21px 113px;
	}
	.n2-left {
		left: -33px;
	}
	.n2-right {
		right: -33px;
	}
}
@media (min-width: 1530px) {
	.n2-left {
		left: -89px;
	}
	.n2-right {
		right: -89px;
	}
	.n1 > img, .n4 > img {
		display: block;
	}
}
@media (max-width: 1500px) {
	.n1-main {
		max-width: 910px;
	}
}
@media (max-width: 1359px) {
	.n2-slides {
		margin: 80px auto 10px;
	}
	.n2-left {
		left: -40px;
	}
	.n2-right {
		right: -40px;
	}
	.n2, .n3 {
		padding: 70px 0 0;
	}
	.n2-slide > div > img, .n2-slide > div > svg {
		max-height: 415px;
	}
	.mfp-content {
		max-width: 1030px;
	}
}
@media (max-width: 1260px) {
	.leftcol {
		left: -271px;
	}
	main {
		padding-left: 0;
	}
}
@media (max-width: 991px) {
	.n2, .n3 {
		padding: 45px 0 0;
	}
	.n3-cols {
		margin: 50px 0 40px;
	}
	.n3-col {
		width: 300px;
	}
	.n1-title {
		margin: 32px 0 0;
	}
	.n1-title-desr > br {
		display: inline;
	}
	.n2-slides {
		margin: 50px auto 0;
	}
	.n2-slide > div > svg {
		margin-top: 15px;
	}
	.n4-form {
		 width: 100%; 
	}
	.n4-form textarea {
		width: 100%;
	}
	.n4-form input:not([type="submit"]), .n4-form select {
		width: 330px;
	}
	.mfp-content {
		max-width: 800px;
	}
	.room-right {
		padding: 0;
	}
}
@media (max-width: 767px) {
	.n1 {
		padding: 0 15px;
		height: 100vh;
	}
	.n1-main {
		width: 520px;
		height: 295px;
		border-width: 4px;
	}
	.n1-title {
		font: 80px "Century";
		border-width: 4px;
	}
	.n1-title-desr {
		font: 32px "Century";
	}
	.n4 {
		padding: 40px 10px 0;
	}
	.n4-form {
		margin: 30px auto 0;
		max-width: 500px;
	}
	.n4-form input:not([type="submit"]), .n4-form select {
		width: 100%;
	}
	.n4-form-top select {
		float: none;
		margin-bottom: 30px;
	}
	.n4-form textarea {
		margin-top: 0;
	}
	.n4-form input[type="submit"] {
		width: 240px;
	}
	.mfp-container {
		padding: 0;
	}
	.room {
		padding: 15px;
	}
	.room-name {
		font-size: 40px;
	}
	.room-main {
		margin: 25px 0 0 0;
	}
	.room-heading {
		margin: 30px 0 0 0;
		font-size: 32px;
	}
	.room-col {
		margin: 0 auto;
		width: 320px;
		padding: 0 0 31px 57px !important;
	}
	.room-col:nth-child(2) {
		background-position: 14px 6px;
	}
	.room-col:nth-child(4) {
		background-position: 14px 3px;
	}
}
@media (min-width: 451px) and (max-width: 600px) {
	.n1-main {
		width: 450px;
	}
}
@media (max-width: 450px) {
	.n-title {
		font-size: 40px;
	}
	.n1 {
		padding: 0;
		height: 100vh;
	}
	.n1-main {
		width: 300px;
		height: 245px;
	}
	.n1-title {
		font: 50px "Century";
	}
	.n1-title-desr {
		font: 22px "Century";
	}
	.slick-arrow {
		display: none !important;
	}
	.n4-form input:not([type="submit"]),
	.n4-form select, .n4-form textarea {
		font-size: 24px;
	}
	.n5 {
		padding: 50px 0 46px;
	}
	.n5-title {
		font: 50px "Century";
	}
	.n5-title-descr {
		line-height: 1.5;
	}
	.n5-title-descr > br {
		display: inline;
	}
}